/*
*	Template: Architecture
*	Version: v1.0;
*/

/**	General Styles **/
body,
html{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
	overflow-x: hidden;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100% !important;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

/**** Header & Menu Section ****/
nav.navbar .navbar-brand{
	margin-top: 0;
	max-width: 350px;
	display: inline-block
}

.navbar-header h2{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.navbar-header a{
	text-decoration: none;
	color: #ffffff !important;
}

 nav.navbar .navbar-brand img.logo{
   max-width: 300px;
   max-height: 120px;
   display: inline-block
}

nav.navbar.bootsnav{
	background-color: transparent !important;
	border-bottom: none !important;
	z-index: 99;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #ffffff;
    font-family: 'Raleway' , Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Raleway' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

 nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: none;
    border-right: none;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Raleway' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Raleway' , Arial, sans-serif;
    color: #556270;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li > a{
    color: #ffffff;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

.top_box{
	height: 50px;
	overflow-y: auto;
	border-bottom: solid 1px #6f6f6f;
}

.top_info{
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	-ms-flex: 50%;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 600px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info .fab{
	font-size: 16px;
	color: #ffffff
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info > a{
	padding-right: 14px;
}

.left_info .fas:hover,
.right_info .fab:hover{
	opacity: 0.6;
}

.sub_width{
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	-ms-flex: 50%;
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	-ms-flex: 50%;
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #556270;
	width: 150px;
	margin: 0 auto;
	min-height: 30px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 12px;
	font-weight: 600;
	font-family: 'Raleway', Arial sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #556270;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: #ffffff;
	color: #111111;
	border: 1px solid #ffffff;
}

.sliderwrap{
	position: relative;
	top: -140px;
}

.header__content{
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: center;
	align-items: center;
	min-height: 750px;
	height: 100vh;
}

.slide__content{
	position: relative;
	z-index: 0;
	height: 100vh;
	min-height: 800px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slide__content::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.5);
}

.header-title{
	max-width: 650px;
	display: block;
	margin-left: 30px;
	position: relative;
	z-index: 9;
	text-align: left;
}

.header-title__main{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.2em;
	text-align: left;
	display: block;
	color: #ffffff;
}

.header-title__sub{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	color: #d2d2d2;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	padding: 25px 0;
}

.buttoncol{
	max-width: 500px;
	margin: auto;
}

.buttoncol a{
	background-color: #556270;
	width: 150px;
	min-height: 35px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
	font-weight: 600;
	font-family: 'Raleway', Arial sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #556270;
	letter-spacing: 1px;
	text-align: center;
}

.buttoncol a:hover{
	color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
}

.header_box{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
	min-height: 250px;
}

.box_area{
	width: 100%;
}

.box_segment{
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
}

.box_col{
	-ms-flex: 33.33%;
	flex: 33.33%;
	width: 33.33%;
	padding: 0 20px;
}

.box_content{
	max-width: 300px;
	margin: auto;
	padding: 25px;
	text-align: center;
	border: dotted 1px #ffffff;
	transition: 0.5s;
}

.white_bg{
	background-color: #ffffff;
	border: dotted 1px #111111;
}

.box_content a{
	text-decoration: none;
	width: 100%;
}

.box_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding-top: 10px;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: center;
}

.box_content .fas{
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	display: block;
}

.box_content h3{
	color: #ffffff;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 500;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.white_bg h3,
.white_bg p{
	color: #111111;
}

.white_bg .fas{
	color: #556270;
}

.box_content:hover{
	background-color: #ffffff;
	border: dotted 1px #111111;
}

.white_bg:hover{
	background-color: transparent;
	border: dotted 1px #ffffff;
}

.box_content:hover h3,
.box_content:hover p{
	color: #111111;
}

.box_content:hover .fas{
	color: #556270;
}

.white_bg:hover .fas,
.white_bg:hover h3,
.white_bg:hover p{
	color: #ffffff;
}

.slick-dots {
	position: relative;
	z-index: 999999;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
	margin-bottom: -20px;
}

.slick-dots button{
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #ffffff;
	border-radius: 100%;
	background-color: transparent;
	text-indent: -9999px;
}

li.slick-active button{
	background-color: #ffffff;
}

.slick-dots button:hover{
	background-color: #ffffff;
}

.slick-dots li{
	margin: 6px 0.40rem;
}

/**** Main Body Section ****/
.architecture_area_one{
	max-width: 1600px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.architecture_group_one{
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
}

.architecture_box_col{
	-ms-flex: 50%;
	flex: 50%;
	width: 50%;
	padding: 0 20px;
}

.architecture_wide_col{
	-ms-flex: 50%;
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.architecture_box_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	transition: ease-in-out 0.5s;
	display: block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.wide_area{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: column;
	-webkit-align-items: center;
	align-items: center;
}

.wide_box{
	max-width: 800px;
	margin: auto;
}

.wide_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: left;
	line-height: 1.3em;
	margin-top: 0;
}

.wide_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px 0;
	line-height: 1.5em;
}

.info_items{
	margin-bottom: 35px;
}

.info_list{
	padding: 0;
	display: block;
}

.second_list,
.fourth_list{
	padding-left: 60px;
}

.third_list{
	padding-left: 121px;
}

.fifth_list{
	margin-left: -1px;
}

.info_list > .list_num{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 25px;
	font-weight: 600;
	display: inline-block;
	color: #556270;
	text-transform: capitalize;
	letter-spacing: 1px;
	text-align: left;
	border: dotted 1px #111111;
	padding: 15px;
}

.color_bg{
	background-color: #556270;
	color: #ffffff !important;
	border-color: #ffffff !important;
}

.info_list > h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	color: #111111;
	text-transform: capitalize;
	letter-spacing: 1px;
	text-align: left;
	padding-left: 12px;
	max-width: 200px;
	word-break: break-word;
}

.architecture_col_button a{
	background-color: #556270;
	width: 140px;
	min-height: 30px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 12px;
	font-weight: 600;
	font-family: 'Raleway', Arial sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #556270;
	letter-spacing: 1px;
	text-align: center;
}

.architecture_col_button a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111;
}

.architecture_area_two{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.architecture_heading{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.3em;
	margin-top: 0;
}

.architecture_info{
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 7px 0;
	line-height: 1.5em;
}

.architecture_group_two{
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
	padding-top: 40px;
}

.architecture_info_col{
	-ms-flex: 25%;
	flex: 25%;
	width: 25%;
	padding: 0 20px;
}

.architecture_box{
	max-width: 350px;
	margin: auto;
	display: block;
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding: 35px 25px 20px;
	transition: 0.5s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.architecture_box:hover{
	transform: translateX(-7px);
}

.architecture_check{
	float: left;
	width: 15%;
}

.architecture_content{
	float: left;
	width: 85%;
	padding-left: 30px;
}

.color_content{
	background-color: #556270;
}

.architecture_checkbox::before{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	color: #556270;
	border-radius: 50%;
	border: dotted 1px #111111;
	padding: 15px;
}

.architecture_content h3{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	margin-top: 0;
	line-height: 1.5em;
}

.architecture_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding-top: 10px;
}

.color_content h3,
.color_content p{
	color: #ffffff;
}

.border_content{
	border: dotted 1px #111111;
}

.color_content .architecture_checkbox::before{
	color: #ffffff;
	border-radius: 50%;
	border: dotted 1px #ffffff;
}

.architecture_area_three{
	width: 100%;
	margin: 0 0 9em;
	min-height: 400px;
	padding: 7.5em 25px;
	background-color: #f6f6f6;
}

.architecture_group_three{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 30px;
}

.featured_col{
	-ms-flex: 33.33%;
	flex: 33.33%;
	width: 33.33%;
	padding: 25px;
}

.featured_box{
	max-width: 400px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
	transition: 0.5s;
}

.featured_image img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.featured_image{
	overflow: hidden;
	position: relative;
}

.featured_area{
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	background-color: #ffffff;
}

.featured_name{
	min-width: 275px;
	background: #ffffff;
	margin: auto;
	text-align: center;
	position: relative;
	bottom: 30px;
	padding: 15px 40px;
	display: inline-block;
}

.featured_image > a > img{
	transition: ease-in-out 1.25s;
}

.featured_image:hover > a > img{
	transform: scale(1.15);
}

.featured_name h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	display: inline-block;
	font-weight: 700;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
	text-transform: uppercase;
	margin-top: 0;
}

.featured_content{
	position: relative;
	max-width: 400px;
	width: 100%;
	margin: auto;
	bottom: 25px;
	padding: 0 10px;
	text-align: center;
}

.featured_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
}

.architecture_area_four{
	width: 100%;
	min-height: 150px;
	margin-bottom: 9em;
}

.architecture_group_four,
.group_area{
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
}

.architecture_square_col{
	position: relative;
	-ms-flex: 50%;
	flex: 50%;
	width: 50%;
}

.group_col{
	-ms-flex: 50%;
	flex: 50%;
	width: 50%;
	padding: 25px;
}

.group_box{
	max-width: 300px;
	margin: auto;
	width: 100%;
	padding: 35px 0;
	float: left;
	display: block;
	border: dotted 1px #111111;
}

.counter{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 50px;
	font-weight: 700;
	display: block;
	color: #556270;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 0;
}

.group_box_content h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 25px;
	font-weight: 500;
	display: block;
	color: #111111;
	text-align: center;
}

.top_area{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: column;
	-webkit-align-items: center;
	align-items: center;
}

.architecture_square_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	transition: ease-in-out 0.5s;
	display: block;
}

.top_col_box{
	padding: 0 30px;
	max-width: 750px;
	text-align: left;
}

.top_col_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: left;
	margin-top: 0;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.top_col_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px 0;
	line-height: 1.5em;
}

.architecture_area_five{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.architecture_group_five{
	width: 100%;
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
	padding-top: 40px;
}

.blog_col{
	-ms-flex: 33.33%;
	flex: 33.33%;
	width: 33.33%;
	padding: 0 25px;
}

.blog_box{
	max-width: 400px;
	position: relative;
	text-align: left;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
	transition: 0.5s;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.blog_area{
	overflow: hidden;
	position: relative;
	transition: ease-in-out 0.5s;
}

.blog_content{
	padding: 25px 0;
	text-align: left;
	padding-left: 15px;
	padding-right: 5px;
}

.blog_date{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	display: block;
	font-weight: 600;
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
	width: 250px;
}

.blog_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	transition: 0.5s;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.3em;
}

a.blog_btn:hover,
.blog_title a:hover{
	opacity: 0.6;
}

.blog_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 10px 0;
}

a.blog_btn{
	max-width: 120px;	
    color: #111111;
	border-bottom: solid 2px #111111;
	padding-top: 10px;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial sans-serif;
    transition: 0.5s;
    cursor: pointer;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.2em;
	padding-bottom: 3px;
}

a.blog_btn::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.architecture_area_six{
	width: 100%;
	margin: 0 0 9em;
	min-height: 400px;
	padding: 7.5em 0;
	background-color: #f6f6f6;
}

.architecture_group_six{
	width: 100%;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
	padding-top: 40px;
}

.client_grid{
	-ms-flex: 25%;
	flex: 25%;
	width: 25%;
}

.client_grid img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	transition: .5s;
}

.client_box{
	position: relative;
	text-align: center;
	transition: 0.5s;
	overflow: hidden;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	background-color: #ffffff;
}

.client_image{
	overflow: hidden;
}

.client_comment{
	display: block;
	clear: both;
}

.client_name{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
}

.client_area{
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 2em 25px;
}

.client_comment q{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	max-width: 400px;
	margin: auto;
	padding-bottom: 15px;
}

.client_title{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	display: block;
	color: #556270;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.bg_crumb{
	width: 50px;
	margin: auto;
	height: 1px;
	border-bottom: solid 2px #111111;
	padding-top: 35px;
	display: none;
}

.architecture_area_seven{
	width: 100%;
	min-height: 150px;
	margin-bottom: 9em;
}

.architecture_group_seven{
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
}

.architecture_form_col{
	position: relative;
	-ms-flex: 50%;
	flex: 50%;
	width: 50%;
}

.architecture_form_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.form-box{
	text-align: center;
	display: block;
	max-width: 700px;
	padding: 0 30px;
	margin: auto;
	background-color: #ffffff;
}

.form-box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	display: block;
	color: #111111;
	line-height: 1.3em;
	padding-bottom: 12px;
}

.form-row {
	flex-direction: row;
	display: flex;
}

.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"]{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	padding: 4px 20px;
	height: 40px;
	border: none;
	margin: 16px 10px;
	border-bottom: solid 1px #696969;
	flex-grow: 1;
	letter-spacing: 1px;
	transition: 0.5s;
}

.form-box textarea{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	padding: 4px 20px;
	border: none;
	width: auto;
	min-height: 200px;
	margin: 16px 10px;
	border-bottom: solid 1px #696969;
	flex-grow: 1;
	letter-spacing: 1px;
	transition: 0.5s;
}

.form-box input[type="text"]:focus,
.form-box input[type="email"]:focus,
.form-box input[type="password"]:focus,
.form-box textarea:focus{
	border-bottom: 1px solid #111111;
}

.form-box input[type="submit"]{
	display: block;
	margin: 18px 10px;
	width: auto;
	padding: 10px 35px;
	text-align: center;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
	border-radius: 3px;
	letter-spacing: 1px;
	background-color: #556270;
	border: solid 1px #556270;
	transition: 0.5s;
}

.form-box input[type="submit"]:hover{
	background-color: #111111;
	color: #ffffff;
	border: solid 1px #111111;
}

/**** Footer Section ****/
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.footer::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.footer_area{
	position: relative;
	z-index: 9;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
}

.footer_col{
	-ms-flex: 25%;
	flex: 25%;
	width: 25%;
	padding: 0 20px;
}

.footer_col{
	padding-top: 3.5em;
}

.footer_box > h3 > a{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
}

.footer_box > p{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: left;
	padding: 10px 0;
	line-height: 1.6em;
}

.footer_social{
	padding-top: 20px;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 14px;
	color: #ffffff;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.footer_inner{
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
	padding-top: 15px;
}

.footer_grid{
	-ms-flex: 33.33%;
	flex: 33.33%;
	width: 33.33%;
	padding-right: 10px;
	padding-bottom: 10px;
}

.footer_grid img{
	vertical-align: middle;
	width: 100%;
	transition: .5s;
}

.footer_grid a > img:hover{
	opacity: 0.6;
}

.final{
	width: 100%;
}

.address_box{
	margin-top: 30px;
}

.address_name{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #ffffff;
	display: block;
}

.address_box .fas{
	color: #ffffff;
	padding-right: 12px;
}

.address_phone{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #ffffff;
	display: block;
}

.footer_col > h4{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #ffffff;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ffffff;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.details{
	width: 100%;
	padding-top: 40px;
	padding-bottom: 10px;
}

.details p{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: center;
}

@media only screen and (max-width: 1024px){
	.architecture_box_col,
	.architecture_wide_col{
		-ms-flex: 100%;
		flex: 100%;
		width: 100%;
		max-width: 800px;
		margin: auto;
	}
	
	.wide_box{
		padding-top: 40px;
	}
	
	.architecture_info_col{
		-ms-flex: 50%;
		flex: 50%;
		width: 50%;
		padding-bottom: 35px;
	}
	
	.featured_col{
		-ms-flex: 50%;
		flex: 50%;
		width: 50%;
	}
	
	.architecture_square_col{
		-ms-flex: 100%;
		flex: 100%;
		width: 100%;
	}
	
	.counter_col{
		padding-bottom: 40px;
	 }
	 
	 .blog_col{
		-ms-flex: 100%;
		flex: 100%;
		width: 100%;
		padding-bottom: 35px;
	}
	
	.architecture_form_col{
		-ms-flex: 100%;
		flex: 100%;
		width: 100%;
	}
	
	.form_area{
		padding-top: 35px;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent !important;
        color: #ffffff;
		font-size: 25px !important;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header h2{
		margin-top: 7px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		-ms-flex: 100%;
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.header-title{
		padding-bottom: 95px;
	}
	
	.featured_name{
		padding: 15px 25px;
		width: auto;
	}
	
	.client_grid{
		-ms-flex: 50%;
		flex: 50%;
		width: 50%;
	}
	
	.footer_col{
		-ms-flex: 50%;
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.header-title__main{
		font-size: 30px;
	}
	
	.top_col_box h2,
	.wide_box h2,
	.architecture_heading,
	.service_col_box h2,
	.review_left h2{
		font-size: 30px;
	}
	
	.architecture_info_col{
		-ms-flex: 100%;
		flex: 100%;
		width: 100%;
	}
	
	.featured_col{
		-ms-flex: 100%;
		flex: 100%;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	
	.group_col{
		-ms-flex: 100%;
		flex: 100%;
		width: 100%;
	}
	
	.client_grid{
		-ms-flex: 100%;
		flex: 100%;
		width: 100%;
	}
	
	.bg_crumb{
		display: block;
	}
	
	.footer_col{
		-ms-flex: 100%;
		flex: 100%;
		width: 100%;
	}
}	

@media only screen and (max-width: 420px){
	.architecture_box_col,
	.architecture_wide_col{
		padding-left:0;
		padding-right:0;
	}
	
	.architecture_area_one{
		padding: 0 20px;
	}
	
	.blog_col{
		padding-left:0;
		padding-right:0;
	}
	
	.form-box{
		padding: 0;
	}
	
	.form-row {
		flex-direction: column;
	}
}

@media only screen and (max-width: 390px){
	.info_list > h3{
		font-size: 14px;
		padding-left: 9px;
	}
}

@media only screen and (max-width: 360px){
	.architecture_wide_col{
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.architecture_box_col,
	.wide_box h2,
	.wide_box p{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.architecture_col_button a{
		margin-left: 15px;
	}
	
	.architecture_area_one{
		padding: 0;
	}

	.info_list > h3{
		font-size: 12px;
		padding-left: 4px;
	}
	
	.architecture_info_col{
		padding-left:0;
		padding-right:0;
	}
}

@media only screen and (max-width: 320px){
	.featured_name{
		min-width: 200px;
	}
	
	.featured_name h3{
		font-size: 15px;
	}
}
