/*------------------------------------------------------------------
Main Stylesheet

Project:    HighPoint - Multipurpose Business Template
Version:    1.0
Last change:    07/12/2021
Author:   creativemaze
Primary use:    Beauty Spa
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Spa Area One 
	3.2. Spa Area Two
	3.3. Spa Area Three
	3.4. Spa Area Four
	3.5. Spa Area Five
	3.6. Spa Area Six
	3.7. Spa Area Seven
	3.8. Spa Area Eight
	3.9. Spa Area Nine
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.spa_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #f64f59;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.3em;
	padding: 0 10px;
}

.color{
	color: #111111;
}

.spa_info{
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
nav.navbar.bootsnav .navbar-brand{
    max-width: 200px; 	
}

.navbar-header a.navbar-brand{
	text-decoration: none;
	color: #ffffff;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 30px;
}

.navbar-header a.navbar-brand:hover{
	color: #ffffff;
}

nav.navbar .navbar-brand img.logo{
   width: 100%;
   height: auto;
   display: block;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #ffffff;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #f64f59;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #f64f59;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #f64f59;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #ffffff;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	border-bottom: solid 1px #e0e0e0;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 600px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info .fab{
	font-size: 16px;
	color: #ffffff;
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info > a{
	padding-right: 14px;
}

.left_info .fas:hover,
.right_info .fab:hover{
	opacity: 0.6;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #f64f59;
	width: 150px;
	margin: 0 auto;
	min-height: 30px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #f64f59;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: #111111;
	color: #ffffff;
	border-color: #111111; 
}

.sliderwrap{
	position: relative;
	top: -140px;
}

.slidearea{
	width: 100%;
}

.header__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 700px;
}

.slide__content{
	position: relative;
	z-index: 1;
	height: 100vh;
	min-height: 700px;
	text-align: center;
	color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header-title {
	max-width: 1200px;
	display: block;
	padding: 0 30px;
	margin: 0 auto;
}

.header__content > div{
	animation-duration: 2s;
	animation-delay: 1s;
	display: none;
}

.header__content > div.active{
	display: block;
	animation-play-state: running !important;
}

.header-title__main{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 65px;
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #ffffff;
	padding: 0 10px;
	line-height: 1.2em;
}

.first-word{
	font-weight: 500;
}

.header-title__sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	padding: 20px 10px;
	max-width: 550px;
	margin: auto;
}

.buttoncol{
	max-width: 500px;
}

.buttoncol a{
	background-color: #f64f59;
	width: 200px;
	min-height: 30px;
	margin-top: 20px;	
    border: none;
    color: #ffffff;
    padding: 15px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #f64f59;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

.buttoncol a:hover{
	color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
}

.prev_button{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 20px;
}

.next_button{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 20px;
}

.prev_button,
.next_button{
	width: auto;
	font-size: 14px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	background-color: transparent;
	display: block;
	padding: 10px 16px;
	color: #ffffff;
	cursor: pointer;
	border: solid 1px #ffffff;
}

.prev_button:hover,
.next_button:hover{
	background-color: #f64f59;
	color: #ffffff;
	border-color: #f64f59;
}

/* 3. MAIN CONTENT
 ----------- */

/* --- 3.1. Spa Area One --- */
.spa_area_one{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 350px;
	height: 100%;
	text-align: center;
	margin-bottom: 9em;
	margin-top: -147px;
	width: 100%;
	background-color: #f64f59;
	padding: 3em 0;
}

.spa_group_one{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	width: 100%;
}

.spa_feature_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.feature_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 25px;
}

.feature_box{
	max-width: 350px;
	margin: 0 auto;
	text-align: center;
	background-color: transparent;
}

.spa_check{
	float: left;
	width: 10%;
	margin-top: 6px;
}

.feature_content{
	float: left;
	width: 90%;
	padding-left: 25px;
}

.spa_checkbox::before{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	border: solid 1px #111111;
	border-radius: 50%;
	padding: 12px;
	color: #ffffff;
	background-color: #111111;
}

.feature_content h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	margin-top: 0;
	line-height: 1.4em;
}

.feature_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

/* --- 3.2. Spa Area Two --- */
.spa_area_two{
	width: 100%;
	min-height: 100px;
	margin: 0;
	margin-bottom: 9em;
}

.spa_group_two{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 40px;
}

.cube_col{
	position: relative;
	flex: 25%;
	width: 25%;
}

.cube_box{
	width: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
	min-height: 150px;
	margin-bottom: -80px;
}

.cube_image img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.cube_image{
	overflow: hidden;
	position: relative;
}

.cube_area{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cube_col_box{
	padding: 0 30px;
	max-width: 450px;
	margin: auto;
}

.cube_col_box .fas{
	text-align: center;
	font-size: 35px;
	display: block;
	color: #f64f59;
}

.cube_col_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px 0;
	line-height: 1.5em;
}

.areas_list > ul{
	margin-bottom: 25px;
}

.areas_list > ul > li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: left;
	padding: 6px 0;
}

.areas_list > ul > li::before{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	padding-right: 12px;
	color: #f64f59;
}

.cube_name{
	min-width: 275px;
	background: #ffffff;
	margin: auto;
	text-align: center;
	position: relative;
	bottom: 40px;
	padding: 20px 40px;
	display: inline-block;
	z-index: 0;
}

.cube_name h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	display: inline-block;
	font-weight: 600;
	color: #f64f59;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 18px;
}

/* --- 3.3. Spa Area Three --- */
.spa_area_three{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.spa_group_three{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.spa_icon_col{
	flex: 25%;
	width: 25%;
	padding: 0 25px;
	border-right: solid 1px #e0e0e0;
}

.fourth_border{
	border-right: none;
}

.spa_icon_box{
	max-width: 350px;
	margin: auto;
	padding: 0 25px;
	text-align: center;
	background: transparent;
}

.spa_icon_box h3{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.spa_icon_box .fas,
.spa_icon_box .far{
	font-size: 35px;
	color: #f64f59;
	text-align: center;
	display: block;
}

.spa_icon_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding-top: 10px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
}

/* --- 3.4. Spa Area Four --- */
.spa_area_four{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
	position: relative;
}

.spa_group_four{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.info_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 15px;
}

.service_col{
	flex: 66.66%;
	width: 66.66%;
	padding: 0 15px;
}

.info_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.info_col_box{
	max-width: 500px;
}

.info_col_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #f64f59;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.info_col_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px 0;
	line-height: 1.5em;
}

.areas_col_button a{
	background-color: #f64f59;
	width: 150px;
	min-height: 30px;
	margin: 12px 0;	
    border: none;
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #f64f59;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 5px;
}

.areas_col_button a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111;
}

.spa_group{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.spa_group_col{
	flex: 50%;
	width: 50%;
	padding: 0 15px;
}

.spa_group_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.spa_group_box{
	max-width: 400px;
	position: relative;
	text-align: center;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 20px;
}

.service_image{
	overflow: hidden;
	position: relative;
}

.spa_group_area{
	overflow: hidden;
	position: relative;
	padding-bottom: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-left: 12px;
}

.service_content{
	position: relative;
	padding: 10px 5px;
	text-align: left;
}

.service_name{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: inline-block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.area_button > a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: right;
	text-transform: uppercase;
	float: right;
	display: block;
	color: #f64f59;
	padding-top: 16px;
	text-decoration: none;
	width: 110px;
	transition: 0.5s;
    cursor: pointer;
}

.area_button > a::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.area_button > a:hover{
	color: #111111;
}

/* --- 3.5. Spa Area Five --- */
.spa_area_five{
	width: 100%;
	margin: 0;
	min-height: 400px;
	padding: 6em 25px;
	background-color: #eeeeee;
}

.spa_group_five{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 40px;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 40px 25px 0;
}

.blog_box{
	max-width: 400px;
	position: relative;
	text-align: left;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.blog_area{
	overflow: hidden;
	position: relative;
	padding-bottom: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-left: 12px;
	background-color: #ffffff;
}

.blog_content{
	text-align: center;
	padding: 25px 0;
}

.blog_date{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: block;
	font-weight: 600;
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 0;
	width: 250px;
	margin: auto;
}

.blog_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
}

.blog_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 0;
	line-height: 1.5em;
}

.blog_btn{
	max-width: 250px;
	margin: 0 auto;
}

a.blog_btn{
	width: 190px;	
    border: none;
    color: #111111;
	margin: 0 auto;
	padding-top: 10px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.2em;
}

a.blog_btn:hover,
.blog_title a:hover{
	color: #f64f59;
}

.blog_crumb{
	width: 50px;
	height: 1px;
	display: block;
	border-bottom: solid 2px #111111;
	margin: 10px auto 0;
	transition: 0.5s;
}

a.blog_btn:hover .blog_crumb{
	border-color: #f64f59;
}

/* --- 3.6. Spa Area Six --- */
.spa_area_six{
	position: relative;
	min-height: 350px;
	height: 100%;
	background-color: #f64f59;
	margin: 0 0 9em;
}

/* --- 3.7. Spa Area Seven --- */
.spa_area_seven{
	max-width: 1280px;
	margin: 0 auto 9em;
	margin-top:  -350px;
	position: relative;
	z-index: 9999;
}

.spa_group_seven{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
}

.count_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
}

.count_box{
	max-width: 350px;
	margin: 0 auto;
	padding: 25px 20px 15px 20px; 
	text-align: left;
	background: #ffffff;
	min-height: 50px;
	height: 100%
}

.count_box h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	text-align: center;
	color: #111111;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.count_box .counter{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 30px;
	font-weight: 700;
	display: block;
	text-align: center;
	color: #f64f59;
	letter-spacing: 1px;
}

.bg_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.3em;
	padding: 0 10px;
}

.bg_info{
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
}

/* --- 3.8. Spa Area Eight --- */
.spa_area_eight{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.spa_group_eight,
.client_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.review_col_left{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 15px;
	position: relative;
}

.review_col_right{
	flex: 66.66%;
	width: 66.66%;
	padding: 0 15px;
}

.client_col{
	flex: 25%;
	width: 25%;
}

.client_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
	border-radius: 50%;
}

.review_box{
	max-width: 450px;
	margin: 0;
	width: 100%;
	padding: 0 20px;
}

.review_box > p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.review_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #f64f59;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.review_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.client_content{
	max-width: 300px;
	height: auto;
	padding: 10px;
}

.client_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	text-transform: capitalize;
	margin-top: 0;
}

.client_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #f64f59;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.client_comment q{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	max-width: 300px;
	margin: auto;
	padding-top: 12px;
}

/* --- 3.9. Spa Area Nine --- */
.spa_area_nine{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	height: 100%;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 2em;
	padding: 5em 0;
}

.spa_area_nine::before{
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.spa_group_nine{
	position: relative;
	z-index: 5;
	max-width: 700px;
	margin: auto;
	padding: 0 20px;
	width: 100%;
}

.lg_head{
	color: #ffffff;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.3em;
	margin-top: 0;
}

.bg_col_button{
	max-width: 370px;
	margin: auto;
	width: 100%;
}

.bg_col_button a{
	background-color: #f64f59;
	width: 170px;
	min-height: 30px;
	margin: 15px auto 0;	
    border: none;
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #f64f59;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 5px;
}

.bg_col_button a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
}

.footer_area{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 3.5em;
}

a.footer-brand img{
	max-width: 200px;
	height: auto;
	display: block;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #111111;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 16px;
	color: #111111;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.final{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #111111;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	color: #111111;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.footer_inner{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 15px;
}

.footer_grid{
	flex: 33.33%;
	width: 33.33%;
	padding-right: 10px;
	padding-bottom: 10px;
}

.footer_grid img{
	vertical-align: middle;
	width: 100%;
	transition: .5s;
}

.footer_grid a > img:hover{
	opacity: 0.6;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #e0e0e0;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
	
	.cube_col{
		flex: 50%;
		width: 50%; 
	}
	
	.cube_name{
		z-index: 999;
	}
	
	.spa_icon_col{
		flex: 50%;
		width: 50%;
		margin: 15px 0;
	}
	
	.second_border{
		border-right: none;
	}
	
	.info_col{
		flex: 100%;
		width: 100%;
		padding: 0;
	}
	
	.service_col{
		flex: 100%;
		width: 100%;
		padding: 0;
		margin-top: 20px;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
	}
	
	.review_col_left{
		flex: 100%;
		width: 100%;
		margin-bottom: 45px;
	}

	.review_col_right{
		flex: 100%;
		width: 100%;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #ffffff;
		font-size: 25px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header a.navbar-brand{
		padding-top: 22px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.feature_col{
		flex: 100%;
		width: 100%;
		padding: 25px;
	}
	
	.spa_group_col{
		flex: 100%;
		width: 100%;
		margin-top: 20px;
	}
	
	.count_col{
		flex: 50%;
		width: 50%;
	}
	
	.client_col{
		flex: 50%;
		width: 50%;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.header-title__main{
		font-size: 50px;
	}
	
	.spa_head,
	.bg_head,
	.lg_head,
	.info_col_box h2,
	.review_box h2{
		font-size: 30px;
	}
	
	.cube_col{
		flex: 100%;
		width: 100%;
	}
	
	.cube_col_box{
		padding: 3em 30px;
		height: 100%;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.spa_icon_col{
		flex: 100%;
		width: 100%;
	}
	
	.first_border,
	.third_border{
		border-right: none;
	}
	
	.count_col{
		flex: 100%;
		width: 100%;
	}
	
	.client_col{
		flex: 100%;
		width: 100%;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 420px){
	.header-title__main{
		font-size: 40px;
	}
	
	.feature_col,
	.blog_col,
	.review_box,
	.review_col_left,
	.review_col_right,
	.spa_icon_col,
	.spa_group_col{
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 360px){
	.header-title__main{
		font-size: 30px;
	}
}
