/*------------------------------------------------------------------
Main Stylesheet

Project:    Highpoint Corporate Template
Version:    1.0
Last change:    23/11/2021
Author:    creativemaze
Primary use:    Conference
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Conference Area One 
	3.2. Conference Area Two
	3.3. Conference Area Three
	3.4. Conference Area Four
	3.5. Conference Area Five
	3.6. Conference Area Six
	3.7. Conference Area Seven
	3.8. Conference Area Eight
	3.9. Conference Area Nine
	3.10. Conference Area Ten
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.conference_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #005AA7;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.conference_info{
	max-width: 500px;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 10px 0 0;
	line-height: 1.5em;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
nav.navbar.bootsnav .navbar-brand{
    max-width: 200px; 	
}

.navbar-header a.navbar-brand{
	text-decoration: none;
	color: #ffffff;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 30px;
}

.navbar-header a.navbar-brand:hover{
	color: #ffffff;
}

nav.navbar .navbar-brand img.logo{
   width: 100%;
   height: auto;
   display: block;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #ffffff;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #005AA7;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #005AA7;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #005AA7;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #ffffff;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	border-bottom: solid 1px #e0e0e0;
}

.top_info{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 400px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 600px;
	margin: auto;
	text-align: right;
	display: block;
}

.right_info .fas,
.right_info .far,
.left_info .fab{
	font-size: 16px;
	color: #ffffff;
}

.right_info .fas,
.right_info .far{
	padding-right: 8px;
}

.left_info > a{
	padding-right: 14px;
}

.left_info .fab:hover,
.right_info .fas:hover{
	opacity: 0.6;
}

.right_info a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: lowercase;
	display: inline-block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: right;
	text-decoration: none;
}

.right_info a:hover{
	opacity: 0.6;
}

.right_info .fa-m{
	position: relative;
	top: 2px;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: right;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-right: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: right;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #005AA7;
	width: 150px;
	margin: 0 auto;
	min-height: 30px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #005AA7;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	color: #111111;
	background: #ffffff;
	border-color: #ffffff;
}

.sliderwrap{
	position: relative;
	top: -140px;
}

.slide__content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	min-height: 800px;
	height: 100%;
}

.slide__left{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 15px;
	padding-top: 75px;
	background-color: #0083B0;
}

.slide__right{
	position: relative;
	flex: 66.66%;
	width: 66.66%;
	padding: 0 15px;
	height: 100vh;
	min-height: 800px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slide__right::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.5);
}

.first_left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 800px;
}

.left_box{
	text-align: center;
	display: block;
	max-width: 400px;
	padding: 0 20px;
	margin: auto;
}

.left_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 500;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
	text-transform: uppercase;
}

.timer_box{
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.days,
.hrs,
.min,
.seconds{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #f2f2f2;
	padding: 7px 20px;
	line-height: 1.3em;
}

.bg_crumb{
	width: 50px;
	margin: auto;
	height: 1px;
	border-bottom: solid 2px #111111;
}

.header__content{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	min-height: 750px;
}

.header-title {
	max-width: 650px;
	padding: 0 15px;
	position: relative;
	text-align: left;
	margin-left: 3vw;
}

.header-title__main{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1.3em;
	text-align: left;
	display: block;
	color: #ffffff;
}

.header-title__sub{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	max-width: 500px;
	display: block;
	color: #f2f2f2;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	padding: 25px 0;
}

.buttoncol a{
	background-color: #005AA7;
	width: 150px;
	min-height: 25px;
    border: none;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #005AA7;
	letter-spacing: 1px;
	text-align: center;
}

.buttoncol a:hover{
	color: #111111;
	background: #ffffff;
	border-color: #ffffff;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Conference Area One --- */
.conference_area_one{
	max-width: 1400px;
	margin: auto;
	margin-bottom: 9em;
	margin-top: calc(9em - 140px);
	padding: 0 30px;
}

.conference_group_one{
	width: 100%;
	position: relative;
}

.bg_area{
	width: 100%;
}

.bg_box{
	position: relative;
	text-align: center;
	margin: auto;
	min-height: 150px;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.bg_slide{
	padding: 0 15px;
	margin-top: 25px;
}

.bg_image img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.bg_image{
	overflow: hidden;
	position: relative;
}

.bg_group{
	overflow: hidden;
	position: relative;
	padding-bottom: 0;
	padding-right: 12px;
	padding-top: 12px;
	padding-left: 12px;
	background-color: #ffffff;
}

.bg_name{
	width: 275px;
	max-width: 280px;
	background: #ffffff;
	margin: auto;
	text-align: center;
	position: relative;
	bottom: 30px;
	min-height: 35px;
	padding: 15px 35px;
	display: inline-block;
}

.bg_name h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	display: inline-block;
	font-weight: normal;
	text-transform: uppercase;
	color: #005AA7;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
	text-decoration: none;
	margin: 0;
}

.lastword{
	font-weight: 700;
}

.top_group{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	padding: 0 25px;
}

.top_content{
	flex: auto;
	width: auto;
}

.slidenav{
	flex: auto;
	width: auto;
	text-align: right;
	margin-top: 80px;
}

.prev_slide,
.next_slide{
	font-size: 14px;
	transition: 0.6s ease;
	background-color: transparent;
	width: auto;
	display: inline-block;
	overflow: hidden;
	padding: 10px 16px;
	color: #005AA7;
	cursor: pointer;
	border: solid 1px #005AA7;
	border-radius: 3px;
}

.prev_slide{
	margin-right: 15px;
}

.next_slide:hover,
.prev_slide:hover{
	background-color: #005AA7;
	color: #ffffff;
	border-color: #005AA7;
}

/* --- 3.2. Conference Area Two --- */
.conference_area_two{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 450px;
	height: 100%;
	background-color: #005AA7;
	margin: 0;
}

/* --- 3.3. Conference Area Three --- */
.conference_area_three{
	max-width: 1400px;
	min-height: 300px;
	margin: 0 auto;
	padding: 0 25px;
	margin-top:  -325px;
	position: relative;
	z-index: 9999;
	margin-bottom: calc(9em - 60px);
}

.conference_group_three{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 30px 40px;
	background-color: #ffffff;
	margin-top: 40px;
}

.bg_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
}

.bg_info{
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
}

.dark_color{
	color: #005AA7;;
}

.gray_color{
	color: #696969;
}

.conference_left_info_col{
	flex: 33.33%;
	width: 33.33%;
	max-width: 400px;
}

.conference_right_info_col{
	flex: 66.66%;
	width: 66.66%;
}

.conference_info_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}

.info_mid{
	flex: 50%;
	width: 50%;
	padding: 0;
}

.info_col_box{
	max-width: 400px;
	padding: 0 0 20px;
	padding-left: 25px;
	text-align: left;
	overflow: auto;
	background-color: transparent;
	width: 100%;
	min-height: 30px;
}

.info_col_area{
	float: left;
	width: 80%;
	padding-left: 20px;
}

.day_col{
	float: left;
	width: 20%;
	max-width: 90px;
	margin: auto;
	text-align: center;
	padding: 10px;
	border: solid 1px #0083B0;
	margin-bottom: 15px;
}

.day_col h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	display: inline-block;
	font-weight: 600;
	color: #0083B0;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
	margin: 0;
}

.info_col_content{
	padding-bottom: 20px;
	min-height: 30px;
	overflow: auto;
}

.info_icon{
	float: left;
	width: 15%;
}

.info_content{
	float: right;
	width: 85%;
	padding-left: 20px;
}

.info_icon .fas,
.info_icon .far{
	display: block;
	font-size: 22px;
	color: #0083B0;
	text-align: center;
}

.info_content h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	margin: 0;
	line-height: 1.6em;
}

.conference_left_info_col h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #005AA7;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.conference_left_info_col p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 12px 0;
	line-height: 1.5em;
}

.info_col_button a{
	background-color: #0083B0;
	width: 210px;
	min-height: 30px;
	margin: 25px 0 0;
    border: none;
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #0083B0;
	letter-spacing: 1px;
	text-align: center;
}

.info_col_button a:hover{
	color: #0083B0;
	background-color: transparent;
	border-color: #0083B0;
}

/* --- 3.4. Conference Area Four --- */
.conference_area_four{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 500px;
	margin: 0 0 9em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}

.conference_area_four::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.conference_group_four{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	z-index: 9999;
}

.feature_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.feature_col{
	flex: 25%;
	width: 25%;
	padding: 20px 45px;
	border-right: solid 1px #6f6f6f;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feature_border{
	border-right: none;
}

.feature_box{
	max-width: 350px;
	margin: auto;
	padding: 0;
	text-align: left;
	background: transparent;
}

.feature_box h2{
	color: #ffffff;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: normal;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
	margin-top: 0;
}

.num_crumb{
	width: 30px;
	height: 1px;
	margin-top: -10px;
	border-bottom: solid 2px #ffffff;
	margin-left: 18px;
}

.feature_box h3{
	color: #ffffff;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.4em;
	padding-top: 18px;
}

.feature_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding-top: 10px;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.feature_box .fas,
.feature_box .far{
	font-size: 35px;
	color: #111111;
	text-align: left;
	display: block;
}

.area_button > a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	color: #ffffff;
	text-decoration: none;
	width: 110px;
	transition: 0.5s;
    cursor: pointer;
	margin-top: 25px;
}

.area_button > a::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.area_button > a:hover{
	opacity: 0.6;
}

/* --- 3.5. Conference Area Five --- */
.conference_area_five{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.conference_group_five{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	padding-top: 15px;
}

.team_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 25px;
	position: relative;
}

.team_box{
	max-width: 400px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
}

.team_image img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.team_image{
	overflow: hidden;
	position: relative;
	padding-bottom: 55px;
	padding-right: 55px;
	padding-top: 12px;
	padding-left: 12px;
	background-color: #005AA7;
	transition: ease-in-out 0.5s;
}

.team_content{
	position: absolute;
	bottom: 0;
}

.team_icon{
	position: absolute;
	top: 0;
	right: 0;
}

.team_icon .fab,
.team_icon .fa{
	font-size: 18px;
	color: #ffffff;
	display: block;
	padding: 10px 18px;
	text-align: center;
	transition: ease-in-out 0.5s;
}

.team_image:hover{
	background-color: #ffffff;
}

.team_icon a{
	text-decoration: none;
}

.team_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: normal;
	color: #ffffff;
	text-transform: capitalize;
	letter-spacing: 1px;
	text-align: left;
	padding: 5px 0;
	opacity: 1;
}

.team_image:hover .team_icon .fab,
.team_image:hover .team_icon .fa{
	color: #005AA7;
}

.team_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 17px;
	display: block;
	font-weight: 600;
	color: #005AA7;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.4em;
	padding-top: 10px;
	opacity: 0;
	display: none;
}

.team_image:hover .team_name{
	opacity: 0;
}

.team_image:hover .team_title{
	opacity: 1;
	display: block;
}

.box_button a{
	background-color: #ffffff;
	width: 180px;
	min-height: 25px;
	margin: auto;
	margin-top: 35px;	
    border: none;
    color: #005AA7;
    padding: 14px 16px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #005AA7;
	letter-spacing: 1px;
	text-align: center;
}

.box_button a:hover{
	color: #ffffff;
	background-color: #005AA7;
	border-color: #005AA7;
}

/* --- 3.6. Conference Area Six --- */
.conference_area_six{
	width: 100%;
	margin: 0;
	min-height: 400px;
	padding: 6.5em 25px;
	background-color: #eee;
}

.conference_group_six{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 40px;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 40px 20px 0;
}

.blog_box{
	max-width: 400px;
	position: relative;
	text-align: left;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.blog_area{
	overflow: hidden;
	position: relative;
	padding-bottom: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-left: 12px;
	background-color: #ffffff;
}

.blog_content{
	text-align: left;
	padding: 20px 0;
	padding-left: 10px;
}

.date_info{
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 15px;
	margin-bottom: 15px;
	background-color: #ffffff;
	padding: 8px 20px;
}

.date_info h4{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: block;
	font-weight: 600;
	color: #005AA7;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin: 0;
}

.blog_date{
	margin-bottom: 4px;
}

.blog_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
}

a.blog_btn:hover,
.blog_title a:hover{
	opacity: 0.6;
}

.blog_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 10px 0;
	line-height: 1.5em;
}

a.blog_btn{
	max-width: 120px;	
    color: #111111;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.2em;
}

a.blog_btn::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}
/* --- 3.7. Conference Area Seven --- */
.conference_area_seven{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	height: 100%;
	background-color: #005AA7;
}

/* --- 3.8. Conference Area Eight --- */
.conference_area_eight{
	max-width: 1100px;
	margin: 0 auto 9em;
	padding: 0 25px;
	margin-top:  -275px;
}

.conference_group_eight{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	padding-top: 40px;
	min-height: 450px;
	height: 100%;
}

.video_col{
	flex: 66.66%;
	width: 66.66%;
	position: relative;
}

.video_area{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.video_box{
	position: relative;
}

.vid_heading{
	max-width: 650px;
	margin: auto;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 500;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 0;
	line-height: 1.3em;
}

.form_col{
	flex: 33.33%;
	width: 33.33%;
	position: relative;
}

.form_area{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form_box{
	max-width: 400px;
	position: relative;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	padding: 0 30px;
	background-color: #ffffff;
}

.form-row {
	flex-direction: column;
	display: flex;
}

.form_box h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	display: inline-block;
	color: #111111;
	line-height: 1.4em;
	padding-bottom: 10px;
}

.form_box input[type="text"],
.form_box input[type="email"],
.form_box input[type="password"]{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	padding: 4px 20px;
	height: 40px;
	border: none;
	margin: 0 0 15px;
	border-bottom: solid 1px #696969;
	flex-grow: 1;
	letter-spacing: 1px;
	transition: 0.5s;
}

.form_box input[type="submit"]{
	display: block;
	margin: 18px 0 0;
	width: auto;
	padding: 10px 30px;
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #005AA7;
	border: solid 1px #005AA7;
	transition: 0.5s;
}

.form_box input[type="submit"]:hover{
	background: transparent;
	color: #111111;
	border-color: #111111;
}

.video_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.video-play-button {
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-sizing: content-box;
	display: block;
	width: 28px;
	height: 42px;
	border-radius: 50%;
	padding: 28px 16px 12px 32px;
}

.video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	transition: all 200ms;
}

.video-play-button span {
	display: block;
	position: relative;
	z-index: 3;
	width: 0;
	height: 0;
	border-left: 18px solid #005AA7;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/* --- 3.9. Conference Area Nine --- */
.conference_area_nine{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	margin-bottom: calc(9em + 40px);
}

.conference_group_nine{
	width: 100%;
	padding-top: 20px;
	text-align: center;
}

.client_details{
	display: block;
	max-width: 400px;
	margin: auto;
	padding: 0 20px;
	margin-top: 20px;
	text-align: center;
}

.client_box{
	width: 100%;
	padding: 30px;
	overflow: hidden;
	text-align: center;
	display: block;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.client_info_left{
	float: left;
	width: auto;
}

.client_info_right{
	float: left;
	width: auto;
	padding-left: 15px;
}

.client_info img{
	max-width: 80px;
	height: 80px;
	margin: auto;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin-bottom: 14px;
}

.client_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	transition: 0.5s;
	overflow: hidden;
}

.client_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-transform: capitalize;
}

.client_comment{
	display: block;
	clear: both;
}

.ratings_icon{
	text-align: center;
	width: 100%;
}

.ratings_icon .fas{
	font-size: 13px;
	color: #005AA7;
}

.client_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #005AA7;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
}

.client_comment q{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	max-width: 450px;
	margin: auto;
	padding-bottom: 17px;
}

.slick-dots {
	position: absolute;
	z-index: 9999;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin: 0;
	list-style-type: none;
	margin-bottom: -40px;
}

.slick-dots button{
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #005AA7;
	border-radius: 100%;
	background: transparent;
	text-indent: -9999px;
}

li.slick-active button{
	background-color: #005AA7;
}

.slick-dots button:hover{
	background-color: #005AA7;
}

.slick-dots li{
	margin: 6px 0.40rem;
}

/* --- 3.10. Conference Area Ten --- */
.conference_area_ten{
	max-width: 1280px;
	margin: 0 auto 2em;
	width: calc(100% - 60px);
	padding: 0 30px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.conference_area_ten::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.conference_group_ten{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 4em 20px;
}

.col_info{
	flex: 100%;
	width: 100%;
	position: relative;
	z-index: 9999;
}
	
.col_head{
	flex: 100%;
	width: 100%;
	position: relative;
	z-index: 9999;
}

.subscribe-row{
	text-align: center;
	margin-top: 35px;
}

.col_head h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 30px;
	display: block;
	font-weight: 500;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
	max-width: 600px;
	margin: auto;
}

.col_info input[type="email"]{
	width: 350px;
	padding: 12px 20px 14px;
	border: solid 1px #e0e0e0;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: inline-block;
	font-weight: 600;
	color: #333333;
	text-transform: capitalize;
	letter-spacing: 1px;
	background-color: #ffffff;
}

.col_info input[type="submit"]{
	display: inline-block;
	width: auto;
	padding: 11px 24px;
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	margin-left: -4px;
	color: #ffffff;
	border-radius: 0;
	letter-spacing: 1px;
	background-color: #005AA7;
	border: solid 1px #005AA7;
	transition: 0.5s;
}

.col_info input[type="submit"]:hover{
	background: transparent;
	color: #ffffff;
	border-color: #ffffff;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
}

.footer_area{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 3.5em;
}

a.footer-brand img{
	max-width: 200px;
	height: auto;
	display: block;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #111111;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 16px;
	color: #111111;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.final{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #111111;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	color: #111111;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.right_list{
	padding-top: 10px;
}

.blog_list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 390px;
	padding-bottom: 10px;
}

.left_blog{
	flex: 25%;
	width: 25%;
	padding-bottom: 10px;
}

.right_blog{
	flex: 75%;
	width: 75%;
	max-width: 290px;
	padding-bottom: 15px;
	padding-left: 14px;
	margin-top: -5px;
}

.left_blog img{
	vertical-align: middle;
	width: 100%;
	max-width: 100px;
	transition: .5s;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #e0e0e0;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
	
	.slide__right{
		height: auto;
	}
	
	.conference_left_info_col{
		flex: 100%;
		width: 100%;
	}

	.conference_right_info_col{
		flex: 100%;
		width: 100%;
		margin-top: 30px;
	}
	
	.feature_col{
		flex: 50%;
		width: 50%;
		min-height: 400px;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #ffffff;
		font-size: 25px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header a.navbar-brand{
		padding-top: 22px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.slide__left,
	.slide__right{
		position: relative;
		flex: 100%;
		width: 100%;
		padding: 0;
	}
	
	.first_left{
		min-height: 650px;
		padding-top: 130px;
	}
	
	.info_mid{
		flex: 100%;
		width: 100%;
	}
	
	.team_col{
		flex: 100%;
		width: 100%;
	}
	
	.video_col{
		flex: 100%;
		width: 100%;
		max-width: 650px;
		margin: auto;
	}
	
	.form_col{
		flex: 100%;
		width: 100%;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25px;
	}
	
	.form_box{
		padding: 30px;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.first_left{
		min-height: 550px;
		padding-top: 130px;
	}
	
	.header__content,
	.slide__right{
		min-height: 600px;
	}
	
	.header-title__main{
		font-size: 30px;
	}
	
	.left_box h2,
	.conference_head,
	.days,
	.hrs,
	.min,
	.seconds,
	.conference_left_info_col h2,
	.bg_head{
		font-size: 30px;
	}
	
	.top_content,
	.slidenav{
		flex: 100%;
		width: 100%;
		margin-top: 0;
	}
	
	.slidenav{
		margin-top: 15px;
	}
	
	.feature_col{
		flex: 100%;
		width: 100%;
		min-height: 350px;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.col_info input[type="email"]{
		display: block;
		width: 100%;
	}
	
	.col_info input[type="submit"]{
		margin-top: 20px;
		display: block;
		width: 100%;
		margin-left: 0;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 420px){
	.top_group{
		padding: 0 15px;
	}
	
	.bg_name{
		width: 230px;
	}
	
	.bg_col,
	.info_col_box,
	.team_col,
	.blog_col{
		padding-left: 0;
		padding-right: 0;
	}
	
	.conference_group_three{
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.day_col{
		max-width: 70px;
		padding: 8px;
	}
	
	.day_col h3{
		font-size: 15px;
	}
	
	.col_head h3{
		font-size: 25px;
	}
}

@media only screen and (max-width: 385px){
	.client_info img{
		width: 60px;
		height: 60px;
	}
	
	.client_box{
		padding: 30px 15px;
	}
}

@media only screen and (max-width: 320px){
	.bg_name{
		width: 190px;
	}
	
	.bg_slide{
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.info_col_area,
	.info_content{
		padding-left: 10px;
	}
	
	.day_col{
		max-width: 45px;
		padding: 6px;
	}
	
	.day_col h3{
		font-size: 13px;
	}
	
	.col_head h3{
		font-size: 20px;
	}
}
