/*------------------------------------------------------------------
Main Stylesheet

Project:    HighPoint - Multipurpose Business Template
Version:    1.0
Last change:    30/11/2021
Author:    creativemaze
Primary use:    Consulting
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Consulting Area One 
	3.2. Consulting Area Two
	3.3. Consulting Area Three
	3.4. Consulting Area Four
	3.5. Consulting Area Five
	3.6. Consulting Area Six
	3.7. Consulting Area Seven
	3.8. Consulting Area Eight
	3.9. Consulting Area Nine
	3.10. Consulting Area Ten
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.consult_head{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.consult_info{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #ec2F4B;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
nav.navbar.bootsnav .navbar-brand{
    max-width: 200px; 	
}

.navbar-header a.navbar-brand{
	text-decoration: none;
	color: #ffffff;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 30px;
}

.navbar-header a.navbar-brand:hover{
	color: #ffffff;
}

nav.navbar .navbar-brand img.logo{
   width: 100%;
   height: auto;
   display: block;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 1;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #ffffff;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #ec2F4B;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #ec2F4B;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #ec2F4B;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #ffffff;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	border-bottom: solid 1px #6f6f6f;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 600px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info .fab{
	font-size: 16px;
	color: #ffffff;
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info > a{
	padding-right: 14px;
}

.left_info .fas:hover,
.right_info .fab:hover{
	opacity: 0.6;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #ec2F4B;
	width: 150px;
	margin: 0 auto;
	min-height: 30px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ec2F4B;
	letter-spacing: 1px;
	border-radius: 25px;
	text-align: center;
}

.head_btn a:hover{
	background-color: transparent;
	color: #ffffff;
	border: 1px solid #ffffff;
}

.sliderwrap{
	position: relative;
	top: -140px;
}

.header__content{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	min-height: 800px;
}

.slide__content{
	height: 100vh;
	min-height: 800px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 0;
}

.slide__content:before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.5);
}

.header-title {
	max-width: 650px;
	display: block;
	margin-left: 10vw;
	padding-right: 10px;
	padding-top: 150px;
	text-align: left;
	position: relative;
	z-index: 10;
}

.header-title__main{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.2em;
	text-align: left;
	display: block;
	color: #ffffff;
}

.header-title__sub{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	max-width: 500px;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	padding: 30px 0;
}

.buttoncol a{
	background-color: #ec2F4B;
	width: 150px;
	min-height: 35px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ec2F4B;
	border-radius: 25px;
	letter-spacing: 1px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 15px;
}

.buttoncol a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

.right_btn{
	background-color: #ffffff!important;
	color: #111111 !important;
	border: 1px solid #ffffff!important;
}

.right_btn:hover{
	color: #ffffff!important;
	background-color: transparent!important;
	border-color: #ffffff;
}

.video-play-button{
	position: absolute;
	z-index: 0;
	left: 0;
	top: 50%;
	transform:translateY(-50%);
	box-sizing: content-box;
	display: block;
	width: 28px;
	height: 42px;
	border-radius: 50%;
	padding: 28px 16px 12px 32px;
	margin-top: -160px;
}

.video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	transition: all 200ms;
}

.video-play-button span {
	display: block;
	position: relative;
	z-index: 3;
	width: 0;
	height: 0;
	border-left: 18px solid #ec2F4B;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Consulting Area One --- */
.consult_area_one{
	max-width: 1400px;
	margin-bottom: 9em;
	margin-top: calc(9em - 140px);
	margin-left: auto;
	margin-right: auto;
	padding: 0 25px;
}

.consult_group_one{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.square_left_col{
	flex: 66.66%;
	width: 66.66%;
	position: relative;
	padding: 0;
}

.square_right_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 30px;
	position: relative;
}

.photo_col{
	flex: 66.66%;
	width: 66.66%;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.card_col{
	flex: 33.33%;
	width: 33.33%;
	position: relative;
	padding: 5px 0;
	max-width: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.photo_col img{
	vertical-align: middle;
	width: 100%;
	height: 100%;
	display: block;
}

.card_col img{
	vertical-align: middle;
	width: 100%;
	height: 100%;
	display: block;
}

.right_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.right_box h5{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #ec2F4B;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5em;
}

.right_box{
	max-width: 450px;
	padding-left: 25px;
}

.right_box > p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.right_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.square_col_button a{
	background-color: #ec2F4B;
	width: 160px;
	min-height: 30px;
	margin: 30px 0 0;
    border: none;
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ec2F4B;
	border-radius: 25px;
	letter-spacing: 1px;
	text-align: center;
}

.square_col_button a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111;
}

.full_col{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	min-height: 400px;
	height: 100%;
}

.card_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	min-height: 400px;
	background-color: #ffffff;
}

.top_card,
.bottom_card{
	flex: 100%;
	width: 100%;
	min-height: 200px;
	position: relative;
	padding: 5px 10px;
}

.list_num{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	display: inline-block;
	color: #ec2F4B;
	text-transform: capitalize;
	letter-spacing: 1px;
	text-align: left;
	background-color: #ffffff;
	border-radius: 50%;
	padding: 18px;
	cursor: pointer;
	transition: 0.5s;
}

.info_items{
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.info_items .tooltiptext{
	visibility: hidden;
	background-color: #ffffff;
	padding: 20px;
	position: absolute;
	z-index: 1;
	bottom: 50%;
	left: 100%;
	opacity: 0;
	margin-left: 8px;
	transition: opacity 0.3s;
}

.tooltiptext h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 0;
	line-height: 1.4em;
	min-width: 175px;
}

.photo_col:hover .info_items .list_num,
.top_card:hover .info_items .list_num,
.bottom_card:hover .info_items .list_num{
	background-color: #ec2F4B;
	color: #ffffff;
}

.photo_col:hover .info_items .tooltiptext,
.top_card:hover .info_items .tooltiptext,
.bottom_card:hover .info_items .tooltiptext{
	visibility: visible;
	opacity: 1;
}

.info_button a{
	width: 110px;
    color: #ec2F4B;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 14px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    cursor: pointer;
	letter-spacing: 1px;
	margin: auto;
}

.info_button a:hover{
	color: #111111;
}

.info_button a::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

/* --- 3.2. Consulting Area Two --- */
.consult_area_two{
	max-width: 1400px;
	margin-bottom: 9em;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.consult_group_two{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}

.flip_col{
	position: relative;
	flex: 25%;
	width: 25%;
	max-width: 350px;
	height: 350px;
	background-color: #f6f6f6;
}

.flip-card {
	background-color: transparent;
	max-width: 350px;
	margin: auto;
	height: 350px;
	perspective: 1000px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

.flip-card img{
	max-width: 350px;
	height: auto;
	margin: auto;
	display: block;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
}

.back-color{
	background-color: #111111;
}

.flip-card-back {
	transform: rotateY(180deg);
}

.flip-card-back{
	position: relative;
}

.flip_info{
	position: relative;
	padding-bottom: 10px;
	padding-right: 0;
	padding-top: 10px;
	padding-left: 0;
}

.first_space{
	padding-left: 10px;
}

.flip_box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #ffffff;
	height: 100%;
}

.color-box{
	background-color: #ec2F4B;
}

.flip_group .fas,
.flip_group .far{
	font-size: 35px;
	color: #111111;
	text-align: center;
	display: block;
}

.flip_group h3{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.flip_group p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
	padding: 12px 16px;
	max-width: 300px;
}

.inner_crumb{
	width: 50px;
	height: 1px;
	margin: auto;
	border-bottom: solid 2px #111111;
	padding-top: 6px;
}

.color-box .fas{
	color: #ffffff;
}

.color-box h3{
	color: #ffffff;
}

.color-box p{
	color: #f2f2f2;
}

.color_crumb{
	width: 50px;
	height: 1px;
	margin: auto;
	border-bottom: solid 2px #ffffff;
	padding-top: 6px;
}

.card_button{
	width: 100%;
	padding: 0 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	transform: translate(-50%,-50%);
}

.card_button a{
	background: transparent;
	width: 140px;
	min-height: 30px;
	margin: 0 auto 0;
    border: none;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 12px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ffffff;
	border-radius: 25px;
	letter-spacing: 1px;
	text-align: center;
}

.card_button a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

/* --- 3.3. Consulting Area Three --- */
.consult_area_three{
	position: relative;
	min-height: 450px;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 0;
}

.consult_area_three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.5);
}

/* --- 3.4. Consulting Area Four --- */
.consult_area_four{
	max-width: 1280px;
	min-height: 300px;
	margin: 0 auto 9em;
	margin-top:  -325px;
	position: relative;
	padding: 0 25px;
}

.consult_group_four{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 40px 10px 0;
	background-color: #ffffff;
	margin-top: 40px;
}

.bg_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
}

.bg_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #f2f2f2;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.bg_box{
	max-width: 320px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	height: auto;
	transition: 0.5s;
}

.bg_col{
	flex: 25%;
	width: 25%;
	padding: 0 25px;
	border-right: solid 1px #e0e0e0;
}

.fourth_border{
	border-right: none;
}

.bg_col img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 50%;
}

.bg_image{
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	background-color: #f6f6f6;
}

.bg_box .bg_image > img{
	transition: ease-in-out 1.25s;
}

.bg_box:hover .bg_image > img{
	transform: scale(1.15);
}

.bg_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
}

.bg_info{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
	padding: 10px 0;
}

.area_button > a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: right;
	text-transform: uppercase;
	display: block;
	color: #ec2F4B;
	text-decoration: none;
	width: 120px;
	margin: auto;
	transition: 0.5s;
    cursor: pointer;
}

.area_button > a::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.area_button > a:hover{
	color: #111111;
}

/* --- 3.5. Consulting Area Five --- */
.consult_area_five{
	max-width: 1200px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.consult_group_five{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 75px;
}

.price_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 35px;
}

.center_col{
	box-shadow: -1px 1px 12px 10px rgba(0,0,0,0.19);
	border: none;
	background-color: transparent;
	padding: 30px 10px 40px;
	position: relative;
	bottom: 35px;
	max-width: 350px;
	margin: auto;
}

.price_box{
	max-width: 350px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
	background: #ffffff;
}

.price_content{
	padding-bottom: 25px;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	background-color: #ffffff
}

.price_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
	background-color: #ffffff;
}

.price_value{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #ec2F4B;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.2em;
	background-color: #ffffff;
}

.price_list{
	width: 100%;
	background-color: #ffffff;
	margin: auto;
	border-top: solid 1px #e0e0e0;
	padding-top: 1px;
}

.price_content h4{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding-top: 6px;
}

.price_list ul{
	padding: 30px 10px;
}

.price_list > ul li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	padding: 14px 12px;
	line-height: 1.5em;
	border-bottom: solid 1px #e0e0e0;
}

.price_list > ul li::after{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	position: absolute;
	right: 0;
	padding-right: 25px;
	color: #ec2F4B;
}

.price_btn a{
	background-color: #ffffff;
	width: 150px;
	min-height: 30px;	
    border: none;
    color: #111111;
    padding: 10px 12px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 12px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    margin: auto;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #111111;
	border-radius: 25px;
	letter-spacing: 1px;
	text-align: center;
}

.price_btn a:hover{
	color: #ffffff;
	background-color: #ec2F4B;
	border-color: #ec2F4B;
}

.mid_btn a{
	background-color: #ec2F4B;
	width: 150px;
	min-height: 30px;	
    border: none;
    color: #ffffff;
    padding: 10px 12px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 12px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    margin: auto;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ec2F4B;
	border-radius: 25px;
	letter-spacing: 1px;
	text-align: center;
}

.mid_btn a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #111111;
}

/* --- 3.6. Consulting Area Six --- */
.consult_area_six{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	height: 100%;
	background-color: #ec2F4B;
	margin-bottom: 9em;
	padding: 5em 0;
}

.consult_group_six{
	position: relative;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 25px;
}

.query_area{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
}

.question_col{
	flex: 66.66%;
	width: 66.66%;
}

.info_col{
	flex: 33.33%;
	width: 33.33%;
}

.question_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.panel_col{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.info_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.info_box{
	max-width: 450px;
	padding: 0 20px;
}

.info_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.info_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.info_box h5{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5em;
}

.accordion_box{
	overflow:  hidden;
	margin-top: 12px;
}

.accordion {
	background: transparent;
	cursor: pointer;
	padding: 15px 20px;
	width: 100%;
	border: none;
	text-align: left;
	overflow: hidden;
	transition: 0.4s;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	line-height: 1.5em;
	border: solid 1px #e0e0e0;
}

.active-bar, .accordion:hover {
	background-color: #ffffff;
	color: #111111;
}

.accordion:after{
	font-family: 'Font Awesome 5 Free';
	content: '\f107';
	font-size: 16px;
	color: #111111;
	font-weight: 600;
	float: right;
	margin-left: 5px;
}

.active-bar:after {
	font-family: 'Font Awesome 5 Free';
	content: "\f106";
}

.panel{
	padding: 0;
	background-color: #ffffff;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.panel > p{
	padding: 20px 16px 20px;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	line-height: 1.6em;
	color: #696969;
}

/* --- 3.7. Consulting Area Seven --- */
.consult_area_seven{
	max-width: 1280px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.consult_group_seven{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}

.team_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 25px;
	position: relative;
}

.team_box{
	max-width: 400px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.team_image img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.team_image{
	overflow: hidden;
	position: relative;
	padding-bottom: 55px;
	padding-right: 55px;
	padding-top: 12px;
	padding-left: 12px;
	transition: ease-in-out 0.5s;
}

.team_content{
	position: absolute;
	bottom: 0;
}

.team_icon{
	position: absolute;
	top: 0;
	right: 0;
}

.team_icon .fab,
.team_icon .fa{
	font-size: 18px;
	color: #ec2F4B;
	display: block;
	padding: 10px 18px;
	text-align: center;
	transition: ease-in-out 0.5s;
}

.team_image:hover{
	background-color: #ec2F4B;
}

.team_icon a{
	text-decoration: none;
}

.team_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	text-transform: capitalize;
	letter-spacing: 1px;
	text-align: left;
	padding: 5px 0;
	opacity: 1;
}

.team_image:hover .team_icon .fab,
.team_image:hover .team_icon .fa{
	color: #ffffff;
}

.team_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 17px;
	display: block;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.4em;
	padding-top: 10px;
	opacity: 0;
	display: none;
}

.team_image:hover .team_name{
	opacity: 0;
}

.team_image:hover .team_title{
	opacity: 1;
	display: block;
}

.box_button a{
	background-color: #ec2F4B;
	width: 180px;
	min-height: 25px;
	margin: auto;
	margin-top: 50px;	
    border: none;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ec2F4B;
	border-radius: 25px;
	letter-spacing: 1px;
	text-align: center;
}

.box_button a:hover{
	color: #111111;
	background: transparent;
	border-color: #111111;
}

/* --- 3.8. Consulting Area Eight --- */
.consult_area_eight{
	width: 100%;
	margin: 0;
	min-height: 400px;
	padding: 7em 25px;
	background-color: #eeeeee;
}

.consult_group_eight{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 30px 25px 0;
}

.blog_box{
	max-width: 400px;
	position: relative;
	text-align: left;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.blog_area{
	overflow: hidden;
	position: relative;
	padding-bottom: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-left: 12px;
	background-color: #ffffff;
}

.blog_content{
	text-align: center;
	padding: 25px 0;
}

.blog_date{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: block;
	font-weight: 600;
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 0;
	width: 250px;
	margin: auto;
}

.blog_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
}

.blog_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 0;
	line-height: 1.5em;
}

.blog_btn{
	max-width: 250px;
	margin: 0 auto;
}

a.blog_btn{
	width: 190px;	
    border: none;
    color: #111111;
	margin: 0 auto;
	padding-top: 10px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.2em;
}

a.blog_btn:hover,
.blog_title a:hover{
	color: #ec2F4B;
}

.blog_crumb{
	width: 50px;
	height: 1px;
	display: block;
	border-bottom: solid 2px #111111;
	margin: 10px auto 0;
	transition: 0.5s;
}

a.blog_btn:hover .blog_crumb{
	border-color: #ec2F4B;
}

/* --- 3.9. Consulting Area Nine --- */
.consult_area_nine{
	position: relative;
	min-height: 200px;
	height: 100%;
	text-align: center;
	margin-bottom: 9em;
	padding: 6em 25px 7em;
	background-color: #ec2F4B;
}

.consult_group_nine{
	position: relative;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

.dark_sub{
	color: #111111;
}

.client_details{
	display: block;
	max-width: 325px;
	width: 100%;
	margin: auto;
	padding: 0 15px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

.client_box{
	width: 100%;
	padding: 35px 30px;
	text-align: center;
	display: block;
	background-color: #ffffff;
}

.client_info img{
	max-width: 90px;
	height: 90px;
	margin: auto;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin-bottom: 14px;
}

.client_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
}

.client_comment{
	display: block;
	clear: both;
}

.client_title{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #ec2F4B;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.client_comment q{
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	max-width: 350px;
	margin: auto;
	padding-top: 15px;
}

.client_col .slick-dots {
	position: relative;
	z-index: 999999;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0.2rem 0 0;
	list-style-type: none;
}

.client_col .slick-dots button{
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #ffffff;
	border-radius: 100%;
	background-color: transparent;
	text-indent: -9999px;
}

.client_col li.slick-active button{
	background-color: #ffffff;
}

.client_col .slick-dots button:hover{
	background-color: #ffffff;
}

.client_col .slick-dots li{
	margin: 6px 0.40rem;
}

/* --- 3.10. Consulting Area Ten --- */
.consult_area_ten{
	max-width: 1200px;
	margin: 0 auto 7em;
	padding: 0 35px;
}

.consult_group_ten{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col_info{
	flex: 100%;
	width: 100%;
}
	
.col_head{
	flex: 100%;
	width: 100%;
}

.subscribe-row{
	text-align: center;
	margin-top: 35px;
}

.col_head h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 30px;
	display: block;
	font-weight: 500;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
	max-width: 600px;
	margin:  0 auto;
}

.col_info input[type="email"]{
	width: 350px;
	padding: 10px 15px 14px;
	padding-right: 50px;
	border: 0;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: inline-block;
	font-weight: 600;
	color: #333333;
	text-transform: capitalize;
	letter-spacing: 1px;
	background-color: #f6f6f6;
}

.col_info input[type="submit"]{
	display: inline-block;
	width: auto;
	padding: 11px 24px;
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	margin-left: -4px;
	color: #ffffff;
	border-radius: 0;
	letter-spacing: 1px;
	background-color: #ec2F4B;
	border: solid 1px #ec2F4B;
	transition: 0.5s;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.col_info input[type="submit"]:hover{
	background-color: #111111;
	color: #ffffff;
	border-color: #111111;
}

.col_info input[type="email"]:focus{
	outline: none;
	box-shadow: 0 0 0 2px #e0e0e0;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
	background-color: #111111;
}

.footer_area{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 4.5em;
}

a.footer-brand img{
	max-width: 200px;
	height: auto;
	display: block;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 16px;
	color: #ffffff;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.final{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #ffffff;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ffffff;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.right_list{
	padding-top: 10px;
}

.blog_list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 390px;
	padding-bottom: 10px;
}

.left_blog{
	flex: 25%;
	width: 25%;
	padding-bottom: 10px;
}

.right_blog{
	flex: 75%;
	width: 75%;
	max-width: 290px;
	padding-bottom: 15px;
	padding-left: 14px;
	margin-top: -5px;
}

.left_blog img{
	vertical-align: middle;
	width: 100%;
	max-width: 100px;
	transition: .5s;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #6f6f6f;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
	
	.square_left_col{
		flex: 100%;
		width: 100%;
	}
	
	.square_right_col{
		flex: 100%;
		width: 100%;
		margin-top: 40px;
	}
	
	.flip_col{
		flex: 50%;
		width: 50%;
		max-width: 350px;
		margin: auto;
	}
	
	.consult_group_two{
		max-width: 700px;
		margin: auto;
	}
	
	.second_space{
		padding-right: 10px;
	}
	
	.bg_col{
		flex: 50%;
		width: 50%;
		margin-bottom: 40px;
	}
	
	.second_border{
		border-right: none;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
	}
	
	.question_col{
		flex: 100%;
		width: 100%;
	}
	
	.info_col{
		flex: 100%;
		width: 100%;
		margin-bottom: 20px;
	}
	
	.col_info input[type="email"]{
		padding: 12px 15px 14px;
	}
}	

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #ffffff;
		font-size: 25px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header a.navbar-brand{
		padding-top: 22px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.header-title{
		margin-left: 5vw;
	}
	
	.price_col{
		flex: 100%;
		width: 100%;
		margin-bottom: 40px;
	}
	
	.center_col{
		bottom: 0;
	}
	
	.consult_group_five{
		padding-top: 30px;
	}
	
	.panel_col{
		flex: 100%;
		width: 100%;
		max-width: 600px;
	}
	
	.team_col{
		flex: 100%;
		width: 100%;
		margin-bottom: 30px;
	}
	
	.box_button a{
		margin-top: 30px;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.header-title__main{
		font-size: 30px;
	}
	
	.right_box h2,
	.consult_head,
	.bg_head,
	.info_box h2{
		font-size: 30px;
	}
	
	.photo_col,
	.card_col{
		flex: 100%;
		width: 100%;
		max-width: 450px;
		margin: auto;
	}
	
	.card_col{
		margin-top: 25px;
	}
	
	.flip_col{
		flex: 100%;
		width: 100%;
	}
	
	.second_space{
		padding-left: 10px;
	}
	
	.first_space{
		padding-right: 10px;
	}
	
	.bg_col{
		flex: 100%;
		width: 100%;
	}
	
	.first_border,
	.third_border{
		border-right: none;
	}
	
	.square_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.col_info input[type="email"]{
		display: block;
		width: 100%;
	}
	
	.col_info input[type="submit"]{
		margin-top: 20px;
		display: block;
		width: 100%;
		margin-left: 0;
	}
	
	.col_head h3{
		font-size: 25px;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 420px){
	.square_right_col{
		padding: 0;
	}
	
	.right_box{
		padding-left: 0;
	}
	
	.blog_col,
	.price_col,
	.bg_col,
	.team_col,
	.square_col,
	.box_col,
	.info_box,
	.panel_col{
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 320px){
	.video-play-button{
		margin-top: -180px;
	}
}
