/*------------------------------------------------------------------
Main Stylesheet

Project:    Upstake - Multipurpose Business Template
Version:    1.0
Last change:    16/05/2024
Author:    creativemaze
Primary use:    Corporate
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Corporate Area One 
	3.2. Corporate Area Two
	3.3. Corporate Area Three
	3.4. Corporate Area Four
	3.5. Corporate Area Five
	3.6. Corporate Area Six
	3.7. Corporate Area Seven
	3.8. Corporate Area Eight
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.corporate_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 600;
	display: block;
	color: #111111;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.2em;
	max-width: 650px;
	margin: auto;
}

.bg_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.2em;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.corporate_info{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.corporate_center{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #009fff;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.corporate_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #009fff;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
.navbar-header > a{
	text-decoration: none;
	color: #f1f1f1;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 30px;
}

.navbar-header > a:hover{
	color: #f1f1f1;
}

#nav-logo > a{
	max-width: 160px; 
	position: relative;
	top: 33px;
}

#nav-logo > a img{
   position: relative;
   max-width: 160px;
   height: auto;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
	margin-top: 5px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #ffffff;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #009fff;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #009fff;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #009fff;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #ffffff;
	padding-top: 36px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	border-bottom: solid 1px #6f6f6f;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 600px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info > a > .fab{
	font-size: 16px;
	color: #ffffff;
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info > a .fab{
	padding-right: 14px;
	transition: 0.5s;
}

.right_info > a > .fab:hover{
	color: #009fff;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 19px;
	right: 0;
}

.head_btn a{
	background-color: #009fff;
	width: 150px;
	margin: 0 auto;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #009fff;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

.sliderwrap{
	position: relative;
	top: -140px;
}

.header__content{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	min-height: 800px;
}

.slide__content{
	height: 100vh;
	min-height: 800px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 1000;
}

.left_clip{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50vw;
	height: 150px;
	border-style: solid;
	border-width: 0 0 150px 50vw;
	border-color: transparent transparent #ffffff transparent;
}

.right_clip{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50vw;
	height: 150px;
	border-style: solid;
	border-width: 150px 0 0 50vw;
	border-color: transparent transparent transparent #ffffff;
}

.prev_nav{
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translateY(-50%);
	margin-left: 20px;
}

.next_nav{
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translateY(-50%);
	margin-right: 20px;
}

.prev_nav,
.next_nav{
	font-size: 50px;
	font-weight: 700;
	transition: 0.6s ease;
	width: auto;
	display: inline-block;
	overflow: hidden;
	color: #009fff;
	cursor: pointer;
}

.next_nav:hover,
.prev_nav:hover{
	color: #111111;
}

.box_info{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-bottom: -60px;
	margin-left: -90px;
	transform: translateX(-50%);
	z-index: 99;
	width: 180px;
	height: 180px;
	background-color: #009fff;
	border-radius: 50%;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	animation: 3s infinite ease-in-out up-down;
}

@keyframes up-down{
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.box_feature{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12px;
}

.box_title{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: auto;
	border: double 4px #ffffff;
	border-radius: 50%;
}

.box_title h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.5em;
	margin: 0;
}

.slide__content:before {
	content: '';
	position: absolute;
	z-index: -1;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.5);
}

.header-title {
	max-width: 650px;
	display: block;
	margin-left: 10vw;
	padding-right: 10px;
}

.header-title__main{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 45px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.2em;
	text-align: left;
	display: block;
	color: #ffffff;
}

.header-title__sub{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	max-width: 500px;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	padding: 20px 0;
}

.buttoncol a{
	background-color: #009fff;
	width: 150px;
    color: #ffffff;
    padding: 14px;
	margin-top: 10px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #009fff;
	letter-spacing: 1px;
	text-align: center;
}

.buttoncol a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Corporate Area One --- */
.corporate_area_one{
	max-width: 1280px;
	margin: 0 auto 0;
	padding: 0 25px;
	margin-bottom: calc(9em + 15px);
}

.corporate_group_one{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.square_col_right{
	flex: 50%;
	width: 50%;
	padding: 0 20px;
}

.square_col_left{
	flex: 50%;
	width: 50%;
	padding: 0 20px;
}

.square_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.square_box{
	max-width: 550px;
	padding-right: 20px;
}

.square_box h2{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 600;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.square_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	padding-top: 15px;
	max-width: 450px;
}

.square_list > ul > li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	padding: 20px 0;
}

.square_list > ul > li::first-letter{
	background-color: #009fff;
	padding: 12px 14px;
	color: #ffffff;
	margin-right: 4px;
}

.photo_box{
	position: relative;
	max-width: 550px;
	text-align: center;
	margin: auto;
}

.photo_image{
	position: relative;
	z-index: 1;
}

.photo_image img{
	width: 100%;
	height: auto;
	display: block;
}

.shape_photo{
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.photo_color_box{
	position: absolute;
	margin-bottom: -15px;
	bottom: 0;
	left: -100px;
	z-index: 99;
	width: 290px;
	height: 290px;
	background-color: #ffffff;
	border-radius: 50%;
}

.photo_center{
	width: 270px;
	height: 270px;
	margin: 10px auto;
	border-radius: 50%;
}

.photo_center img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 50%;
}

/* --- 3.2. Corporate Area Two --- */
.corporate_area_two{
	min-height: 400px;
	text-align: center;
	margin-bottom: 9em;
	padding: 8em 25px 8em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 9em;
}

.corporate_area_two::after{
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.front_index{
	position: relative;
	z-index: 999;
}

.corporate_group_two{
	position: relative;
	z-index: 999;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.icon_col{
	flex: 25%;
	width: 25%;
	padding: 30px 25px 0;
}

.icon_box{
	max-width: 250px;
	margin: auto;
	text-align: center;
	padding-top: 15px;
	background: rgba(0, 0, 0, 0.5);
	border-bottom: solid 4px #009fff;
}

.icon_content{
	width: 100%;
	padding: 0 0 25px;
	margin-top: -20px;
}

.icon_symbol span.icon-80{
	font-size: 80px;
	font-weight: 100;
	color: #009fff;
	display: inline-block;
	text-align: center;
}

.icon_content h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
}

.icon_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #dddddd;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
	padding: 8px 12px 4px;
}

.icon_button a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	color: #009fff;
	text-decoration: none;
	max-width: 105px;
	margin: 0 auto;
	transition: 0.5s;
}

.icon_button a::after{
	content: "\203A";
	position: relative;
	top: 1px;
	font-size: 20px;
	display: inline-block;
	padding-left: 5px;
}

.icon_button a:hover{
	color: #ffffff;
}

/* --- 3.3. Corporate Area Three --- */
.corporate_area_three{
	max-width: 1280px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.corporate_group_three{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.info_head{
	flex: 58.33%;
	width: 58.33%;
	padding: 0 10px;
}

.info_content{
	flex: 41.66%;
	width: 41.66%;
	padding: 0 10px;
	margin-top: 50px;
}

.info_head h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 600;
	color: #111111;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
	max-width: 550px;
}

.info_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	max-width: 500px;
}

.grid_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 30px 20px 0;
}

.grid_box{
	position: relative;
	max-width: 400px;
	text-align: center;
}

.grid_image{
	position: relative;
	overflow: hidden;
}

.grid_image img{
	width: 100%;
	height: auto;
	display: block;
}

.grid_overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: rgba(24, 25, 34, 0.5);
}

.grid_num{
	width: 75px;
	height: 75px;
	margin: 0 auto 0;
	background: transparent;
	border: solid 1px #dddddd;
	border-radius: 50%;
}

.grid_num h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-weight: 600;
	font-size: 25px;
	display: block;
	text-align: center;
	color: #dddddd;
	line-height: 1.4em;
}

.grid_num{
	position: absolute;
	top: 20px;
	left: 20px;
}

.grid_title_area{
	width: calc(100% - 50px);
	position: relative;
	bottom: 35px;
	margin: auto;
	overflow: auto;
	border-radius: 5px;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.grid_title{
	width: calc(100% - 75px);
	position: relative;
	bottom: 30px;
	margin: auto;
	overflow: auto;
	border-radius: 5px;
	background-color: #009fff;
}

.grid_title h3{
	color: #ffffff;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin: 0;
	padding: 15px 6px;
}

.grid_content{
	padding: 45px 15px 20px;
	margin-top: -55px;
	text-align: left;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.grid_content h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	display: block;
	text-align: left;
	color: #111111;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin: 0;
}

.grid_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	padding-top: 10px;
}

.area_button a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	display: inline-block;
	color: #009fff;
	text-decoration: none;
	max-width: 110px;
	transition: 0.5s;
	padding-top: 5px;
}

.area_button a::after{
	content: "\203A";
	position: relative;
	top: 1px;
	font-size: 20px;
	display: inline-block;
	padding-left: 5px;
}

.area_button a:hover{
	color: #111111;
}

/* --- 3.4. Corporate Area Four --- */
.corporate_area_four{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 450px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: calc(9em - 50px);
	padding: 6em 0;
}

.corporate_area_four::after{
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.corporate_group_four{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 25px;
	position: relative;
	z-index: 999;
}

.corporate_group_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.bg_col{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.bg_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.bg_box{
	max-width: 700px;
}

.bg_box h2{
	color: #ffffff;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 600;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.bg_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
	max-width: 500px;
}

.bg_col_button a{
	background-color: #009fff;
	width: 150px;
	margin: 10px 0 20px;
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #009fff;
	letter-spacing: 1px;
	text-align: center;
}

.bg_col_button a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

.video-play-button {
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-sizing: content-box;
	display: block;
	width: 28px;
	height: 42px;
	border-radius: 50%;
	padding: 28px 16px 12px 32px;
}

.video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	transition: all 200ms;
}

.video-play-button span {
	display: block;
	position: relative;
	z-index: 3;
	width: 0;
	height: 0;
	border-left: 18px solid #009fff;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/* --- 3.5. Corporate Area Five --- */
.corporate_area_five{
	max-width: 1280px;
	margin: 0 auto 0;
	padding: 0 25px;
	margin-bottom: calc(9em - 50px);
}

.corporate_group_five{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.feature_col{
	flex: 50%;
	width: 50%;
}

.feature_box{
	max-width: 640px;
	min-height: 550px;
	position: relative;
	animation: 3s infinite ease-in-out up-down;
}

.info_col{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

#top_left_pic{
	position: absolute;
	top: 25px;
	left: 50px;
	width: 110px;
	height: 110px;
	border-radius: 50%;
}

#top_center_pic{
	position: absolute;
	top: 50px;
	right: 50px;
	width: 110px;
	height: 110px;
}

#bottom_left_pic{
	position: absolute;
	bottom: 25px;
	left: 50px;
	width: 110px;
	height: 110px;
	border-radius: 50%;
}

#bottom_center_pic{
	position: absolute;
	bottom: 50px;
	right: 50px;
	width: 110px;
	height: 110px;
	border-radius: 50%;
}

#top_left_pic img,
#top_center_pic img,
#bottom_left_pic img,
#bottom_center_pic img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 50%;
}

.center_area{
	width: 300px;
	height: 300px;
	background-color: #009fff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 12px;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.color_title{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: auto;
	border: double 4px #ffffff;
	border-radius: 50%;
}

.color_title h3{
	color: #ffffff;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 24px;
	font-weight: 600;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.5em;
	margin: 0;
}

.title_size{
	font-size: 42px;
	font-weight: 800;
	color: #111111;
}

.info_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.info_box{
	max-width: 550px;
	padding-left: 20px;
}

.info_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 600;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.info_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding: 15px 0;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	max-width: 450px;
}

.info_list > ul{
	margin-bottom: 25px;
}

.info_list > ul > li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	line-height: 1.4em;
	text-align: left;
	padding: 7px 0;
}

.info_list > ul > li::before{
	content: "\e5cc";
	font-family: 'Material Symbols Outlined';
	font-weight: 400;
	font-size: 30px;
	position: relative;
	top: 10px;
	padding-right: 3px;
	color: #009fff;
}

.info_col_button a{
	background-color: #009fff;
	width: 150px;
	margin: 20px 0 0;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #009fff;
	letter-spacing: 1px;
	text-align: center;
}

.info_col_button a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111;
}

/* --- 3.6. Corporate Area Six --- */
.corporate_area_six{
	position: relative;
	width: 100%;
	min-height: 400px;
	padding: 6em 25px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 9em;
}

.corporate_area_six::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.corporate_group_six{
	position: relative;
	z-index: 999;
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.review_col_left{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.review_col_right{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
	margin-top: -85px;
	position: relative;
}

.client_col{
	width: 100%;
	padding: 0 10px;
}

.review_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.review_box{
	max-width: 550px;
	padding-right: 20px;
}

.review_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.review_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #dddddd;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	max-width: 450px;
}

.client_details{
	max-width: 640px;
	padding: 20px;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	border-left: solid 4px #009fff;
	margin-bottom: 65px;
}

.client_info{
	margin-bottom: -110px;
	clear: both;
}

.client_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.4em;
	margin: 0;
	padding: 11px 0;
}

.client_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #009fff;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	margin: 0;
}

.client_details p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #dddddd;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px;
	line-height: 1.5em;
}

.client_photo img{
	max-width: 80px;
	height: 80px;
	border-radius: 50%;
	display: block;
	text-align: left;
}

.quote_format{
	font-size: 130px;
	color: #009fff;
	display: inline-block;
	text-align: center;
	bottom: -65px;
	position: relative;
}

.slick-dots {
	position: absolute;
	z-index: 5;
	top: -65px;
	right: 15px;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}

.slick-dots button{
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #ffffff;
	border-radius: 100%;
	background-color: transparent;
	text-indent: -9999px;
}

li.slick-active button{
	background-color: #ffffff;
}

.slick-dots button:hover{
	background-color: #ffffff;
}

.slick-dots li{
	margin: 0 4px 8px 4px;
}

.review_col_button a{
	background-color: #009fff;
	width: 160px;
	margin: 35px 0 0;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #009fff;
	letter-spacing: 1px;
	text-align: center;
}

.review_col_button a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

/* --- 3.7. Corporate Area Seven --- */
.corporate_area_seven{
	max-width: 1280px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.corporate_group_seven{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 40px 20px 0;
}

.blog_box{
	max-width: 400px;
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.blog_date{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	padding: 12px;
}

.blog_date h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: block;
	font-weight: 600;
	color: #009fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin: 0;
	padding: 5px 0;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.blog_image img{
	width: 100%;
	height: auto;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
}

.blog_content{
	text-align: left;
	padding: 10px 0 20px;
	padding-left: 15px;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

a.blog_btn{
	max-width: 110px;	
    color: #009fff;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	letter-spacing: 1px;
	text-align: left;
}

a.blog_btn::after{
	content: "\203A";
	position: relative;
	top: 1px;
	font-size: 20px;
	display: inline-block;
	padding-left: 5px;
}

a.blog_btn:hover{
	color: #111111;
}

/* --- 3.8. Corporate Area Eight --- */
.corporate_area_eight{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 2em;
	padding: 4em 0;
}

.corporate_area_eight::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.corporate_group_eight{
	position: relative;
	z-index: 999;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 25px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.side_heading{
	flex: 83.33%;
	width: 83.33%;
	padding: 0 20px;
}

.side_heading h2{
	max-width: 600px;
	color: #ffffff;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 35px;
	font-weight: 600;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.right_btn{
	flex: 16.66%;
	width: 16.66%;
	padding: 0 20px;
	margin-top: 40px;
}

.right_btn a{
	background-color: #009fff;
	width: 150px;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	letter-spacing: 1px;
	text-align: center;
}

.right_btn a:hover{
	color: #111111;
	background-color: #ffffff;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
}

.footer_area{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 3.5em;
}

a.footer-logo img{
	max-width: 150px;
	height: auto;
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 10px;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #111111;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #111111;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social > a > .fab,
.footer_social > a > .fa{
	font-size: 16px;
	color: #111111;
	text-align: left;
	transition: 0.5s;
}

.footer_social > a{
	padding-right: 12px;
}
 
.footer_social > a > .fab:hover,
.footer_social > a > .fa:hover{
	color: #009fff;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #111111;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	color: #111111;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	color: #009fff;
}

.right_list{
	padding-top: 10px;
}

.blog_list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 390px;
	padding-bottom: 10px;
}

.left_blog{
	flex: 33.33%;
	width: 33.33%;
	padding-bottom: 10px;
}

.right_blog{
	flex: 66.66%;
	width: 66.66%;
	max-width: 290px;
	padding-bottom: 15px;
	padding-left: 14px;
	margin-top: -5px;
}

.left_blog img{
	vertical-align: middle;
	width: 100%;
	max-width: 100px;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #e0e0e0;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #111111;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #ffffff;
		font-size: 25px;
		margin-top: 7px;
		margin-bottom: 12px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.head_btn a:hover{
		background: transparent;
		border-color: #111111;
	}
	
	.navbar-header > a{
		margin-top: 14px;
	}
	
	#nav-logo > a{
		top: 19px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 21px;
	}
	
	.header-title{
		margin-left: 5vw;
	}
	
	.square_col_left{
		flex: 100%;
		width: 100%;
	}
	
	.square_col_right{
		flex: 100%;
		width: 100%;
		margin-top: 40px;
	}
	
	.icon_col{
		flex: 50%;
		width: 50%;
	}
	
	.info_head{
		flex: 100%;
		width: 100%;
	}
	
	.info_content{
		flex: 100%;
		width: 100%;
		margin-top: 10px;
	}
	
	.grid_col{
		flex: 50%;
		width: 50%;
	}
	
	.bg_col{
		flex: 100%;
		width: 100%;
	}
	
	.bg_col_button a{
		margin-bottom: 90px;
	}
	
	.feature_col{
		flex: 100%;
		width: 100%;
	}
	
	.info_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
	}
	
	.review_col_left{
		flex: 100%;
		width: 100%;
		margin-bottom: 40px;
	}
	
	.review_col_right{
		flex: 100%;
		width: 100%;
	}
	
	.side_heading{
		flex: 100%;
		width: 100%;
	}
	
	.right_btn{
		flex: 100%;
		width: 100%;
		margin-top: 20px;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.header-title__main{
		font-size: 30px;
	}
	
	.corporate_head,
	.square_box h2,
	.info_head h2,
	.bg_box h2,
	.bg_head,
	.info_box h2,
	.review_box h2{
		font-size: 30px;
	}
	
	.side_heading h2{
		font-size: 25px;
	}
	
	.square_col_left,
	.square_box,
	.info_head,
	.info_content,
	.bg_col,
	.info_col,
	.info_box,
	.review_col_right,
	.review_col_left,
	.review_box{
		padding-left: 0;
		padding-right: 0;
	}
	
	.photo_color_box{
		left: -55px;
		width: 220px;
		height: 220px;
	}
	
	.photo_center{
		width: 200px;
		height: 200px;
	}
	
	.icon_col{
		flex: 100%;
		width: 100%;
	}
	
	.grid_col{
		flex: 100%;
		width: 100%;
	}
	
	.center_area{
		width: 220px;
		height: 220px;
	}
	
	.color_title h3{
		font-size: 20px;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 480px){
	#top_left_pic{
		left: 0;
	}
	
	#top_center_pic{
		right: 0;
	}
	
	#bottom_left_pic{
		left: 0;
	}
	
	#bottom_center_pic{
		right: 0;
	}
}

@media only screen and (max-width: 420px){
	.grid_col,
	.client_col,
	.blog_col,
	.side_heading,
	.right_btn{
		padding-left: 0;
		padding-right: 0;
	}
	
	.photo_color_box{
		width: 190px;
		height: 190px;
	}
	
	.photo_center{
		width: 170px;
		height: 170px;
	}
	
	.color_title h3{
		font-size: 18px;
	}
	
	.title_size{
		font-size: 34px;
	}
}

@media only screen and (max-width: 360px){
	.photo_color_box{
		width: 150px;
		height: 150px;
	}
	
	.photo_center{
		width: 130px;
		height: 130px;
	}
	
	.center_area{
		width: 170px;
		height: 170px;
	}
	
	.color_title h3{
		font-size: 15px;
	}
	
	.title_size{
		font-size: 26px;
	}
}

@media only screen and (max-width: 320px){
	.grid_title h3{
		font-size: 13px;
	}
}
