/*------------------------------------------------------------------
Main Stylesheet

Project:    Highpoint Corporate Template
Version:    1.0
Last change:    23/11/2021
Author:     creativemaze
Primary use:    E-Learning
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. E-Learning Area One 
	3.2. E-Learning Area Two
	3.3. E-Learning Area Three
	3.4. E-Learning Area Four
	3.5. E-Learning Area Five
	3.6. E-Learning Area Six
	3.7. E-Learning Area Seven
	3.8. E-Learning Area Eight
	3.9. E-Learning Area Nine
	3.10. E-Learning Area Ten
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.elearning_heading{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 500;
	display: block;
	color: #111111;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.elearning_center_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #1488CC;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	padding-bottom: 15px;
	text-transform: uppercase;
	max-width: 500px;
	margin: auto;
	padding: 0 15px;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
nav.navbar.bootsnav .navbar-brand{
    max-width: 200px; 	
}

.navbar-header a.navbar-brand{
	text-decoration: none;
	color: #111111;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 30px;
}

.navbar-header a.navbar-brand:hover{
	color: #111111;
}

nav.navbar .navbar-brand img.logo{
   width: 100%;
   height: auto;
   display: block;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #111111;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #1488CC;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #1488CC;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #1488CC;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #111111;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 70px;
	overflow-y: auto;
	background: #182848;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info,
.login_info{
	position: relative;
	flex: 33.33%;
	width: 33.33%;
	padding-top: 20px;
}

.left_info{
	max-width: 600px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.login_info{
	max-width: 200px;
	margin: auto;
	text-align: left;
	display: block;
}

.left_info .fas,
.right_info .fab{
	font-size: 14px;
	color: #ffffff;
}

.right_info > a{
	padding-right: 14px;
}

.sub_width{
	width: 100%;
	text-align: center;
	padding-right: 10px;
}

.login_info a{
	font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
	color: #ffffff;
    transition: 0.5s;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	display: block;
}

.login_info a:hover{
	opacity: 0.6;
}

.head-form{
	flex-direction: row;
	display: flex;
}

.head-form input[type="text"],
.head-form input[type="password"]{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 11px;
	padding: 4px 14px;
	height: 35px;
	border: 1px solid #f2f2f2;
	margin: 0 10px;
	border-radius: 3px;
	flex-grow: 1;
	letter-spacing: 1px;
	background-color: #ffffff;
	color: #111111;
}

.head-form input[type="text"]:focus,
.head-form input[type="password"]:focus{
	border: 1px solid #a9a9a9;
}

.head-form input[type="submit"]{
	height: 35px;
	display: block;
	width: auto;
	flex-grow: 1;
	padding: 4px 14px;
	margin-left: 10px;
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #ffffff;
	border-radius: 3px;
	letter-spacing: 1px;
	background-color: transparent;
	border: solid 1px #ffffff;
	transition: 0.5s;
}

.head-form input[type="submit"]:hover{
	background-color: #ffffff;
	color: #111111;
	border: solid 1px #ffffff;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #1488CC;
	width: 150px;
	min-height: 30px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #1488CC;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: transparent;
	color: #1488CC;
	border-color: #1488CC;
}

.sliderwrap{
	position: relative;
}

.main_content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0 30px;
	min-height: 750px;
	max-width: 1400px;
	margin: auto;
}

.slide__content{
	position: relative;
	min-height: 750px;
	height: 100%;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slide__content::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.5);
}

.slide__left{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 15px;
}

.slide__right{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 15px;
}

.first_left{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.first_right{
	display: flex;
	flex-direction: column;
	max-width: 500px;
	align-items: center;
	margin: 0;
}

.slide__box{
	max-width: 650px;
}

.slide__box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: left;
	display: block;
	color: #ffffff;
	line-height: 1.3em;
}

.slide__box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px 0;
	max-width: 500px;
}

.form-panel{
	text-align: center;
	display: block;
	max-width: 450px;
	margin: auto;
	padding: 25px 35px;
	background-color: #ffffff;
}

.form-panel h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
	display: inline-block;
	color: #111111;
}

.form-row {
	flex-direction: column;
	display: flex;
}

.form-panel input[type="text"],
.form-panel input[type="email"],
.form-panel input[type="password"] {
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	padding: 4px 20px;
	height: 40px;
	border: 1px solid #333333;
	margin: 15px 10px;
	border-radius: 3px;
	flex-grow: 1;
	letter-spacing: 1px;
	color: #333333;
}

.form-panel input[type="text"]:focus,
.form-panel input[type="email"]:focus,
.form-panel input[type="password"]:focus{
	border: 1px solid #111111;
}

.form-panel input[type="submit"]{
	display: block;
	margin: 14px 10px;
	width: calc(100% - 20px);
	padding: 10px 20px;
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	color: #ffffff;
	border-radius: 3px;
	letter-spacing: 1px;
	background-color: #182848;
	border: solid 1px #182848;
	transition: 0.5s;
}

.form-panel input[type="submit"]:hover{
	background-color: #111111;
	color: #ffffff;
	border: solid 1px #111111;
}

.buttoncol{
	max-width: 380px;
}

.buttoncol a{
	background-color: #182848;
	width: 150px;
	min-height: 25px;
	margin-top: 15px;	
    border: none;
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #182848;
	letter-spacing: 1px;
	text-align: center;
}

.buttoncol a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. E-Learning Area One --- */
.elearning_area_one{
	max-width: 1400px;
	margin-bottom: 9em;
	margin-top: 9em;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.elearning_group_one{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}

.flip_col{
	position: relative;
	flex: 25%;
	width: 25%;
	max-width: 350px;
	height: 350px;
	background-color: #f6f6f6;
}

.flip-card {
	background-color: transparent;
	max-width: 350px;
	margin: auto;
	height: 350px;
	perspective: 1000px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

.flip-card img{
	max-width: 350px;
	height: auto;
	margin: auto;
	display: block;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
}

.back-color{
	background-color: #182848;
}

.flip-card-back {
	transform: rotateY(180deg);
}

.flip-card-back{
	position: relative;
}

.flip_info{
	position: relative;
	padding-bottom: 10px;
	padding-right: 0;
	padding-top: 10px;
	padding-left: 0;
}

.last_space{
	padding-right: 10px;
}

.flip_box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #ffffff;
	height: 100%;
}

.color-box{
	background-color: #1488CC;
}

.flip_group .fas,
.flip_group .far{
	font-size: 35px;
	color: #111111;
	text-align: center;
	display: block;
}

.flip_group h3{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.flip_group p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
	padding: 12px 16px;
	max-width: 300px;
}

.inner_crumb{
	width: 50px;
	height: 1px;
	margin: auto;
	border-bottom: solid 2px #111111;
	padding-top: 8px;
}

.color-box .fas{
	color: #ffffff;
}

.color-box h3{
	color: #ffffff;
}

.color-box p{
	color: #f2f2f2;
}

.color_crumb{
	width: 50px;
	height: 1px;
	margin: auto;
	border-bottom: solid 2px #ffffff;
	padding-top: 8px;
}

.box_list{
	max-width: 450px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.box_list ul{
	padding: 10px 6px 20px;
	width: 100%;
}

.box_list > ul li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: left;
	line-height: 1.5em;
	padding: 6px 0;
}

.box_list > ul li::before{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	padding-right: 12px;
	color: #f2f2f2;
}

.card_button a{
	background: transparent;
	width: 190px;
	min-height: 30px;
	margin: 10px auto 0;
    border: none;
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ffffff;
	letter-spacing: 1px;
	text-align: center;
}

.card_button a:hover{
	color: #111111;
	background-color: #ffffff;
}

/* --- 3.2. E-Learning Area Two --- */
.elearning_area_two{
	max-width: 1600px;
	margin: 0 auto;
	margin-bottom: calc(9em + 50px);
	padding: 0 25px;
}

.elearning_group_two,
.tutorial_box_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.tutorial_wide_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 15px;
	overflow: hidden;
	position: relative;
}

.course_slider{
	max-width: 1000px;
	margin: auto;
	width: 100%;
}

.tutorial_box_col{
	flex: 66.66%;
	width: 66.66%;
	padding: 0 15px;
	position: relative;
}

.wide_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.wide_box{
	max-width: 600px;
	margin: 0;
}

.wide_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 500;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.elearning_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #1488CC;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
}

.course_list ul{
	padding: 14px 0 16px;
}

.course_list > ul li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: left;
	padding: 6px 0;
}

.course_list > ul li::before{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	padding-right: 12px;
	color: #1488CC;
}

.tutorial_image img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.tutorial_course_box{
	max-width: 500px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	padding-left: 20px;
}

.tutorial_image{
	overflow: hidden;
	position: relative;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: ease-in-out 1.25s;
	background: rgba(0,0,0,0.6);
}

.course_subject{
	position: absolute;
	top: 25px;
	left: 20px;
}

.course_title{
	position: absolute;
	bottom: 30px;
	left: 20px;
	max-width: 350px;
	margin: auto;
	padding-right: 5px;
}

.course_subject h5{
	margin: 0;
}

.course_subject h5 a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
	text-transform: uppercase;
	background-color: #1488CC;
	padding: 9px 14px;
	transition: 0.6s;
	text-decoration: none;
}

.course_subject h5 a:hover{
	background-color: #ffffff;
	color: #1488CC;
}

.course_title h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 22px;
	font-weight: 500;
	display: inline-block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.4em;
}

.list_col_button a{
	background-color: #182848;
	width: 165px;
	min-height: 30px;
	margin: 10px 0 0;
    border: none;
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #182848;
	letter-spacing: 1px;
	text-align: center;
}

.list_col_button a:hover{
	color: #182848;
	background-color: transparent;
	border-color: #182848;
}

.slidenav{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	margin-bottom: -50px;
}

.prev_slide,
.next_slide{
	font-size: 14px;
	transition: 0.6s ease;
	background-color: transparent;
	width: auto;
	display: inline-block;
	overflow: hidden;
	padding: 10px 16px;
	color: #111111;
	cursor: pointer;
	border: solid 1px #111111;
	border-radius: 3px;
}

.prev_slide{
	margin-right: 15px;
}

.next_slide:hover,
.prev_slide:hover{
	background-color: #182848;
	color: #ffffff;
	border-color: #182848;
}

/* --- 3.3. E-Learning Area Three --- */
.elearning_area_three{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 450px;
	height: 100%;
	background-color: #1488CC;
	margin: 0 0;
}

/* --- 3.4. E-Learning Area Four --- */
.elearning_area_four{
	max-width: 1400px;
	min-height: 300px;
	margin: 0 auto 9em;
	margin-top:  -325px;
	position: relative;
	z-index: 9999;
	padding: 0 30px;
}

.elearning_group_four{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 40px 20px 0;
	background-color: #ffffff;
	margin-top: 40px;
}

.bg_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 500;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 0;
	line-height: 1.3em;
}

.bg_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #d2d2d2;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	padding-bottom: 12px;
	text-transform: uppercase;
}

.popular_box{
	max-width: 350px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
}

.popular_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	border-right: solid 1px #e0e0e0;
}

.fourth_border{
	border-right: none !important;
}

.popular_col img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 50%;
}

.popular_image{
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	background-color: #f6f6f6;
	transition: ease-in-out 0.5s;
}

.ratings_icon{
	text-align: center;
	width: 100%;
	padding: 8px 0;
	display: block;
}

.ratings_icon .fas{
	font-size: 13px;
	color: #1488CC;
}

.popular_box .popular_image > img{
	transition: ease-in-out 1.25s;
}

.popular_box:hover .popular_image > img{
	transform: scale(1.15);
}

.popular_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
}

.popular_info{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
	padding: 10px 0;
}

.area_button > a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: right;
	text-transform: uppercase;
	display: block;
	color: #1488CC;
	text-decoration: none;
	width: 120px;
	margin: auto;
	transition: 0.5s;
    cursor: pointer;
}

.area_button > a::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.area_button > a:hover{
	color: #111111;
}

.box_button a{
	background-color: #182848;
	width: 180px;
	min-height: 25px;
	margin: auto;
	margin-top: 45px;	
    border: none;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #182848;
	letter-spacing: 1px;
	text-align: center;
}

.box_button a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #111111;
}

/* --- 3.5. E-Learning Area Five --- */
.elearning_area_five{
	max-width: 1200px;
	padding: 0 25px;
	margin: 0 auto 9em;
}

.elearning_group_five{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.elearning_download_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 25px;
}

.download_box{
	max-width: 350px;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}

.download_content{
	width: 100%;
	padding: 30px 20px 30px;
	transition: 0.5s;
	overflow: hidden;
	cursor: pointer;
}

.download_icon{
	float: left;
	width: 15%;
}

.download_item{
	float: left;
	width: 85%;
	padding-left: 15px;
}

.download_item h3{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin-top: 0;
}

.download_icon .fas,
.download_icon .far,
.download_icon .fab{
	font-size: 35px;
	color: #1488CC;
	text-align: center;
	display: block;
}

.download_item p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	padding: 10px 0;
}

.download_button > a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: left;
	display: block;
	text-transform: uppercase;
	color: #111111;
	text-decoration: none;
	width: 150px;
	transition: 0.5s;
}

.download_button > a::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.download_box:hover{
	background-color: #1488CC;
}

.download_box:hover h3,
.download_box:hover p{
	color: #ffffff;
}

.download_box:hover .fas,
.download_box:hover .far{
	color: #ffffff;
}

.download_box:hover .download_button > a{
	border-color: #ffffff;
	color: #ffffff;
}

.download_box:hover .download_button > a:hover{
	color: #111111;
}

/* --- 3.6. E-Learning Area Six --- */
.elearning_area_six{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	margin: 0 0 9em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	padding: 6em 0;
}

.elearning_area_six::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.elearning_group_six{
	max-width: 1400px;
	padding: 0 25px;
	margin: 0 auto;
	position: relative;
	z-index: 999;
	width: 100%;
}

.number_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 40px;
}

.number_col{
	flex: 25%;
	width: 25%;
	padding: 0 40px;
	border-right: solid 1px #6f6f6f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.number_box{
	max-width: 350px;
	margin: auto;
	padding: 0;
	text-align: left;
	background: transparent;
	transition: 0.5s;
}

.number_box h4 {
	color: #ffffff;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 35px;
	font-weight: 500;
	display: block;
	text-align: left;
	padding-bottom: 15px;
	margin: 0;
}

.number_box h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	margin-top: 0;
	line-height: 1.4em;
}

.number_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: left;
	padding-top: 12px;
	line-height: 1.5em;
}

/* --- 3.7. E-Learning Area Seven --- */
.elearning_area_seven{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.elearning_group_seven{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.review_col_left{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 15px;
	position: relative;
}

.review_col_right{
	flex: 66.66%;
	width: 66.66%;
	padding: 0 15px;
}

.client_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.client_col{
	flex: 25%;
	width: 25%;
}

.client_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
	border-radius: 50%;
}

.review_box{
	max-width: 450px;
	margin: 0;
	width: 100%;
	padding: 0 20px;
}

.review_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 500;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.review_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.client_content{
	max-width: 300px;
	margin: auto;
	padding: 10px;
}

.client_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	text-transform: capitalize;
	margin-top: 0;
}

.client_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #1488CC;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.client_comment q{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	max-width: 300px;
	margin: auto;
	padding-top: 12px;
}

/* --- 3.8. E-Learning Area Eight --- */
.elearning_area_eight{
	width: 100%;
	margin: 0;
	min-height: 400px;
	padding: 7em 25px;
	background-color: #eeeeee;
}

.elearning_group_eight{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 30px 20px 0;
}

.blog_box{
	max-width: 400px;
	position: relative;
	text-align: left;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.blog_area{
	overflow: hidden;
	position: relative;
	padding-bottom: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-left: 12px;
	background-color: #ffffff;
}

.blog_content{
	padding: 15px 0;
	text-align: left;
	padding-left: 15px;
}

.blog_date{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: block;
	font-weight: 600;
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
	width: 250px;
}

.blog_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	transition: 0.5s;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
}

.blog_title a:hover{
	opacity: 0.6;
}

.blog_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 10px 0 0;
	line-height: 1.5em;
}

a.blog_btn{
	max-width: 120px;	
    color: #1488CC;
	padding-top: 10px;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	letter-spacing: 1px;
	text-align: left;
}

a.blog_btn::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

a.blog_btn:hover{
	color: #111111;
}

/* --- 3.9. E-Learning Area Nine --- */
.elearning_area_nine{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 350px;
	height: 100%;
	background-color: #1488CC;
	padding: 2em 0;
}

.elearning_group_nine{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.count_col{
	flex: 25%;
	width: 25%;
	padding: 0 25px;
	min-height: 50px;
}

.count_col::before{
	content: ".";
	font-weight: 900;
	font-size: 30px;
	float: right;
	text-align: right;
	font-family: 'Montserrat' , Arial, sans-serif;
	color: #ffffff;
	margin-top: 30px;
	position: relative;
	left: 15%;
	transform: translateX(-15%);
}

.fourth_circle::before{
	content: ".";
	display: none;
}

.count_box{
	max-width: 300px;
	margin: auto;
	padding: 0 25px;
}

.count_box h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	text-align: center;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.count_box .counter{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 30px;
	font-weight: 700;
	display: block;
	text-align: center;
	color: #e0e0e0;
	letter-spacing: 1px;
}

.count_box .counter::after{
	content:'+';
}

/* --- 3.10. E-Learning Area Ten --- */
.elearning_area_ten{
	max-width: 1200px;
	margin: 0 auto 5em;
	padding: 0 35px;
	margin-top: -100px;
}

.elearning_group_ten{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #ffffff;
	padding: 40px 30px 0;
	margin-top: 20px;
}

.col_info{
	flex: 100%;
	width: 100%;
}
	
.col_head{
	flex: 100%;
	width: 100%;
}

.subscribe-row{
	text-align: center;
	margin-top: 35px;
}

.col_head h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 30px;
	display: block;
	font-weight: 500;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
	max-width: 600px;
	margin: auto;
}

.col_info input[type="email"]{
	width: 350px;
	padding: 10px 20px 14px;
	padding-right: 50px;
	border: 0;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: inline-block;
	font-weight: 600;
	color: #333333;
	text-transform: capitalize;
	letter-spacing: 1px;
	background-color: #f6f6f6;
}

.col_info input[type="submit"]{
	display: inline-block;
	width: auto;
	padding: 11px 24px;
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	margin-left: -4px;
	color: #ffffff;
	border-radius: 0;
	letter-spacing: 1px;
	background-color: #1488CC;
	border: solid 1px #1488CC;
	transition: 0.5s;
}

.col_info input[type="submit"]:hover{
	background-color: #111111;
	color: #ffffff;
	border-color: #111111;
}

.col_info input[type="email"]:focus{
	outline: none;
	box-shadow: 0 0 0 2px #e0e0e0;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
	background-color: #182848;
}

.footer_area{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 4.5em;
}

a.footer-brand img{
	max-width: 200px;
	height: auto;
	display: block;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 16px;
	color: #ffffff;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.final{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #ffffff;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ffffff;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.right_list{
	padding-top: 10px;
}

.blog_list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 390px;
	padding-bottom: 10px;
}

.left_blog{
	flex: 25%;
	width: 25%;
	padding-bottom: 10px;
}

.right_blog{
	flex: 75%;
	width: 75%;
	max-width: 290px;
	padding-bottom: 15px;
	padding-left: 14px;
	margin-top: -5px;
}

.left_blog img{
	vertical-align: middle;
	width: 100%;
	max-width: 100px;
	transition: .5s;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #6f6f6f;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (min-width: 1400px){
	.slidenav{
		margin-bottom: -75px;
	}
	
	.elearning_area_two{
		margin-bottom: calc(9em + 75px);
	}
}

@media only screen and (max-width: 1024px){
	.login_info{
		max-width: 50px;
		margin: auto;
		text-align: right;
		display: block;
	}
	
	.slide__content{
		height: auto;
	}
	
	.flip_col{
		flex: 50%;
		width: 50%;
		max-width: 350px;
		margin: auto;
	}
	
	.elearning_group_one{
		max-width: 700px;
		margin: auto;
	}
	
	.second_space{
		padding-right: 10px;
	}
	
	.tutorial_wide_col{
		flex: 100%;
		width: 100%;
	}
	
	.tutorial_box_col{
		flex: 100%;
		width: 100%;
	}
	
	.wide_box{
		padding-bottom: 40px;
	}
	
	.slidenav{
		margin-bottom: -75px;
	}
	
	.popular_col{
		flex: 50%;
		width: 50%;
		margin: 20px 0;
	}
	
	.second_border{
		border-right: none;
	}
	
	.elearning_download_col{
		flex: 50%;
		width: 50%;
	}
	
	.number_col{
		flex: 50%;
		width: 50%;
		margin-bottom: 40px;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
	}
	
	.review_col_left{
		flex: 100%;
		width: 100%;
		margin-bottom: 45px;
	}

	.review_col_right{
		flex: 100%;
		width: 100%;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #111111;
		font-size: 25px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header a.navbar-brand{
		padding-top: 22px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub,
	.login_info{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.login_info{
		max-width: 100%;
	}
	
	.sub_width{
		padding-right: 0;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.slide__left{
		flex: 100%;
		width: 100%;
	}
	
	.slide__right{
		flex: 100%;
		width: 100%;
		padding: 50px 0;
	}
	
	.slide__left{
		padding-top: 200px;
	}
	
	.client_col{
		flex: 50%;
		width: 50%;
	}
	
	.count_col{
		flex: 50%;
		width: 50%;
		margin: 15px 0;
	}
	
	.second_circle::before{
		display: none;
	}
	
	.fourth_circle{
		padding-bottom: 45px;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.head-form{
		flex-direction: column;
	}
	
	.head-form{
		max-width: 250px;
		margin: auto;
	}
	
	.head-form input[type="text"],
	.head-form input[type="password"]{
		margin-bottom: 18px;
	}
	
	.head-form input[type="submit"]{
		margin-bottom: 18px;
		max-width: calc(250px - 14px);
		margin: auto;
	}
	
	.slide__box h2{
		font-size: 30px;
	}
	
	.elearning_heading,
	.wide_box h2,
	.bg_head,
	.review_box h2{
		font-size: 30px;
	}
	
	.flip_col{
		flex: 100%;
		width: 100%;
	}
	
	.second_space,
	.last_space{
		padding-left: 10px;
	}
	
	.tutorial_wide_col,
	.tutorial_box_col{
		padding: 0;
	}
	
	.tutorial_course_box{
		padding: 0 5px;
	}
	
	.popular_col{
		flex: 100%;
		width: 100%;
	}
	
	.first_border,
	.third_border{
		border-right: none;
	}
	
	.elearning_download_col{
		flex: 100%;
		width: 100%;
	}
	
	.number_col{
		flex: 100%;
		width: 100%;
		padding: 0 25px;
	}
	
	.client_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.count_col{
		flex: 100%;
		width: 100%;
	}
	
	.third_circle::before,
	.first_circle::before{
		display: none;
	}
	
	.col_info input[type="email"]{
		display: block;
		width: 100%;
	}
	
	.col_info input[type="submit"]{
		margin-top: 20px;
		display: block;
		width: 100%;
		margin-left: 0;
	}
	
	.col_head h3{
		font-size: 25px;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}	

@media only screen and (max-width: 420px){
	.main_content{
		padding: 0 15px;
	}
	
	.form-panel{
		padding: 25px;
	}
	
	.popular_col,
	.elearning_download_col,
	.blog_col,
	.review_col_left,
	.review_col_right,
	.review_box{
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 360px){
	.form-panel{
		max-width: 270px;
		padding: 15px;
	}
	
	.course_title h3{
		font-size: 20px;
	}
	
	.download_item{
		padding-left: 15px;
	}
}

@media only screen and (max-width: 320px){
	.download_icon{
		width: 20%;
	}
	
	.download_item{
		width: 80%;
	}
	
	.col_head h3{
		font-size: 20px;
	}
}
