/*------------------------------------------------------------------
Main Stylesheet

Project:    Upstake - Multipurpose Business Template
Version:    1.0
Last change:    05/05/2022
Author:    creativemaze
Primary use:    Education
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Education Area One 
	3.2. Education Area Two
	3.3. Education Area Three
	3.4. Education Area Four
	3.5. Education Area Five
	3.6. Education Area Six
	3.7. Education Area Seven
	3.8. Education Area Eight
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.education_heading{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	color: #111111;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.2em;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.education_info{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
	max-width: 600px;
	margin: 0 auto;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
nav.navbar.bootsnav .navbar-brand{
    max-width: 200px; 	
}

.navbar-header a.navbar-brand{
	text-decoration: none;
	color: #111111;
	transition: 0.5s;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 30px;
}

.navbar-header a.navbar-brand:hover{
	color: #111111;
}

nav.navbar .navbar-brand img.logo{
   width: 100%;
   height: auto;
   display: block;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #111111;
    font-family: 'Raleway' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Raleway' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #0ABFBC;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Raleway' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #182848;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Raleway' , Arial, sans-serif;
    color: #182848;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #111111;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	background-color: #182848;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 500px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info .fas{
	font-size: 16px;
	color: #ffffff;
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info .fas{
	padding-right: 8px;
	position: relative;
	top: 2px;
}

.right_info > a{
	padding-right: 14px;
}

.left_info .fas:hover,
.right_info .fab:hover{
	opacity: 0.6;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	margin-bottom: 0;
}

.top_align{
	text-align: left;
}

.right_info a{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: lowercase;
	display: inline-block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: right;
	text-decoration: none;
}

.right_info a:hover{
	opacity: 0.6;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #0abfbc;
	width: 160px;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #0abfbc;
	border-radius: 25px;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: transparent;
	color: #111111;
	border-color: #111111;
}

.sliderwrap{
	position: relative;
}

.header__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 700px;
}

.slide__content{
	position: relative;
	z-index: 0;
	height: 100vh;
	min-height: 700px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slide__content::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.5);
}

.header-title {
	max-width: 750px;
	display: block;
	position: relative;
	z-index: 9;
	padding: 0 15px;
}

.header-title__main{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 45px;
	font-weight: 800;
	letter-spacing: 1px;
	text-align: center;
	display: block;
	color: #ffffff;
	line-height: 1.2em;
}

.buttoncol a{
	background-color: #182848;
	width: 160px;
	margin: 30px auto 0;	
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #182848;
	border-radius: 25px;
	letter-spacing: 1px;
	text-align: center;
}

.buttoncol a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Education Area One --- */
.education_area_one{
	max-width: 1200px;
	margin: -40px auto 9em;
	padding: 0 25px;
}

.education_group_one{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.area_slider{
	display: block;
}

.area_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px 0;
}

.area_box{
	max-width: 320px;
	margin: auto;
	position: relative;
	border-radius: 5px;
	min-height: 30px;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	overflow: hidden;
	padding-bottom: 25px;
	display: block;
}

.inner_crumb{
	width: 50px;
	margin: auto;
	height: 1px;
	border-bottom: solid 2px #ffffff;
	margin-top: -8px;
}

.area_center{
	position: absolute;
	top: -35px;
	left: -35px;
	width: 80px;
	height: 80px;
	text-align: left;
	border-radius: 50%;
	overflow: hidden;
	background-color: #ffffff;
}

.area_one{
	background-color: #0abfbc;
}

.area_two{
	background-color: #5f2c82;
}

.area_three{
	background-color: #182848;
}

.area_four{
	background-color: #111111;
}

.area_box h3{
	color: #ffffff;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.4em;
	padding: 5px 0;
}

.slick-dots {
	position: relative;
	z-index: 999999;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}

.slick-dots button{
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #333333;
	border-radius: 100%;
	background-color: transparent;
	text-indent: -9999px;
}

li.slick-active button{
	background-color: #182848;
}

.slick-dots button:hover{
	background-color: #182848;
}

.slick-dots li{
	margin: 6px 0.40rem;
}

.education_area_one .slick-list{
	overflow: visible;
}

/* --- 3.2. Education Area Two --- */
.education_area_two{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.education_group_two,
.square_box_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.square_left_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 20px;
}

.square_right_col{
	flex: 66.66%;
	width: 66.66%;
	padding: 0 20px;
}

.thumb_col{
	flex: 25%;
	width: 25%;
	padding: 0 15px;
	max-width: 170px;
	position: relative;
}

.thumb_box{
	height: 170px;
	width: 170px;
	padding: 20px 20px 30px 20px;
	margin: 20px 0;
	cursor: pointer;
	transition: 0.5s;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.thumb_area{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.thumb_content h4{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.5em;
	margin: 0;
}

.thumb_content a{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	display: block;
	color: #5f2c82;
	text-decoration: none;
	width: auto;
	transition: 0.5s;
	padding-top: 10px;
}

.thumb_content > a::after{
	content: "\203A";
	position: relative;
	top: 1px;
	font-size: 20px;
	display: inline-block;
	height: auto;
	padding-left: 5px;
}

.thumb_content > a:hover{
	opacity: 0.6;
}

.thumb_box .material-symbols-outlined.icon-65{
	font-size: 65px;
	color: #5f2c82;
	display: block;
	text-align: center;
}

.thumb_box.active{
	background-color: #5f2c82; 
}

.thumb_box.active .thumb_content > a{
	color: #ffffff; 
}

.thumb_box.active .material-symbols-outlined.icon-65{
	color: #ffffff;
}

.thumb_box.active h4{
	color: #ffffff;
}

.photo_col{
	flex: 75%;
	width: 75%;
	padding: 0 25px;
	position: relative;
}

.square_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.square_box{
	max-width: 500px;
	padding-right: 20px;
}

.square_box > p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	max-width: 450px;
}

.square_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.photo_area{
	max-width: 550px;
	position: relative;
}

.photo_image{
	position: relative;
	z-index: 1;
	margin-bottom: 40px;
}

.photo_slider{
	max-width: 550px;
	margin: auto;
	width: 100%;
}

.bg_content{
	position: absolute;
	top: 0;
	right: 80px;
	max-width: 40px;
	min-height: 20px;
	z-index: -1;
}

.photo_content{
	position: absolute;
	bottom: 60px;
	left: 80px;
	max-width: 40px;
	min-height: 20px;
	z-index: -1;
}

.first_box{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background-color: #5f2c82;
}

.second_box{
	position: absolute;
	top: 40px;
	left: 0;
	width: 40px;
	height: 40px;
	background-color: #182848;
}

.third_box{
	position: absolute;
	top: 80px;
	right: 0;
	width: 40px;
	height: 40px;
	background-color: #0abfbc;
}

.fourth_box{
	position: absolute;
	top: 40px;
	left: -80px;
	width: 40px;
	height: 40px;
	background-color: #111111;
}

.upper_box{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background-color: #0abfbc;
}

.right_box{
	position: absolute;
	top: 40px;
	left: 0;
	width: 40px;
	height: 40px;
	background-color: #111111;
}

.lower_box{
	position: absolute;
	top: 80px;
	right: 0;
	width: 40px;
	height: 40px;
	background-color: #5f2c82;
}

.left_box{
	position: absolute;
	top: 40px;
	left: -80px;
	width: 40px;
	height: 40px;
	background-color: #182848;
}

.photo_image img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 27% 73% 70% 30% / 51% 54% 46% 49%;
}

.info_col_button a{
	background-color: #182848;
	width: 165px;
	margin: 30px 0 0;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 700;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #182848;
	border-radius: 25px;
	letter-spacing: 1px;
	text-align: center;
}

.info_col_button a:hover{
	color: #111111;
	background: transparent;
	border-color: #111111;
}

/* --- 3.3. Education Area Three --- */
.education_area_three{
	max-width: 1280px;
	padding: 0 25px;
	margin: 0 auto;
}

/* --- 3.4. Education Area Four --- */
.education_area_four{
	position: relative;
	min-height: 350px;
	background-color: #eeeeee;
	margin-top: 7em;
	margin-bottom: 9em;
	padding-bottom: 6em;
}

.education_group_four{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: auto;
}

.grid_col{
	flex: 25%;
	width: 25%;
	padding: 40px 25px 0;
}

.grid_box{
	max-width: 300px;
	margin: auto;
	text-align: center;
	transition: ease-in-out 0.5s;
}

.grid_image{
	position: relative;
	text-align: center;
	max-width: 130px;
	margin: -105px auto 0;
}

.grid_image img{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	display: block;
}

.grid_content{
	width: 100%;
	text-align: center;
	padding: 10px 25px 20px;
	background-color: #ffffff;
	margin-top: 15px;
}

.info_age{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}

.first_color{
	background-color: #0abfbc;
}

.second_color{
	background-color: #5f2c82;
}

.third_color{
	background-color: #182848;
}

.fourth_color{
	background-color: #111111;
}

.grid_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
	padding: 12px 15px;
}

a > span.icon-25{
	font-size: 25px;
	font-weight: 600;
	background-color: #ffffff;
	color: #111111;
	border: solid 1px #ffffff;
	padding: 10px;
	border-radius: 50%;
	transition: 0.5s;
}

a > span.icon-25:hover{
	color: #ffffff;
	background: transparent;
}

/* --- 3.5. Education Area Five --- */
.education_area_five{
	max-width: 1200px;
	padding: 0 25px;
	margin: 0 auto 9em;
}

.education_group_five{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.info_col{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.box_col{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.info_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.info_box{
	max-width: 550px;
	padding-left: 20px;
}

.info_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.info_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	max-width: 500px;
}

.info_list{
	max-width: 250px;
	text-align: left;
	padding-bottom: 5px;
	margin: 20px 0;
	overflow: auto;
	border-bottom: solid 1px #e0e0e0;
}

.last_list{
	margin-bottom: 45px;
}

.info_num{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 28px;
	font-weight: 600;
	display: inline-block;
	color: #5f2c82;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin: 0;
}

.info_title{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 700;
	display: inline-block;
	color: #111111;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin: 0;
	padding-left: 7px;
}

.shape_col{
	max-width: 550px;
	position: relative;
}

.shape_image{
	position: relative;
	z-index: 1;
}

.shape_image img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 27% 73% 70% 30% / 51% 54% 46% 49%;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.fig_content{
	position: absolute;
	top: 0;
	right: 80px;
	max-width: 40px;
	min-height: 20px;
	z-index: -1;
}

.shape_content{
	position: absolute;
	bottom: 60px;
	left: 80px;
	max-width: 40px;
	min-height: 20px;
	z-index: -1;
}

/* --- 3.6. Education Area Six --- */
.education_area_six{
	max-width: 1280px;
	padding: 0 25px;
	margin: 0 auto 9em;
}

.education_group_six{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.education_area_col{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.info_head{
	flex: 58.33%;
	width: 58.33%;
	padding: 0 25px;
}

.info_content{
	flex: 41.66%;
	width: 41.66%;
	padding: 0 25px;
	margin-top: 45px;
}

.info_head h2{
	max-width: 600px;
	color: #111111;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.info_content p{
	max-width: 500px;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.feature_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 40px 20px 0;
}

.feature_box{
	max-width: 400px;
	margin: auto;
	text-align: center;
}

.feature_image{
	position: relative;
	overflow: hidden;
}

.feature_image img{
	width: 100%;
	height: auto;
	display: block;
}

.feature_info{
	width: 100%;
	padding: 10px 5px;
}

.feature_icon{
	float: left;
	width: 20%;
	padding-right: 10px;
	padding-top: 10px;
}

.feature_btn a{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	width: 135px;
	margin: 15px 0 0;
    color: #182848;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    transition: 0.5s;
	letter-spacing: 1px;
	text-align: left;
}

.feature_btn a:hover{
	color: #111111;
}

.feature_btn a::after{
	content: "\203A";
	position: relative;
	top: 1px;
	font-size: 20px;
	display: inline-block;
	padding-left: 5px;
}

.feature_icon .material-symbols-outlined.icon-55{
	font-size: 55px;
	background-color: #5f2c82;
	color: #ffffff;
	padding: 5px;
	display: inline-block;
	text-align: left;
}

.feature_area{
	float: left;
	width: 80%;
	padding-left: 10px;
	padding-top: 8px;
}

.feature_area h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #111111;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin: 0;
}

.feature_content{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	padding: 10px 0;
	background: linear-gradient(90deg,rgba(24, 40, 72, .8) 0%,rgba(95, 44, 130, .8) 100%);
}

.feature_content h3{
	display: block;
	color: #ffffff;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 25px;
	font-weight: 800;
	display: block;
	text-align: center;
	line-height: 1.4em;
	letter-spacing: 1px;
	margin: 0;
}

/* --- 3.7. Education Area Seven --- */
.education_area_seven{
	width: 100%;
	min-height: 350px;
	height: 100%;
}

.education_group_seven{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.cube_col{
	flex: 50%;
	width: 50%;
	min-height: 350px;
	position: relative;
}

.cube_area{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #182848;
	padding: 30px;
}

.cube_box{
	max-width: 600px;
}

.cube_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	color: #ffffff;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.cube_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #d2d2d2;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	max-width: 500px;
}

.cube_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 500px;
}

.cube_vid::before{
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.video-play-button {
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	z-index: 999;
	transform: translateX(-50%) translateY(-50%);
	box-sizing: content-box;
	display: block;
	width: 28px;
	height: 42px;
	border-radius: 50%;
	padding: 28px 16px 12px 32px;
}

.video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	transition: all 200ms;
}

.video-play-button span {
	display: block;
	position: relative;
	z-index: 3;
	width: 0;
	height: 0;
	border-left: 18px solid #182848;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.cube_col img{
	width: 100%;
	height: auto;
	display: block;
}

.count_col{
	flex: 50%;
	width: 50%;
	padding: 15px 0;
}

.count_box{
	max-width: 250px;
	overflow: hidden;
	padding: 10px 0;
}

.count_content{
	width: 100%;
}

.count_item{
	width: 40%;
	float: left;
}

.count_info{
	width: 60%;
	float: left;
	padding-left: 15px;
}

.count_box .material-symbols-outlined.icon-75{
	font-size: 75px;
	color: #ffffff;
	display: block;
	text-align: center;
}

.count_box .counter{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 500;
	display: block;
	text-align: left;
	color: #ffffff;
	letter-spacing: 1px;
}

.count_box .count_title{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 500;
	display: block;
	text-align: left;
	color: #f2f2f2;
	letter-spacing: 1px;
}

.count_box .count_crumb{
	width: 60px;
	height: 1px;
	margin: auto;
	border-bottom: solid 2px #ffffff;
	padding-top: 7px;
}

/* --- 3.8. Education Area Eight --- */
.education_area_eight{
	width: 100%;
	min-height: 400px;
	padding: 6em 25px;
	background-color: #eeeeee;
}

.education_group_eight{
	max-width: 1280px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 40px;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 40px 20px 0;
}

.blog_box{
	max-width: 400px;
	margin: auto;
	position: relative;
	text-align: center;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.blog_area{
	position: relative;
	background-color: #ffffff;
}

.blog_content{
	text-align: left;
	padding: 20px;
	background-color: #ffffff;
}

.blog_date{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	display: block;
	font-weight: 600;
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
}

.blog_col img{
	width: 100%;
	height: auto;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 700;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
}

a.blog_btn{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 12px;
	font-weight: 700;
	width: 125px;
	margin: 20px 0 0;
	padding: 10px;
	background-color: #182848;
    color: #ffffff;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    transition: 0.5s;
	border: 1px solid #182848;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 25px;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
	background-color: #182848;
}

.footer_sub{
	max-width: 1200px;
	width: calc(100% - 50px);
	margin: 0 auto;
	padding: 3em 0;
	min-height: 50px;
	border-bottom: solid 1px #6f6f6f;
}

.footer_group{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col_head{
	flex: 50%;
	width: 50%;
}

.col_info{
	flex: 50%;
	width: 50%;
	margin-top: 35px;
}

.col_head h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 30px;
	display: block;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.3em;
	max-width: 500px;
}

.subscribe-row{
	text-align: right;
}

.col_info input[type="email"]{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	color: #ffffff;
	display: inline-block;
	font-weight: 600;
	letter-spacing: 1px;
	height: 40px;
	vertical-align: middle;
	padding: 18px;
	width: 350px;
	background: transparent;
	border: solid 1px #e0e0e0;
	margin-right: -4px;
}

.col_info input[type="submit"]{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0;
	height: 40px;
	width: 130px;
	color: #111111;
	margin: 0;
	border-radius: 0;
	transition: 0.5s;
	text-align: center;
	background-color: #ffffff;
	border: solid 1px #ffffff;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.col_info input[type="submit"]:hover{
	background: transparent;
	color: #ffffff;
	border-color: #ffffff;
}

.footer_area{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 4.5em;
}

a.footer-brand img{
	max-width: 200px;
	height: auto;
	display: block;
}

.footer_box > h3 > a{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
}

.footer_box > p{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 16px;
	color: #ffffff;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.final{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_col > h4{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #ffffff;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ffffff;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.right_list{
	padding-top: 10px;
}

.blog_list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 390px;
	padding-bottom: 10px;
}

.left_blog{
	flex: 25%;
	width: 25%;
	padding-bottom: 10px;
}

.right_blog{
	flex: 75%;
	width: 75%;
	max-width: 290px;
	padding-bottom: 15px;
	padding-left: 14px;
	margin-top: -5px;
}

.left_blog img{
	vertical-align: middle;
	width: 100%;
	max-width: 100px;
	transition: .5s;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #6f6f6f;
}

.details p{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
	
	.square_left_col{
		flex: 100%;
		width: 100%;
	}
	
	.square_box_area{
		margin-top: 60px;
	}
	
	.square_right_col{
		flex: 100%;
		width: 100%;
	}
	
	.grid_col{
		flex: 100%;
		width: 100%;
	}
	
	.grid_box > .grid_image{
		margin: 0 auto 0;
	}

	.grid_image.first_grid{
		margin: -105px auto 0;
	}
	
	.feature_col{
		flex: 50%;
		width: 50%;
	}
	
	.cube_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
	}
	
	.col_info{
		flex: 100%;
		width: 100%;
		margin-top: 0;
	}
	
	.col_head{
		flex: 100%;
		width: 100%;
	}
	
	.subscribe-row{
		text-align: center;
		margin-top: 35px;
	}
	
	.col_head h3{
		text-align: center;
		width: 100%;
		margin: auto;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #111111;
		font-size: 25px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header a.navbar-brand{
		padding-top: 22px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.info_col{
		flex: 100%;
		width: 100%;
		margin-top: 60px;
	}
	
	.box_col{
		flex: 100%;
		width: 100%;
	}
	
	.info_head{
		flex: 100%;
		width: 100%;
	}
	
	.info_content{
		flex: 100%;
		width: 100%;
		margin-top: 25px;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.header-title__main{
		font-size: 30px;
	}
	
	.square_box h2,
	.education_heading,
	.info_box h2,
	.info_head h2,
	.cube_box h2{
		font-size: 30px;
	}
	
	.thumb_col{
		flex: 100%;
		width: 100%;
	}

	.photo_col_col{
		flex: 100%;
		width: 100%;
	}
	
	.photo_area,
	.photo_slider{
		max-width: 400px;
	}
	
	.photo_image{
		margin-top: 50px;
		margin-bottom: 60px;
	}
	
	.bg_content{
		top: -20px;
	}
	
	.feature_col{
		flex: 100%;
		width: 100%;
	}
	
	.count_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.col_info input[type="email"]{
		display: block;
		max-width: 325px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.col_info input[type="submit"]{
		margin-top: 20px;
		display: block;
		max-width: 325px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.col_head h3{
		font-size: 25px;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 460px){
	.photo_area,
	.photo_slider{
		max-width: 350px;
	}
	
	.bg_content{
		top: -40px;
	}
	
	.photo_content{
		bottom: 40px;
	}
	
	.fig_content{
		top: -40px;
	}
	
	.shape_content{
		bottom: 40px;
	}
}	

@media only screen and (max-width: 420px){
	.square_col_left,
	.square_col_right,
	.square_box,
	.info_col,
	.box_col,
	.info_box,
	.feature_col,
	.info_content,
	.info_head,
	.blog_col{
		padding-left: 0;
		padding-right: 0;
	}
	
	.photo_area,
	.photo_slider{
		max-width: 320px;
	}
}

@media only screen and (max-width: 360px){
	.photo_area,
	.photo_slider{
		max-width: 280px;
	}
	
	.bg_content{
		top: -50px;
	}
	
	.feature_area{
		width: 75%;
	}
	
	.feature_icon{
		width: 25%;
	}
}

@media only screen and (max-width: 320px){
	.photo_area,
	.photo_slider{
		max-width: 250px;
	}
	
	.col_head h3{
		font-size: 20px;
	}
}
