/*------------------------------------------------------------------
Main Stylesheet

Project:    Upstake - Multipurpose Business Template
Version:    1.0
Last change:    13/12/2024
Author:    creativemaze
Primary use:   Landing Page
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Home Area One
	3.2. Home Area Two	
	3.3. Home Area Three
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.bg_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.2em;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.bg_info{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #dddddd;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
	max-width: 600px;
	margin: 0 auto;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
.navbar-header > a{
	text-decoration: none;
	color: #f1f1f1;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 30px;
}

.navbar-header > a:hover{
	color: #f1f1f1;
}

#nav-logo > a{
	max-width: 160px; 
	position: relative;
	top: 33px;
}

#nav-logo > a img{
   position: relative;
   max-width: 160px;
   height: auto;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
	margin-top: 5px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #ffffff;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #f64f59;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #f64f59;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #f64f59;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #ffffff;
	padding-top: 36px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 19px;
	right: 0;
}

.head_btn a{
	background-color: #1488cc;
	width: 150px;
	margin: 0 auto;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial sans-serif;
    transition: 0.5s;
	border: 1px solid #1488cc;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: #ffffff;
	color: #111111;
	border: 1px solid #ffffff;
}

.sliderwrap{
	position: relative;
	top: -90px;
}

.header__content{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 750px;
}

.slide__content{
	position: relative;
	z-index: 1;
	height: 100vh;
	min-height: 750px;
	text-align: center;
	color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.float_arc_dark{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 25px;
	overflow: hidden;
	width: 15px;
	height: 15px;
	background-color: #1488cc;
	border-radius: 50%;
	animation: diagonal-move-anim 3s linear infinite alternate;
}

@keyframes diagonal-move-anim {

	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(50px, 50px);
	}
}

.slide__left{
	flex: 50%;
	width: 50%;
}

.slide__right{
	flex: 50%;
	width: 50%;
}

.float_arc{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 25px;
	overflow: hidden;
	width: 15px;
	height: 15px;
	background-color: #d31027;
	border-radius: 50%;
	animation: right-diagonal-move-anim 3s linear infinite alternate;
}

@keyframes right-diagonal-move-anim{

	0% {
		transform: translate(-0, -0);
	}

	100% {
		transform: translate(-50px, 50px);
	}
}

.slide__content::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.header-title {
	max-width: 900px;
	display: block;
	margin: 0 auto;
	padding: 0 10px;
}

.header-title__main{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #ffffff;
	line-height: 1.2em;
}

.slidearea{
	position: relative;
	width: 100%;
}

.box_info{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-bottom: -90px;
	margin-left: -90px;
	transform: translateX(-50%);
	z-index: 99;
	width: 180px;
	height: 180px;
	display: block;
	text-align: center;
	background-color: #d31027;
	border-radius: 50%;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	animation: 3s infinite ease-in-out up-down;
}

@keyframes up-down{
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.box_feature{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12px;
}

.box_title{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: auto;
	border: double 4px #ffffff;
	border-radius: 50%;
}

.box_title h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.3em;
	margin: 0;
}

.num_head{
	color: #009FFF;
}

.slide_word{
	color: #1488cc;
}

.buttoncol a{
	background-color: transparent;
	width: 140px;
	margin: 30px auto 0;
    color: #ffffff;
    padding: 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial sans-serif;
    transition: 0.5s;
	border: 1px solid #ffffff;
	letter-spacing: 1px;
	text-align: center;
}

.buttoncol a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Home Area One --- */
.home_area_one{
	max-width: 1280px;
	margin: 85px auto 0;
	padding: 0 25px;
	margin-bottom: calc(9em - 45px);
}

.home_group_one{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 10px;
}

.home_center{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
	max-width: 800px;
	margin: 0 auto;
}

.center_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 20px 10px;
}

.center_box{
	text-align: center;
	max-width: 266px;
	margin: auto;
}

.center_box h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.3em;
	margin: 0;
}

.center_box h3::before{
	font-family: 'uicons-thin-straight';
	content: "\fa38";
	font-weight: 400;
	font-size: 28px;
	position: relative;
	top: 9px;
	padding-right: 10px;
	color: #d31027;
}

.home_head{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	display: block;
	color: #111111;
	line-height: 1.2em;
}

.home_info{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	max-width: 600px;
	margin: 25px auto 0;
	line-height: 1.5em;
}

.home_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 25px 20px;
}

.home_box{
	max-width: 500px;
	position: relative;
	margin: auto;
}

.home_image{
	position: relative;
}

.home_image img{
	width: 100%;
	height: auto;
	transition: 0.5s;
	border-radius: 10px;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.home_image img:hover{
	transform: translateY(-5px);
}

.home_info{
	width: 100%;
	display: block;
	text-align: center;
	padding: 3px 0;
}

.home_name{
	margin: 0;
}

.home_name a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	display: inline-block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
	padding-top: 9px;
	text-decoration: none;
}

/* --- 3.2. Home Area Two --- */
.home_area_two{
	max-width: 1280px;
	margin: 0 auto 0;
	padding: 0 25px;
	margin-bottom: calc(9em - 30px);
}

.home_group_two{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
}

.info_head{
	flex: 100%;
	width: 100%;
	padding: 0 20px;
}

.info_head h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #111111;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
	max-width: 650px;
}

.info_head p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	max-width: 500px;
}

.feature_col{
	flex: 16.66%;
	width: 16.66%;
	padding: 30px 20px;
}

.feature_box{
	max-width: 215px;
}

.feature_icon .fi{
	font-size: 44px;
	width: 78px;
	height: 78px;
	background-color: #ffffff;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	color: #1488cc;
	display: block;
	text-align: center;
	padding: 14px;
	margin: -25px auto 0;
}

.color_icon .fi{
	box-shadow: none;
	background-color: #1488cc;
	color: #ffffff;
}

.feature_content h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	text-align: center;
	color: #111111;
	letter-spacing: 1px;
	line-height: 1.4em;
}

/* --- 3.3. Home Area Three --- */
.home_area_three{
	min-height: 400px;
	text-align: center;
	padding: 6em 25px 9em;
	background-color: #eeeeee;
	margin-bottom: 5em;
}

.home_group_three{
	max-width: 1280px;
	position: relative;
	z-index: 9999;
	width: 100%;
	padding-top: 15px;
}

.bg_image{
	position: relative;
}

.bg_image img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 10px;
}

.bg_slider{
	width: 90vw;
	text-align: center;
	margin: 25px auto 0;
}

.bg_slide{
	margin: auto;
	padding-right: 20px;
}

.home_area_three .slick-dots {
	position: relative;
	bottom: -30px;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}

.home_area_three .slick-dots button{
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #6f6f6f;
	border-radius: 50%;
	background-color: transparent;
	text-indent: -9999px;
}

.home_area_three li.slick-active button{
	background-color: #1488cc;
}

.home_area_three .slick-dots button:hover{
	background-color: #1488cc;
}

.home_area_three .slick-dots li{
	margin: 0 4px 8px 4px;
}

/* --- 3.4. Home Area Four --- */


/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	position: relative;
	clear: both;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #111111;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
} 
 
@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #ffffff;
		font-size: 25px;
		margin-top: 7px;
		margin-bottom: 12px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.head_btn a:hover{
		background: transparent;
		border-color: #111111;
		color: #111111;
	}
	
	.navbar-header > a{
		margin-top: 14px;
	}
	
	#nav-logo > a{
		top: 19px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 21px;
	}
	
	.home_col{
		flex: 50%;
		width: 50%;
	}

	.feature_col{
		flex: 33.33%;
		width: 33.33%;
	}	
}

@media only screen and (max-width: 600px){
	.header-title__main,
	.home_head,
	.info_head h2{
		font-size: 30px;
	}
	
	.info_head{
		padding-left: 0;
		padding-right: 0;
	}
	
	.center_col{
		flex: 100%;
		width: 100%;
	}
	
	.home_col{
		flex: 100%;
		width: 100%;
	}
	
	.feature_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 420px){
	.home_col{
		padding-left: 0;
		padding-right: 0;
	}
	
	.header-title__main{
		font-size: 25px;
	}
	
	.bg_slide{
		padding-right: 10px;
	}
}

@media only screen and (max-width: 385px){
	.feature_col{
		flex: 100%;
		width: 100%;
	}
}	
