/*------------------------------------------------------------------
Main Stylesheet

Project:    HighPoint - Multipurpose Business Template
Version:    1.0
Last change:    07/12/2021
Author:    creativemaze
Primary use:    Interior Design
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Interior Area One 
	3.2. Interior Area Two
	3.3. Interior Area Three
	3.4. Interior Area Four
	3.5. Interior Area Five
	3.6. Interior Area Six
	3.7. Interior Area Seven
	3.8. Interior Area Eight
	3.9. Interior Area Nine
	3.10. Interior Area Ten
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.interior_head{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	line-height: 1.3em;
	letter-spacing: 1px;
	text-align: center;
}

.interior_info{
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
}

/* 2. HEADER
 ----------- */
/* --- 2.1. Logo & Navigation --- */
nav.navbar.bootsnav .navbar-brand{
    max-width: 200px; 	
}

.navbar-header a.navbar-brand{
	text-decoration: none;
	color: #111111;
	transition: 0.5s;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 30px;
}

.navbar-header a.navbar-brand:hover{
	color: #111111;
}

nav.navbar .navbar-brand img.logo{
   width: 100%;
   height: auto;
   display: block;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #111111;
    font-family: 'Raleway' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Raleway' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #D3959B;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Raleway' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #D3959B;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Raleway' , Arial, sans-serif;
    color: #D3959B;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #111111;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	border-bottom: solid 1px #e0e0e0;
}

.top_info{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 400px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 600px;
	margin: auto;
	text-align: right;
	display: block;
}

.right_info .fas,
.right_info .far,
.left_info .fab{
	font-size: 16px;
	color: #111111;
}

.right_info .fas,
.right_info .far{
	padding-right: 8px;
}

.left_info > a{
	padding-right: 14px;
}

.left_info .fab:hover,
.right_info .fas:hover{
	opacity: 0.6;
}

.right_info a{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: lowercase;
	display: inline-block;
	color: #111111;
	letter-spacing: 1px;
	text-align: right;
	text-decoration: none;
}

.right_info a:hover{
	opacity: 0.6;
}

.right_info .fa-m{
	position: relative;
	top: 2px;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: right;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-right: 25px;
}

.top_sub{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: right;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #D3959B;
	width: 150px;
	margin: 0 auto;
	min-height: 30px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #D3959B;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: #ffffff;
	color: #111111;
	border: 1px solid #ffffff; 
}

.sliderwrap{
	position: relative;
	top: -140px;
}

.header__content{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 100vh;
	min-height: 750px;
}

.slide__content{
	height: 100vh;
	min-height: 750px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header-title {
	max-width: 650px;
	display: block;
	padding: 0 25px;
	position: relative;
	z-index: 9;
	margin-right: 10vw;
	text-align: left;
}

.header-title__main{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 45px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.14em;
	text-align: left;
	display: block;
	color: #111111;
}

.header-title__sub{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	display: block;
	color: #111111;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	padding: 25px 0;
}

.buttoncol a{
	background-color: #D3959B;
	width: 150px;
	min-height: 30px;
	margin-top: 30px;
    border: none;
    color: #ffffff;
    padding: 15px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #D3959B;
	letter-spacing: 1px;
	text-align: center;
}

.buttoncol a:hover{
	background-color: #ffffff;
	color: #111111;
	border: 1px solid #ffffff; 
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Interior Area One --- */
.interior_area_one{
	max-width: 1400px;
	margin: 0 auto 9em;
	margin-top:  -300px;
	position: relative;
	z-index: 9999;
}

.interior_group_one{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
}

.icon_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
}

.icon_box{
	max-width: 300px;
	margin: 0 auto;
	padding: 35px 30px; 
	text-align: center;
	background: #ffffff;
	min-height: 50px;
	height: 100%
}

.icon_crumb{
	max-width: 300px;
	height: 1px;
	display: block;
	border-bottom: double 4px #D3959B;
	margin: 0 auto 0;
	transition: 0.5s;
	visibility: hidden;
	opacity: 0;
}

.icon_box h3{
	color: #111111;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.icon_box .fas,
.icon_box .far{
	font-size: 35px;
	color: #D3959B;
	text-align: center;
	display: block;
}

.icon_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding-top: 10px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
}

.icon_col:hover .icon_crumb{
	visibility: visible;
	opacity: 1;
} 

/* --- 3.2. Interior Area Two --- */
.interior_area_two{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.interior_group_two{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.interior_wide_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 15px;
}

.interior_box_col{
	flex: 66.66%;
	width: 66.66%;
	padding: 0 15px;
}

.wide_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.wide_box{
	max-width: 450px;
	margin: 0;
	width: 100%;
	padding-right: 20px;
}

.wide_box > p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.wide_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.bg_area{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
}

.bg_col{
	flex: 50%;
	width: 50%;
	position: relative;
}

.bg_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.right_bg{
	background-color: #ffffff;
	position: relative;
	margin-top: 45px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	right: 8%;
	height: calc(100% - 40px);
	padding: 30px 0;
}

.box_list ul{
	padding: 0 25px;
}

.box_list > ul li{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: left;
	padding: 6px 0;
}

.box_list > ul li::before{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	padding-right: 12px;
	color: #D3959B;;
}

.info_col_button a{
	background-color: #D3959B;
	width: 150px;
	min-height: 30px;
	margin: 30px 0 0;
    border: none;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #D3959B;
	letter-spacing: 1px;
	text-align: center;
}

.info_col_button a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111;
}

.right_head{
	padding-bottom: 25px;
}

.right_head h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 28px;
	font-weight: 600;
	display: block;
	color: #111111;
	line-height: 1.4em;
	letter-spacing: 1px;
	text-align: center;
	margin: 0;
}

.right_head p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 8px 15px;
	line-height: 1.5em;
}

.bg_crumb{
	width: 50px;
	height: 1px;
	margin: auto;
	border-bottom: solid 2px #D3959B;
}

/* --- 3.3. Interior Area Three --- */
.interior_area_three{
	max-width: 1200px;
	margin: 0 auto;
	background-color: #D3959B;
	padding: 0 30px;
	min-height: 325px;
	width: calc(100% - 60px);
}

/* --- 3.4. Interior Area Four --- */
.interior_area_four{
	max-width: 1100px;
	margin: 0 auto;
	margin-top:  -250px;
	margin-bottom: 9em;
	position: relative;
	padding: 0 25px;
}

.interior_group_four{
	width: 100%;
	position: relative;
	margin-top: 30px;
}

.info_slide{
	max-width: 1100px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	padding: 0 20px;
}

.info_image{
	position: relative;
	min-height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.list_num{
	position: absolute;
	bottom: 20px;
	right: 25px;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	text-transform: capitalize;
	letter-spacing: 1px;
	text-align: center;
	background-color: #D3959B;
	padding: 14px;
	border-radius: 50%;
}

.info_title{
	max-width: 200px;
}

.info_title h4{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	text-transform: uppercase;
	padding-top: 8px;
}

.bg_head{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
}

.bg_info{
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
}

.info_nav{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-bottom: -15px;
	transform: translateX(-50%);
}

.prev_nav,
.next_nav{
	font-size: 14px;
	transition: 0.6s;
	background: transparent;
	display: inline-block;
	padding: 10px 17px;
	color: #111111;
	cursor: pointer;
	border: solid 1px #111111;
	border-radius: 50%;
}

.prev_nav{
	margin-right: 15px;
}

.next_nav:hover,
.prev_nav:hover{
	background-color: #111111;
	color: #ffffff;
	border-color: #111111;
}

/* --- 3.5. Interior Area Five --- */
.interior_area_five{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 25px;
	margin-bottom: calc(9em - 25px);
}

.interior_group_five,
.square_box_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.square_col_left{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 15px;
}

.square_col_right{
	flex: 66.66%;
	width: 66.66%;
	padding: 0 15px;
}

.square_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.square_box{
	max-width: 450px;
	margin: 0;
	width: 100%;
	padding: 0 20px;
}

.square_box > p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.square_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.square_col{
	flex: 50%;
	width: 50%;
	position: relative;
	padding: 0 20px 25px 20px;
}

.box_info{
	width: 100%;
	background-color: #f6f6f6;
	padding: 25px 20px;
	margin-bottom: 10px;
	max-width: 350px;
	overflow: hidden;
}

.square_num{
	float: left;
	width: 15%;
}

.square_item{
	float: left;
	width: 85%;
	padding-left: 10px;
}

.square_num h4{
	color: #D3959B;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 22px;
	font-weight: 600;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 0;
}

.square_item h3{
	color: #111111;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	transition: 0.5s;
	margin-top: 0;
	line-height: 1.4em;
}

.square_item p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	padding: 8px 0;
}

.square_button > a{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	color: #D3959B;
	text-decoration: none;
	width: 110px;
	transition: 0.5s;
}

.square_button > a::after{
	content: "\203A";
	font-size: 20px;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.square_button > a:hover{
	color: #111111;
}

/* --- 3.6. Interior Area Six --- */
.interior_area_six{
	position: relative;
	min-height: 450px;
	height: 100%;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
}

/* --- 3.7. Interior Area Seven --- */
.interior_area_seven{
	max-width: 1280px;
	margin: 0 auto;
	margin-top:  -325px;
	padding: 0 25px;
	margin-bottom: calc(9em - 30px);
	position: relative;
}

.interior_group_seven{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 15px 15px 0;
	background-color: #ffffff;
	margin-top: 40px;
}

.feature_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 25px;
}

.feature_box{
	max-width: 400px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
	margin-bottom: 30px;
}

.feature_image img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.feature_image{
	overflow: hidden;
	position: relative;
}

.feature_group{
	overflow: hidden;
	position: relative;
	padding-right: 5px;
	padding-top: 5px;
	padding-left: 5px;
}

.feature_name{
	padding-top: 5px;
}

.grid_crumb{
	width: 50px;
	height: 1px;
	margin: auto;
	border-bottom: solid 2px #D3959B;
}

.feature_image > a > img{
	transition: ease-in-out 3.25s;
}

.feature_image:hover > a > img{
	transform: scale(1.15);
}

.feature_name h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 15px;
	display: inline-block;
	font-weight: 700;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
	text-transform: uppercase;
}

/* --- 3.8. Interior Area Eight --- */
.interior_area_eight{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 25px;
	margin-bottom: calc(9em - 15px);
}

.interior_group_eight{
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.review_col_left{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 15px;
	position: relative;
}

.review_col_right{
	flex: 66.66%;
	width: 66.66%;
	padding: 0 10px;
	text-align: center;
}

.review_box{
	max-width: 450px;
	margin: 0;
	width: 100%;
	padding: 0 20px;
}

.review_box > p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.review_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.review_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.client_details{
	display: block;
	max-width: 325px;
	width: 100%;
	margin: auto;
	padding: 0 15px;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 5px;
}

.client_box{
	width: 100%;
	padding: 35px 30px;
	text-align: center;
	display: block;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.client_info img{
	max-width: 90px;
	height: 90px;
	margin: auto;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin-bottom: 14px;
}

.client_name{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
}

.client_comment{
	display: block;
	clear: both;
}

.client_title{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #D3959B;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.client_comment q{
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	max-width: 350px;
	margin: auto;
	padding-top: 15px;
}

.slick-dots{
	position: relative;
	z-index: 999999;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1.5rem 0 0;
	list-style-type: none;
}

.slick-dots button{
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #6f6f6f;
	border-radius: 100%;
	background: transparent;
	text-indent: -9999px;
}

li.slick-active button{
	background-color: #D3959B;
}

.slick-dots button:hover{
	background-color: #D3959B;
}

.slick-dots li{
	margin: 6px 0.40rem;
}

/* --- 3.9. Interior Area Nine --- */
.interior_area_nine{
	max-width: 1400px;
	padding: 0 25px;
	margin: 0 auto 9em;
}

.interior_group_nine{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 40px;
}

.team_box{
	max-width: 350px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
}

.team_col{
	flex: 25%;
	width: 25%;
	padding: 0 25px;
}

.team_col img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 50%;
}

.team_image{
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	background-color: #ffffff;
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	opacity: 0.5;
	height:0;
	background-color: #D3959B;
}

.team_box .team_image > img{
	transition: ease-in-out 3.25s;
}

.team_box:hover .team_image > img{
	transform: scale(1.15);
}

.team_box:hover .overlay{
	bottom: 0;
	height: 100%;
}

.team_icon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.team_icon .fab,
.team_icon .fa{
	font-size: 14px;
	color: #D3959B;
	width: 35px;
	height: 35px;
	background-color: #ffffff;
	padding: 10px;
	border: solid 1px #ffffff;
	border-radius: 50%;
	display: inline-block;
	text-align: left;
	margin-right: 7px;
	transition: ease-in-out 0.5s;
}

.team_icon .fa-facebook-f{
	padding: 10px 12px !important;
}

.team_icon .fab:hover,
.team_icon .fa:hover{
	color: #ffffff;
	background-color: #111111;
	border: solid 1px #111111;
}

.team_name{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
}

.team_title{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 15px;
	display: block;
	font-weight: 600;
	color: #D3959B;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

/* --- 3.10. Interior Area Ten --- */
.interior_area_ten{
	width: 100%;
	margin: 0 0 2em;
	min-height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 6em 0;
}

.interior_group_ten{
	max-width: 1200px;
	margin: auto;
	padding: 0 25px;
	position: relative;
	z-index: 9;
}

.form_group{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.interior_form_col{
	position: relative;
	flex: 50%;
	width: 50%;
}

.form_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.form_col_box{
	max-width: 450px;
	text-align: left;
}

.form_col_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: left;
	display: block;
	color: #111111;
	line-height: 1.3em;
}

.form_col_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 12px 0;
	line-height: 1.5em;
}

.form-box{
	text-align: right;
	display: block;
	max-width: 600px;
}

.form-row {
	flex-direction: row;
	display: flex;
}

.form-box input[type="text"],
.form-box input[type="email"]{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	padding: 7px 20px;
	height: 40px;
	border: none;
	margin: 8px 0;
	border: solid 1px #e0e0e0;
	flex-grow: 1;
	letter-spacing: 1px;
	transition: 0.5s;
	background-color: #ffffff;
}

.form-box textarea{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	padding: 7px 20px;
	border: none;
	width: auto;
	min-height: 125px;
	margin: 8px 0;
	border: solid 1px #e0e0e0;
	flex-grow: 1;
	letter-spacing: 1px;
	transition: 0.5s;
	background-color: #ffffff;
}

.form-box input[type="text"]:focus,
.form-box input[type="email"]:focus,
.form-box textarea:focus{
	outline: none;
}

.form-box input[type="submit"]{
	margin: 8px 0;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 1px;
	background-color: #D3959B;
	border: solid 1px #D3959B;
	transition: 0.5s;
}

.form-box input[type="submit"]:hover{
	background-color: #111111;
	color: #ffffff;
	border-color: #111111;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
}

.footer_area{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 3.5em;
}

a.footer-brand img{
	max-width: 200px;
	height: auto;
	display: block;
}

.footer_box > h3 > a{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #111111;
	text-align: left;
}

.footer_box > p{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 16px;
	color: #111111;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.final{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_col > h4{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #111111;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	color: #111111;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.footer_inner{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 15px;
}

.footer_grid{
	flex: 33.33%;
	width: 33.33%;
	padding-right: 10px;
	padding-bottom: 10px;
}

.footer_grid img{
	vertical-align: middle;
	width: 100%;
	transition: .5s;
}

.footer_grid a > img:hover{
	opacity: 0.6;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #e0e0e0;
}

.details p{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
	
	.icon_col{
		flex: 50%;
		width: 50%;
		margin-bottom: 5px;
	}
	
	.interior_wide_col,
	.interior_box_col{
		flex: 100%;
		width: 100%;
		max-width: 900px;
		margin: auto;
	}
	
	.interior_box_col{
		margin-top: 40px;
	}
	
	.square_col_left{
		flex: 100%;
		width: 100%;
		margin-bottom: 45px;
	}

	.square_col_right{
		flex: 100%;
		width: 100%;
	}
	
	.review_col_left{
		flex: 100%;
		width: 100%;
		margin-bottom: 40px;
	}
	
	.review_col_right{
		flex: 100%;
		width: 100%;
	}
	
	.team_col{
		flex: 50%;
		width: 50%;
		margin-bottom: 40px;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #111111;
		font-size: 25px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.head_btn a:hover{
		background: transparent;
		border-color: #111111;
	}
	
	.navbar-header a.navbar-brand{
		padding-top: 22px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.header-title{
		margin-right: 0;
	}
	
	.feature_col{
		flex: 50%;
		width: 50%;
	}
	
	.interior_form_col{
		flex: 100%;
		width: 100%;
	}
	
	.form_area{
		margin-bottom: 20px;
	}

	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.header-title{
		max-width: 500px;
	}
	
	.header-title__main{
		font-size: 30px;
	}
	
	.icon_col{
		flex: 100%;
		width: 100%;
	}
	
	.interior_head,
	.wide_box h2,
	.square_box h2,
	.bg_head,
	.review_box h2,
	.form_col_box h2{
		font-size: 30px;
	}
	
	.square_col{
		flex: 100%;
		width: 100%;
	}
	
	.bg_col{
		flex: 100%;
		width: 100%;
	}
	
	.right_bg{
		right: 0;
		margin-top: 10px;
	}
	
	.feature_col{
		flex: 100%;
		width: 100%;
		padding: 0;
	}
	
	.team_col{
		flex: 100%;
		width: 100%;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 420px){
	.header-title{
		max-width: 400px;
	}
	
	.interior_wide_col,
	.interior_box_col,
	.square_col_left,
	.square_col_right,
	.square_col,
	.square_box,
	.review_col_right,
	.review_col_left,
	.review_box,
	.team_col{
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 375px){
	.interior_area_four{
		margin-top: -275px;
	}
}
