/*------------------------------------------------------------------
Main Stylesheet

Project:    HighPoint - Multipurpose Business Template
Version:    1.0
Last change:    09/12/2021
Author:    creativemaze
Primary use:    Logistics
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Logistics Area One 
	3.2. Logistics Area Two
	3.3. Logistics Area Three
	3.4. Logistics Area Four
	3.5. Logistics Area Five
	3.6. Logistics Area Six
	3.7. Logistics Area Seven
	3.8. Logistics Area Eight
	3.9. Logistics Area Nine
	3.10. Logistics Area Ten
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.logistics_heading{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #1A2980;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.logistics_info{
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
nav.navbar.bootsnav .navbar-brand{
    max-width: 200px; 	
}

.navbar-header a.navbar-brand{
	text-decoration: none;
	color: #111111;
	transition: 0.5s;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 30px;
}

.navbar-header a.navbar-brand:hover{
	color: #111111;
}

nav.navbar .navbar-brand img.logo{
   width: 100%;
   height: auto;
   display: block;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #111111;
    font-family: 'Raleway' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Raleway' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #1A2980;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Raleway' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #1A2980;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Raleway' , Arial, sans-serif;
    color: #1A2980;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #111111;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	background-color: #1A2980;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 600px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info .fab{
	font-size: 16px;
	color: #ffffff;
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info > a{
	padding-right: 14px;
}

.left_info .fas:hover,
.right_info .fab:hover{
	opacity: 0.6;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #feb600;
	width: 150px;
	min-height: 30px;
    border: none;
    color: #1A2980;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #feb600;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: #1A2980;
	color: #ffffff;
	border-color: #1A2980;
}

.sliderwrap{
	position: relative;
}

.header__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 700px;
	position: relative;
	z-index: 999;
}

.slide__content{
	position: relative;
	z-index: 1;
	height: 100vh;
	min-height: 700px;
	text-align: center;
	color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slide__content::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.header-title {
	max-width: 1200px;
	display: block;
	position: relative;
	padding: 0 10px;
}

.header-title__main{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 75px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
	display: block;
	color: #ffffff;
	padding: 0 10px;
}

.header-title__sub{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-transform: capitalize;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: center;
	padding: 20px 15px;
	max-width: 550px;
	margin: auto;
	line-height: 1.5em;
}

.search-row{
	margin-top: 30px;
	text-align: center;
	max-width: 800px;
}

.search-row input[type="text"]{
	width: 450px;
	padding: 11px 20px 14px;
	border: 0;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	display: inline-block;
	font-weight: 600;
	color: #333333;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.search-row input[type="submit"]{
	display: inline-block;
	width: auto;
	padding: 11px 30px 12px;
	text-align: center;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
	margin-left: -4px;
	color: #1A2980;
	border: solid 1px #feb600;
	letter-spacing: 1px;
	background-color: #feb600;
	transition: 0.5s;
	border-radius: 0;
}

.search-row input[type="submit"]:hover{
	background-color: #1A2980;
	color: #feb600;
	border-color: #1A2980;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Logistics Area One --- */
.logistics_area_one{
	max-width: 1280px;
	margin: 9em auto 0;
	padding: 0 25px;
	position: relative;
	margin-bottom: calc(9em - 50px);
}

.logistics_group_one{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.logistics_icon_col{
	flex: 25%;
	width: 25%;
	padding: 0 25px;
}

.logistics_icon_box{
	max-width: 300px;
	margin: auto;
	padding: 25px 20px;
	text-align: center;
	background: transparent;
	transition: 0.5s;
}

.logistics_icon_box:hover{
	box-shadow: -1px 1px 12px 10px rgba(0,0,0,0.19);
}

.logistics_icon_box h3{
	color: #111111;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.logistics_icon_box .fas,
.logistics_icon_box .far{
	font-size: 35px;
	color: #feb600;
	text-align: center;
	display: block;
}

.logistics_icon_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding-top: 10px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
}

/* --- 3.2. Logistics Area Two --- */
.logistics_area_two{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 25px;
	margin-bottom: calc(9em + 65px);
}

.logistics_group_two{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}

.square_col{
	flex: 33.33%;
	width: 33.33%;
	position: relative;
	padding: 0 25px;
}

.square_box{
	width: 100%;
	padding: 20px;
	max-width: 400px;
	margin: 25px auto;
	overflow: hidden;
}

.square_col img{
	width: 100%;
	height: auto;
	display: block;
}

.logistics_area{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.logistics_item{
	float: left;
	width: 85%;
	padding-left: 10px;
	margin-top: -5px;
}

.logistics_check{
	float: left;
	width: 15%;
}

.logistics_checkbox::before{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	border: solid 1px #1A2980;
	background-color: #1A2980;
	border-radius: 50%;
	padding: 12px;
	color: #feb600;
}

.logistics_item h3{
	color: #111111;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	margin-top: 0;
	line-height: 1.4em;
}

.logistics_item p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	padding: 8px 0;
}

.logistics_button > a{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	color: #1A2980;
	text-decoration: none;
	width: 110px;
	transition: 0.5s;
    cursor: pointer;
}

.logistics_button > a::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.logistics_button a:hover{
	color: #111111;
}

.slidenav{
	position: absolute;
	bottom: -65px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 99;
}

.prev_button,
.next_button{
	font-size: 14px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	background: transparent;
	width: auto;
	display: inline-block;
	padding: 10px 16px;
	color: #111111;
	cursor: pointer;
	border: solid 1px #111111;
}

.prev_button{
	margin-right: 15px;
}

.prev_button:hover,
.next_button:hover{
	background-color: #1A2980;
	color: #feb600;
	border-color: #1A2980;
}

/* --- 3.3. Logistics Area Three --- */
.logistics_area_three{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.logistics_group_three,
.box_group{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.logistics_wide_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 15px;
	position: relative;
}

.logistics_box_col{
	flex: 66.66%;
	width: 66.66%;
	padding: 0 15px;
}

.box_group_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 20px;
}

.wide_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.wide_box{
	max-width: 450px;
	margin: 0;
	width: 100%;
	padding: 0 20px;
}

.wide_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #1A2980;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.wide_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 12px 0;
	line-height: 1.5em;
}

.box_col_button a{
	background-color: #1A2980;
	width: 150px;
	min-height: 30px;
	margin: 30px 0 0;
    border: none;
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #1A2980;
	letter-spacing: 1px;
	text-align: center;
}

.box_col_button a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111;
}

.logistics_box{
	max-width: 350px;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.logistics_image{
	overflow: hidden;
	position: relative;
}

.logistics_box_col img{
	width: 100%;
	height: auto;
	display: block;
}

.featured_content{
	overflow: hidden;
	position: relative;
	text-align: center;
	padding-top: 10px;
}

.featured_content h3{
	color: #111111;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.featured_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 12px 0;
	line-height: 1.5em;
}

.area_button a{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	display: block;
	color: #1A2980;
	text-decoration: none;
	width: 110px;
	margin: auto;
	transition: 0.5s;
    cursor: pointer;
}

.area_button a::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.area_button a:hover{
	color: #111111;
}

/* --- 3.4. Logistics Area Four --- */
.logistics_area_four{
	position: relative;
	min-height: 400px;
	height: 100%;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.logistics_area_four::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.5);
}

/* --- 3.5. Logistics Area Five --- */
.logistics_area_five{
	max-width: 1400px;
	margin: 0 auto 9em;
	margin-top:  -300px;
	padding: 0 30px;
	position: relative;
}

.logistics_group_five{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 20px 0;
	background-color: #ffffff;
	margin-top: 40px;
}

.bg_head{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
}

.bg_info{
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
}

.num_col{
	flex: 25%;
	width: 25%;
	padding: 25px 20px;
}

.num_box{
	width: 100%;
	padding: 20px;
	border: solid 1px #e0e0e0;
	max-width: 300px;
	margin: auto;
	overflow: hidden;
}

.num_info{
	float: left;
	width: 15%;
}

.num_item{
	float: left;
	width: 85%;
	padding-left: 10px;
}

.num_info h4{
	color: #feb600;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 22px;
	font-weight: 600;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 0;
}

.num_item h3{
	color: #111111;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	margin-top: 0;
	line-height: 1.4em;
}

.num_item p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	padding: 8px 0;
}

.num_button > a{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	color: #1A2980;
	text-decoration: none;
	width: 110px;
	transition: 0.5s;
    cursor: pointer;
}

.num_button > a::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.num_button > a:hover{
	color: #111111;
}

/* --- 3.6. Logistics Area Six --- */
.logistics_area_six{
	max-width: 1400px;
	margin: 0 auto 0;
	padding: 0 25px;
	margin-bottom: 9em;
}

.logistics_group_six{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.question_col{
	flex: 66.66%;
	width: 66.66%;
}

.info_col{
	flex: 33.33%;
	width: 33.33%;
}

.question_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.panel_col{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.info_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.info_box{
	max-width: 450px;
	margin: 0;
	width: 100%;
	padding: 0 20px;
}

.info_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #1A2980;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.info_box > p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.accordion {
	background-color: #eee;
	cursor: pointer;
	padding: 20px;
	width: 100%;
	border: none;
	text-align: left;
	overflow: hidden;
	transition: 0.4s;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	line-height: 1.5em;
}

.active-bar, .accordion:hover {
	background-color: #ccc;
}

.accordion:after {
	font-family: 'Font Awesome 5 Free';
	content: '\f107';
	font-size: 16px;
	color: #111111;
	font-weight: 600;
	float: right;
	margin-left: 5px;
}

.active-bar:after {
	font-family: 'Font Awesome 5 Free';
	content: "\f106";
}

.panel{
	padding: 0;
	background-color: #ffffff;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.panel > p{
	padding: 12px 6px 0;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	line-height: 1.6em;
	color: #696969;
}

/* --- 3.7. Logistics Area Seven --- */
.logistics_area_seven{
	width: 100%;
	margin: 0;
	min-height: 400px;
	padding: 6em 25px;
	background-color: #eeeeee;
}

.logistics_group_seven{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 40px;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 40px 25px 0;
}

.blog_box{
	position: relative;
	max-width: 350px;
	margin: auto;
	text-align: center;
	padding: 25px 20px;
	overflow: hidden;
	background-color: #ffffff;
}

.blog_content{
	padding: 10px;
	text-align: left;
}

.blog_date{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 12px;
	display: block;
	font-weight: 600;
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
	width: 250px;
}

.blog_title a{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 20px;
	display: inline-block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
}

.blog_title a:hover,
a.blog_btn:hover{
	opacity: 0.6;
}

a.blog_btn{
	width: 120px;	
    border: none;
    color: #1A2980;
	padding-top: 10px;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.2em;
}

a.blog_btn::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.blog_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 10px 0;
	line-height: 1.5em;
}

/* --- 3.8. Logistics Area Eight --- */
.logistics_area_eight{
	width: 100%;
	min-height: 100px;
	margin-bottom: 9em;
	background-color: #1A2980;
}

.logistics_group_eight{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.count_col{
	flex: 25%;
	width: 25%;
	padding: 0 25px;
	border-right: solid 1px #e0e0e0;
}

.count_box{
	max-width: 300px;
	margin: auto;
	padding: 0 25px;
}

.fourth_line{
	border-right: none;
}

.count_box h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	text-align: center;
	color: #feb600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.count_box .counter{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 30px;
	font-weight: 700;
	display: block;
	text-align: center;
	color: #ffffff;
	letter-spacing: 1px;
}
/* --- 3.9. Logistics Area Nine --- */
.logistics_area_nine{
	max-width: 1000px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.logistics_group_nine{
	width: 100%;
	text-align: center;
}

.client_details{
	display: block;
	max-width: 325px;
	width: 100%;
	margin: auto;
	padding: 0 15px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;
}

.client_box{
	width: 100%;
	padding: 35px 30px;
	text-align: center;
	display: block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.client_info img{
	max-width: 90px;
	height: 90px;
	margin: auto;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin-bottom: 14px;
}

.client_name{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #1A2980;
	letter-spacing: 1px;
	text-align: center;
	text-transform: capitalize;
}

.client_comment{
	display: block;
	clear: both;
}

.client_title{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.client_comment q{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	max-width: 350px;
	margin: auto;
	padding-top: 15px;
}

.client_col .slick-dots {
	position: relative;
	z-index: 999999;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1.5rem 0 0;
	list-style-type: none;
}

.client_col .slick-dots button{
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #1A2980;
	border-radius: 100%;
	background-color: transparent;
	text-indent: -9999px;
}

.client_col li.slick-active button{
	background-color: #1A2980;
}

.client_col .slick-dots button:hover{
	background-color: #1A2980;
}

.client_col .slick-dots li{
	margin: 6px 0.40rem;
}

/* --- 3.10. Logistics Area Ten --- */
.logistics_area_ten{
	width: 100%;
	margin: 0 0 2em;
	min-height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 6em 0;
}

.logistics_area_ten::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.5);
}

.logistics_group_ten{
	max-width: 1280px;
	margin: auto;
	padding: 0 30px;
	position: relative;
	z-index: 9;
}

.form_group{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.logistics_form_col{
	position: relative;
	flex: 50%;
	width: 50%;
}

.form_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.form_col_box{
	max-width: 450px;
	text-align: left;
}

.form_col_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: left;
	display: block;
	color: #ffffff;
	line-height: 1.3em;
}

.form_col_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: left;
	padding: 12px 0;
	line-height: 1.5em;
}

.form-box{
	text-align: right;
	display: block;
	max-width: 600px;
}

.form-row {
	flex-direction: row;
	display: flex;
}

.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"]{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	padding: 7px 20px;
	height: 40px;
	border: none;
	margin: 8px 0;
	border: solid 1px #e0e0e0;
	flex-grow: 1;
	letter-spacing: 1px;
	transition: 0.5s;
	background: transparent;
	color: #ffffff;
}

.form-box textarea{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	padding: 7px 20px;
	border: none;
	width: auto;
	min-height: 125px;
	margin: 8px 0;
	border: solid 1px #e0e0e0;
	flex-grow: 1;
	letter-spacing: 1px;
	transition: 0.5s;
	background: transparent;
	color: #ffffff;
}

.form-box input[type="text"]:focus,
.form-box input[type="email"]:focus,
.form-box textarea:focus{
	outline: none;
}

.form-box input[type="submit"]{
	margin: 8px 0;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 1px;
	background-color: #1A2980;
	border: solid 1px #1A2980;
	transition: 0.5s;
}

.form-box input[type="submit"]:hover{
	background-color: #ffffff;
	color: #111111;
	border-color: #ffffff;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
}

.footer_area{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 3.5em;
}

a.footer-brand img{
	max-width: 200px;
	height: auto;
	display: block;
}

.footer_box > h3 > a{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #111111;
	text-align: left;
}

.footer_box > p{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 16px;
	color: #111111;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.final{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_col > h4{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #111111;
	line-height: 1.4em;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	color: #111111;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.subscribe-row{
	text-align: right;
}

.col_info input[type="email"]{
	display: block;
	width: 100%;
	padding: 12px 10px 14px;
	background-color: #f6f6f6;
	border: 0;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #333333;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.col_info{
	padding-top: 10px;
}

.col_info input[type="submit"]{
	display: inline-block;
	padding: 10px 14px;
	text-align: center;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 20px;
	width: 100%;
	margin-left: 0;
	color: #ffffff;
	border-radius: 0;
	letter-spacing: 1px;
	background-color: #1A2980;
	border: solid 1px #ffffff;
	transition: 0.5s;
}

.col_info input[type="submit"]:hover{
	background-color: #111111;
	color: #ffffff;
}

.col_info input[type="email"]:focus{
	outline: none;
	box-shadow: 0 0 0 2px #e0e0e0;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #e0e0e0;
}

.details p{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: center;
} 

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
	
	.logistics_icon_col{
		flex: 50%;
		width: 50%;
		margin-bottom: 15px;
	}
	
	.square_col{
		flex: 100%;
		width: 100%;
		max-width: 400px;
	}
	
	.logistics_group_two{
		max-width: 400px;
		margin: auto;
	}
	
	.logistics_wide_col,
	.logistics_box_col{
		flex: 100%;
		width: 100%;
		padding: 0;
	}
	
	.wide_box{
		margin-bottom: 40px;
	}
	
	.num_col{
		flex: 50%;
		width: 50%;
	}
	
	.question_col{
		flex: 100%;
		width: 100%;
	}
	
	.info_col{
		flex: 100%;
		width: 100%;
		margin-bottom: 40px;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #111111;
		font-size: 25px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header a.navbar-brand{
		padding-top: 22px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.header-title__main{
		font-size: 60px;
	}
	
	.panel_col{
		flex: 100%;
		width: 100%;
		max-width: 600px;
	}
	
	.count_col{
		flex: 50%;
		width: 50%;
		margin: 20px 0;
	}
	
	.second_line{
		border-right: none;
	}
	
	.logistics_form_col{
		flex: 100%;
		width: 100%;
	}
	
	.form_area{
		margin-bottom: 25px;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.logistics_heading,
	.info_box h2,
	.bg_head,
	.wide_box h2,
	.question_box h2,
	.form_col_box h2{
		font-size: 30px;
	}
	
	.search-row input[type="text"]{
		display: block;
		width: 100%;
	}
	
	.search-row input[type="submit"]{
		margin-top: 20px;
		display: block;
		width: 100%;
		margin-left: 0;
	}
	
	.logistics_icon_col{
		flex: 100%;
		width: 100%;
	}
	
	.box_group_col{
		flex: 100%;
		width: 100%;
		padding: 0;
		margin-bottom: 30px;
	}
	
	.num_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.count_col{
		flex: 100%;
		width: 100%;
	}
	
	.first_line,
	.third_line{
		border-right: none;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}	

@media only screen and (max-width: 420px){
	.header-title__main{
		font-size: 45px;
	}
	
	.logistics_icon_col,
	.square_col,
	.wide_box,
	.num_col,
	.info_box,
	.panel_col,
	.blog_col{
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 320px){
	.logistics_item{
		padding-left: 20px;
	}
	
	.num_item{
		padding-left: 20px;
	}
	
	.logistics_area_five{
		margin-top: -325px;
	}
}
