/*------------------------------------------------------------------
Main Stylesheet

Project:    Upstake - Multipurpose Business Template
Version:    1.0
Last change:    08/06/2024
Author:    creativemaze
Primary use:    Logistics
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Logistics Area One 
	3.2. Logistics Area Two
	3.3. Logistics Area Three
	3.4. Logistics Area Four
	3.5. Logistics Area Five
	3.6. Logistics Area Six
	3.7. Logistics Area Seven
	3.8. Logistics Area Eight
	3.9. Logistics Area Nine
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.logistics_heading{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	color: #1a2980;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.logistics_info{
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
.navbar-header > a{
	text-decoration: none;
	color: #111111;
	transition: 0.5s;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 30px;
}

.navbar-header > a:hover{
	color: #111111;
}

#nav-logo > a{
	max-width: 160px; 
	min-height: 10px;
	position: relative;
	top: 33px;
}

#nav-logo > a img{
   position: relative;
   max-width: 160px;
   height: auto;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
	margin-top: 5px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #111111;
    font-family: 'Raleway' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Raleway' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #feb600;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Raleway' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #feb600;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Raleway' , Arial, sans-serif;
    color: #1a2980;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #111111;
	padding-top: 36px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	background-color: #1a2980;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 600px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info > a > .fab{
	font-size: 16px;
	color: #ffffff;
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info > a .fab{
	padding-right: 14px;
	transition: 0.5s;
}

.right_info > a > .fab:hover{
	color: #feb600;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 19px;
	right: 0;
}

.head_btn a{
	background-color: #feb600;
	width: 140px;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #feb600;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: transparent;
	color: #111111;
	border-color: #111111;
}

.sliderwrap{
	position: relative;
}

.header__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 700px;
	position: relative;
	z-index: 999;
}

.slide__content{
	position: relative;
	z-index: 1;
	height: 100vh;
	min-height: 700px;
	text-align: center;
	color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slide__content::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.header-title {
	max-width: 1200px;
	display: block;
	position: relative;
	padding: 0 10px;
}

.header-title__main{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 75px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
	display: block;
	color: #ffffff;
	padding: 0 10px;
}

.header-title__sub{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-transform: capitalize;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: center;
	padding: 20px 15px;
	max-width: 550px;
	margin: auto;
	line-height: 1.5em;
}

.search-row{
	margin-top: 20px;
	text-align: center;
	max-width: 800px;
}

.search-row input[type="text"]{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	display: inline-block;
	font-weight: normal;
	letter-spacing: 1px;
	height: 40px;
	vertical-align: middle;
	padding: 15px 10px;
	width: 400px;
	background-color: #ffffff;
	border: none;
	margin-right: -4px;
}

.search-row input[type="text"]::placeholder{
	color: #333333;
	opacity: 1;
}

.search-row input[type="submit"]{
	text-align: center;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	height: 40px;
	width: 130px;
	color: #ffffff;
	position: relative;
	bottom: -1px;
	border-radius: 0;
	transition: 0.5s;
	background-color: #feb600;
	border: solid 1px #feb600;
}

.search-row input[type="submit"]:hover{
	background-color: #1a2980;
	color: #feb600;
	border-color: #1a2980;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Logistics Area One --- */
.logistics_area_one{
	max-width: 1200px;
	padding: 0 25px;
	position: relative;
	z-index: 9999;
	margin: -80px auto 0;
	margin-bottom: calc(9em + 80px);
}

.logistics_group_one{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.icon_col{
	flex: 25%;
	width: 25%;
	padding: 80px 25px 0;
}

.icon_box{
	max-width: 250px;
	margin: auto;
	text-align: center;
	padding: 0;
}

.icon_symbol .fi{
	font-size: 44px;
	width: 75px;
	height: 75px;
	background-color: #feb600;
	color: #ffffff;
	display: inline-block;
	margin-top: -40px;
	text-align: center;
	padding: 12px;
}

.icon_content{
	margin-top: 20px;
	width: 100%;
	padding: 20px 15px;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.icon_content h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.icon_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding-top: 10px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
}

.icon_button a{
	width: 140px;
	height: 40px;
	margin: 20px auto 0;
	padding: 12px 0;
    color: #111111;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #ffffff;
	letter-spacing: 1px;
	text-align: center;
}

.icon_button a::after{
	content: "\203A";
	position: relative;
	right: -2px;
	float: right;
	margin-top: -13px;
	width: 40px;
	height: 40px;
	font-size: 24px;
	display: inline-block;
	padding: 1px 6px;
	color: #ffffff;
	background-color: #feb600;
}

/* --- 3.2. Logistics Area Two --- */
.logistics_area_two{
	max-width: 1280px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.logistics_group_two{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.square_col_right{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.square_col_left{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.square_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.square_box{
	max-width: 500px;
	padding-right: 20px;
}

.square_box h5{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #feb600;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5em;
}

.square_box > p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.square_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	color: #1a2980;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.square_list > ul > li{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	padding: 7px 0;
}

.square_list > ul > li::before{
	font-family: 'uicons-thin-straight';
	content: "\fa38";
	font-size: 26px;
	font-weight: 100;
	position: relative;
	top: 8px;
	padding-right: 12px;
	color: #feb600;
}

.photo_area{
	max-width: 550px;
	text-align: center;
	position: relative;
}

.photo_box{
	position: relative;
	text-align: right;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.photo_image{
	flex: 94%;
	width: 94%;
	max-width: 550px;
	position: relative;
	z-index: 99;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.side_area{
	flex: 6%;
	width: 6%;
	height: auto;
	overflow: auto;
}

.fig{
	transform: scaleX(-1);
}

.side_fig{
	position: absolute;
	left: -45px;
	bottom: 35px;
	transform: rotate(-90deg) scaleX(-1);
	transform-origin: top left;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.side_fig h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: inline-block;
	background-color: #feb600;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
	text-transform: uppercase;
	padding: 12px 18px;
}

.bg_content{
	position: absolute;
	top: -85px;
	right: 0;
	margin-right: 25px;
	z-index: 99;
	width: 200px;
	height: 200px;
	background-color: #ffffff;
}

.bg_photo{
	width: 180px;
	height: 180px;
	margin: 10px auto;
}

.photo_image img{
	width: 100%;
	height: auto;
	display: block;
}

.info_col_button a{
	background-color: #feb600;
	width: 160px;
	margin: 25px 0 0;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #feb600;
	letter-spacing: 1px;
	text-align: center;
}

.info_col_button a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111;
}

/* --- 3.3. Logistics Area Three --- */
.logistics_area_three{
	max-width: 1280px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.logistics_group_three{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.area_head{
	flex: 58.33%;
	width: 58.33%;
	padding: 0 25px;
}

.area_info{
	flex: 41.66%;
	width: 41.66%;
	padding: 0 25px;
	margin-top: 40px;
}

.area_head h5{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #feb600;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5em;
}

.area_head h2{
	max-width: 550px;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	color: #1a2980;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.area_info p{
	max-width: 550px;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding: 15px 0;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.feature_area{
	width: calc(100% - 50px);
	display: flex;
	flex-wrap: wrap;
	min-height: 400px;
	background-color: #ffffff;
	padding: 25px 25px 40px 25px;
	margin: 85px auto 0;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	border-left: solid 5px #feb600;
}

.feature_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 20px;
}

.feature_box{
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
}

.feature_image{
	position: relative;
}

.feature_image img{
	width: 130px;
	height: 130px;
	display: block;
	margin: -85px auto 0;
	border-radius: 50%;
}

.feature_content h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
}

.feature_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.feature_list > ul > li{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #1a2980;
	letter-spacing: 1px;
	text-align: left;
}

.feature_list > ul > li::before{
	font-family: 'uicons-thin-straight';
	content: "\fc0a";
	font-weight: 600;
	font-size: 26px;
	position: relative;
	top: 8px;
	padding-right: 10px;
	color: #feb600;
}

.slick-dots {
	position: relative;
	z-index: 999999;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}

.slick-dots button{
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #6f6f6f;
	border-radius: 50%;
	background-color: transparent;
	text-indent: -9999px;
}

li.slick-active button{
	background-color: #feb600;
}

.slick-dots button:hover{
	background-color: #feb600;
}

.slick-dots li{
	margin: 22px 4px 0 4px;
}

.logistics_area_three .slick-list{
	overflow: visible;
}

/* --- 3.4. Logistics Area Four --- */
.logistics_area_four{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 0;
	padding: 6em 0;
}

.logistics_area_four::after{
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.logistics_group_four{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 25px;
	position: relative;
	z-index: 999;
}

.logistics_group_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.bg_col{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.bg_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.bg_box{
	max-width: 700px;
}

.bg_box h2{
	color: #ffffff;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.bg_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #dddddd;
	letter-spacing: 1px;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
	max-width: 500px;
}

.video-play-button {
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-sizing: content-box;
	display: block;
	width: 28px;
	height: 42px;
	border-radius: 50%;
	padding: 28px 16px 12px 32px;
}

.video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	transition: all 200ms;
}

.video-play-button span {
	display: block;
	position: relative;
	z-index: 3;
	width: 0;
	height: 0;
	border-left: 18px solid #feb600;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.logistics_col_button a{
	background-color: #feb600;
	width: 150px;
	margin: 10px 0 20px;
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #feb600;
	letter-spacing: 1px;
	text-align: center;
}

.logistics_col_button a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

/* --- 3.5. Logistics Area Five --- */
.logistics_area_five{
	width: 100%;
	position: relative;
	min-height: 350px;
	padding: 2em 25px 5em;
	background-color: #eeeeee;
	margin-bottom: 9em;
	overflow: hidden;
}

.logistics_group_five{
	max-width: 1280px;
	margin: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.num_col{
	position: relative;
	flex: 25%;
	width: 25%;
	padding: 10px 20px 0;
}

.num_box{
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.list_num h4{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 115px;
	font-weight: 800;
	display: block;
	text-align: left;
	color: #feb600;
	letter-spacing: 1px;
	line-height: 1.2em;
	text-transform: uppercase;
	margin: 0;
}

.num_info{
	text-align: center;
	margin: auto;
	padding: 0 10px;
}

.center_mid{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mid_info h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: center;
	color: #111111;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin: 0;
}

.mid_info p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
	padding: 10px 0;
}

.cube_crumb{
	width: 50px;
	height: 1px;
	margin: auto;
	border-bottom: solid 2px #feb600;
	margin-top: 12px;
}

/* --- 3.6. Logistics Area Six --- */
.logistics_area_six{
	max-width: 1280px;
	padding: 0 25px;
	margin: 0 auto 9em;
}

.logistics_group_six{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.sub_info{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #feb600;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.5em;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 40px 20px 0;
}

.blog_box{
	max-width: 400px;
	margin: auto;
	position: relative;
	text-align: center;
}

.blog_date{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	padding: 12px;
}

.blog_date h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 13px;
	display: block;
	font-weight: 600;
	color: #feb600;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin: 0;
	padding: 5px 0;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.blog_image img{
	width: 100%;
	height: auto;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
}

.blog_content{
	text-align: left;
	padding: 10px 0 20px;
	padding-left: 15px;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

a.blog_btn{
	width: 140px;
	height: 40px;
	margin: 20px 0 0;
	padding: 12px 0;
    color: #111111;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
	letter-spacing: 1px;
	text-align: center;
}

a.blog_btn::after{
	content: "\203A";
	position: relative;
	right: -2px;
	float: right;
	margin-top: -13px;
	width: 40px;
	height: 40px;
	font-size: 24px;
	display: inline-block;
	padding: 1px 6px;
	color: #ffffff;
	background-color: #feb600;
}

.blog_title a:hover{
	color: #feb600;
}

/* --- 3.7. Logistics Area Seven --- */
.logistics_area_seven{
	position: relative;
	width: 100%;
	min-height: 400px;
	padding: 6em 25px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.logistics_area_seven::after{
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.logistics_group_seven{
	position: relative;
	z-index: 999;
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.review_col_left{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.review_col_right{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
	margin-top: -85px;
	position: relative;
}

.review_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.review_box{
	max-width: 550px;
	padding-right: 20px;
}

.review_box h5{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #feb600;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5em;
}

.review_box h2{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	color: #ffffff;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.review_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #dddddd;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	max-width: 450px;
}

.client_col{
	width: 100%;
	padding: 0 10px;
}

.client_details{
	max-width: 640px;
	padding: 20px;
	text-align: center;
	background: rgba(0,0,0,0.5);
	border-left: solid 4px #feb600;
	margin-bottom: 65px;
}

.client_info{
	margin-bottom: -110px;
	clear: both;
}

.client_name{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.4em;
	margin: 0;
	padding: 11px 0;
}

.client_title{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #feb600;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	margin: 0;
}

.client_details p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #dddddd;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px;
	line-height: 1.5em;
}

.client_photo img{
	max-width: 80px;
	height: 80px;
	border-radius: 50%;
	display: block;
	text-align: left;
}

.quote_format{
	font-size: 130px;
	color: #feb600;
	display: inline-block;
	text-align: center;
	bottom: -65px;
	position: relative;
}

.slidenav{
	position: absolute;
	right: 24px;
	top: 115px;
	padding: 0 10px;
}

.prev_nav .fi,
.next_nav .fi{
	font-size: 38px;
	transition: 0.6s ease;
	display: inline-block;
	overflow: hidden;
	color: #feb600;
	cursor: pointer;
}

.prev_nav .fi{
	margin-right: 15px;
}

.next_nav .fi:hover,
.prev_nav .fi:hover{
	color: #ffffff;
}

.review_col_button a{
	background-color: #feb600;
	width: 150px;
	margin: 30px 0 0;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #feb600;
	letter-spacing: 1px;
	text-align: center;
}

.review_col_button a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

/* --- 3.8. Logistics Area Eight --- */
.logistics_area_eight{
	max-width: 1280px;
	margin: -85px auto 9em;
	padding: 0 25px;
}

.logistics_group_eight{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.count_col{
	flex: 25%;
	width: 25%;
	padding: 40px 20px 0;
}

.count_box{
	max-width: 320px;
	margin: auto;
}

.count_area{
	width: 100%;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	background-color: #ffffff;
	padding: 10px;
}

.counter_col{
	flex: 50%;
	width: 50%;
	max-width: 160px;
	margin: auto;
	height: 100%;
}

.counter_box{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.color_area{
	position: relative;
	text-align: center;
	overflow: hidden;
	background-color: #feb600;
	border-radius: 5px;
}

.count_content h3{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	display: block;
	text-align: center;
	color: #ffffff;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
}

.count_num .counter{
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 30px;
	font-weight: 700;
	display: block;
	text-align: center;
	color: #111111;
	letter-spacing: 1px;
	margin: 0;
}

.counter.letter::after{
	content:'k';
	color: #feb600;
}

/* --- 3.9. Logistics Area Nine --- */
.logistics_area_nine{
	max-width: 1200px;
	width: calc(100% - 50px);
	margin: 0 auto -6em;
	position: relative;
	z-index: 999;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	background-color: #ffffff;
	border-radius: 10px;
}

.logistics_group_nine{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 40px 30px;
}

.title_head{
	flex: 83.33%;
	width: 83.33%;
}

.title_head h3{
	max-width: 650px;
	color: #1a2980;
	font-family: 'Raleway' , Arial, sans-serif;
	font-size: 30px;
	font-weight: 800;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.right_btn{
	flex: 16.66%;
	width: 16.66%;
	margin-top: 40px;
}

.right_btn a{
	background-color: #feb600;
	width: 160px;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #feb600;
	letter-spacing: 1px;
	text-align: center;
}

.right_btn a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #111111;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
	background-color: #1a2980;
}

.footer_area{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 6em;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 4.5em;
}

a.footer-logo img{
	max-width: 150px;
	height: auto;
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 10px;
}

.footer_box > h3 > a{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
}

.footer_box > p{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social > a > .fab,
.footer_social > a > .fa{
	font-size: 16px;
	color: #ffffff;
	text-align: left;
	transition: 0.5s;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a > .fab:hover,
.footer_social > a > .fa:hover{
	color: #feb600;
}

.footer_col > h4{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #ffffff;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ffffff;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	color: #feb600;
}

.right_list{
	padding-top: 10px;
}

.blog_list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 390px;
	padding-bottom: 10px;
}

.left_blog{
	flex: 33.33%;
	width: 33.33%;
	padding-bottom: 10px;
}

.right_blog{
	flex: 66.66%;
	width: 66.66%;
	max-width: 290px;
	padding-bottom: 15px;
	padding-left: 14px;
	margin-top: -5px;
}

.left_blog img{
	vertical-align: middle;
	width: 100%;
	max-width: 100px;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #6f6f6f;
}

.details p{
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: center;
} 

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #111111;
		font-size: 25px;
		margin-top: 7px;
		margin-bottom: 12px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header > a{
		margin-top: 14px;
	}
	
	#nav-logo > a{
		top: 19px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 21px;
	}
	
	.header-title__main{
		font-size: 60px;
	}
	
	.icon_col{
		flex: 50%;
		width: 50%;
	}
	
	.logistics_area_one{
		margin-bottom: 9em;
	}
	
	.square_col_right{
		flex: 100%;
		width: 100%;
		margin-top: 120px;
	}
	
	.square_col_left{
		flex: 100%;
		width: 100%;
	}
	
	.area_head{
		flex: 100%;
		width: 100%;
	}
	
	.area_info{
		flex: 100%;
		width: 100%;
		margin-top: 10px;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
	}
	
	.bg_col{
		flex: 100%;
		width: 100%;
	}
	
	.logistics_col_button a{
		margin-bottom: 90px;
	}
	
	.num_col{
		flex: 50%;
		width: 50%;
	}
	
	.review_col_left{
		flex: 100%;
		width: 100%;
		margin-bottom: 40px;
	}
	
	.review_col_right{
		flex: 100%;
		width: 100%;
	}
	
	.count_col{
		flex: 50%;
		width: 50%;
	}
	
	.title_head{
		flex: 100%;
		width: 100%;
	}
	
	.right_btn{
		flex: 100%;
		width: 100%;
		margin-top: 20px;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.logistics_heading,
	.square_box h2,
	.bg_box h2,
	.review_box h2,
	.area_head h2{
		font-size: 30px;
	}
	
	.title_head h3{
		font-size: 25px;
	}
	
	.square_col_right,
	.square_col_left,
	.square_box,
	.area_head,
	.area_info,
	.bg_col,
	.review_col_right,
	.review_col_left,
	.review_box{
		padding-left: 0;
		padding-right: 0;
	}
	
	.search-row input[type="text"]{
		display: block;
		max-width: 350px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.search-row input[type="submit"]{
		margin-top: 20px;
		display: block;
		position: relative;
		max-width: 350px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.icon_col{
		flex: 100%;
		width: 100%;
	}
	
	.bg_content{
		width: 170px;
		height: 170px;
	}
	
	.bg_photo{
		width: 150px;
		height: 150px;
	}
	
	.side_fig{
		left: -40px;
	}
	
	.side_fig h3{
		font-size: 14px;
	}
	
	.num_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.design_head{
		font-size: 25px;
	}
	
	.count_col{
		flex: 100%;
		width: 100%;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}	

@media only screen and (max-width: 420px){
	.header-title__main{
		font-size: 45px;
	}
	
	.bg_content{
		width: 140px;
		height: 140px;
	}
	
	.bg_photo{
		width: 120px;
		height: 120px;
	}
	
	.side_fig{
		bottom: 25px;
	}
	
	.side_fig h3{
		font-size: 12px;
		padding: 10px 15px;
	}
	
	.feature_area{
		width: 100%;
	}
	
	.blog_col,
	.feature_col,
	.client_col{
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 375px){
	.bg_content{
		width: 130px;
		height: 130px;
	}
	
	.bg_photo{
		width: 110px;
		height: 110px;
	}
	
	.side_fig{
		bottom: 20px;
	}
}
