/*------------------------------------------------------------------
Main Stylesheet

Project:     Upstake - Multipurpose Business Template
Version:    1.0
Last change:    14/03/2024
Author:    creativemaze
Primary use:    Medical
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Medical Area One 
	3.2. Medical Area Two
	3.3. Medical Area Three
	3.4. Medical Area Four
	3.5. Medical Area Five
	3.6. Medical Area Six
	3.7. Medical Area Seven
	3.8. Medical Area Eight
	3.9. Medical Area Nine
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h2{
	margin-top: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.medical_heading{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.2em;
	color: #111111;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.medical_info{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	padding: 10px 10px 0;
	line-height: 1.5em;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
.navbar-header > a{
	text-decoration: none;
	color: #111111;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 30px;
}

.navbar-header > a:hover{
	color: #111111;
}

#nav-logo > a{
	max-width: 160px; 
	min-height: 10px;
	position: relative;
	top: 33px;
}

#nav-logo > a img{
   position: relative;
   max-width: 160px;
   height: auto;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
	margin-top: 5px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #111111;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #2b32b2;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #2b32b2;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #2b32b2;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #111111;
	padding-top: 36px;
	margin-left: -12px;
	position: relative;
	left: -170px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	background-color: #2b32b2;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 500px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info .fas{
	font-size: 16px;
	color: #ffffff;
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info .fas{
	padding-right: 8px;
	position: relative;
	top: 2px;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	margin-bottom: 0;
}

.top_align{
	text-align: left;
}

.right_info a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: lowercase;
	display: inline-block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: right;
	text-decoration: none;
	padding-right: 14px;
	transition: 0.5s;
}

.right_info a:hover{
	color: #26d0ce;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 19px;
	right: 0;
}

.head_btn a{
	background-color: #26d0ce;
	width: 160px;
    color: #ffffff;
    padding: 13px 18px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #26d0ce;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: transparent;
	color: #111111;
	border-color: #111111;
}

.sliderwrap{
	position: relative;
}

.header__content{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	min-height: 800px;
	height: 100vh;
}

.slide__content{
	position: relative;
	z-index: 0;
	height: 100vh;
	min-height: 800px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header-title {
	position: relative;
	max-width: 650px;
	display: block;
	margin-left: 10vw;
	text-align: left;
	padding-right: 10px;
}

.header-title__main{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 45px;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 1.2em;
	text-align: left;
	display: block;
	color: #111111;
}

.header-title__sub{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	display: block;
	color: #696969;
	line-height: 1.5em;
	letter-spacing: 1px;
	max-width: 500px;
	text-align: left;
	padding: 25px 0 30px 0;
}

.buttoncol a{
	background-color: #26d0ce;
	width: 150px;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #26d0ce;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

.buttoncol a:hover{
	color: #111111;
	background: transparent;
	border-color: #111111;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Medical Area One --- */
.medical_area_one{
	position: relative;
	max-width: 1280px;
	min-height: 300px;
	margin: 0 auto;
	padding: 0 25px;
	margin-top:  -160px;
	margin-bottom: 9em;
}

.medical_group_one{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #ffffff;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.icon_col{
	flex: 25%;
	width: 25%;
	border-right: solid 1px #e0e0e0;
}

.no_border{
	border-right: none;
}

.icon_box{
	position: relative;
	max-width: 300px;
	margin: 0;
	padding: 25px 20px;
	text-align: left;
	background: #ffffff;
	overflow: hidden;
}

.icon_center .material-symbols-outlined.icon-60{
	font-size: 60px;
	font-weight: 100;
	color: #ffffff;
	display: inline-block;
	text-align: left;
	position: absolute;
	right: 15px;
	bottom: 15px
}

.icon_center{
	position: relative;
	top: -60px;
	left: -60px;
	width: 120px;
	height: 120px;
	background-color: #2b32b2;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: -35px;
}

.icon_box h3{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin-top: 0;
}

.icon_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding-top: 10px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.icon_button a{
	height: 40px;
	margin: 20px 0 0;
    color: #111111;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	letter-spacing: 1px;
	text-align: left;
}

.icon_button a::after{
	content: '';
	display: block;
    width: 50px;
    height: 2px;
    background: #26d0ce;
    transition: width .5s;
}

.icon_button a:hover{
	color: #26d0ce;
}

.icon_button a:hover::after {
    width: 100%;
	background-color: #26d0ce;
}

/* --- 3.2. Medical Area Two --- */
.medical_area_two{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 25px;
	margin-bottom: calc(9em + 60px);
}

.medical_group_two{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.square_col_right{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
	position: relative;
	z-index: 99;
}

.square_col_left{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.square_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.square_box{
	max-width: 600px;
	padding-left: 20px;
}

.square_box h2{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.square_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	padding-top: 15px;
	max-width: 450px;
}

.square_list > ul{
	margin-bottom: 25px;
}

.square_list > ul > li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
}

.square_list > ul > li::before{
	font-family: 'Material Symbols Outlined';
	content: "\e5cc";
	font-weight: 300;
	font-size: 30px;
	position: relative;
	top: 10px;
	padding-right: 3px;
	color: #2b32b2;
}

.square_col_button a{
	background-color: #26d0ce;
	width: 150px;
	margin: 35px 0 0;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #26d0ce;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

.square_col_button a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111;
}

.photo_area{
	max-width: 550px;
	text-align: center;
	position: relative;
}

.photo_box{
	position: relative;
	text-align: right;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.base_content{
	position: absolute;
	bottom: -80px;
	right: 0;
	margin-right: 25px;
	z-index: 99;
	width: 200px;
	height: 200px;
	background-color: #ffffff;
}

.base_photo{
	width: 180px;
	height: 180px;
	margin: 10px auto;
}

.base_photo img{
	width: 100%;
	height: auto;
	display: block;
}

.white_top{
	position: absolute;
	top: -20px;
	left: 0;
	margin-left: 25px;
	z-index: 99;
	width: 70px;
	height: 70px;
	background-color: #ffffff;
	border-radius: 50%;
}

.color_top{
	width: 50px;
	height: 50px;
	margin: 10px auto;
	background-color: #2b32b2;
	border-radius: 50%;
}

.white_mid{
	position: absolute;
	top: 50px;
	left: 0;
	margin-left: 25px;
	z-index: 99;
	width: 70px;
	height: 70px;
	background-color: #ffffff;
	border-radius: 50%;
}

.color_mid{
	width: 50px;
	height: 50px;
	margin: 10px auto;
	background-color: #111111;
	border-radius: 50%;
}

.white_last{
	position: absolute;
	top: 120px;
	left: 0;
	margin-left: 25px;
	z-index: 99;
	width: 70px;
	height: 70px;
	background-color: #ffffff;
	border-radius: 50%;
}

.color_last{
	width: 50px;
	height: 50px;
	margin: 10px auto;
	background-color: #26d0ce;
	border-radius: 50%;
}

.photo_image{
	flex: 94%;
	width: 94%;
	max-width: 550px;
	position: relative;
	z-index: 99;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.side_area{
	flex: 6%;
	width: 6%;
	height: auto;
	overflow: auto;
}

.fig{
	transform: scaleX(-1);
}

.side_fig{
	position: absolute;
	left: 100%;
	bottom: 35px;
	margin-left: -45px;
	transform: rotate(-90deg) scaleX(-1);
	transform-origin: top left;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.side_fig h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
	background-color: #2b32b2;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.4em;
	text-transform: uppercase;
	padding: 12px 18px;
}

.photo_image img{
	width: 100%;
	height: auto;
	display: block;
}

/* --- 3.3. Medical Area Three --- */
.medical_area_three{
	width: 100%;
	margin: 0 0 9em;
}

.medical_group_three{
	max-width: 1280px;
	margin: auto;
	padding: 0 25px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.area_head{
	flex: 83.33%;
	width: 83.33%;
}

.box_col_button{
	flex: 16.66%;
	width: 16.66%;
	margin-top: 120px;
}

.area_head h2{
	max-width: 600px;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.area_head p{
	max-width: 500px;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	padding-top: 15px;
}

.bg_group{
	width: 100%;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 3em 0;
	z-index: 1;
}

.bg_area{
	max-width: 1280px;
	margin: auto;
	padding: 0 25px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.bg_col{
	flex: 25%;
	width: 25%;
	padding: 20px;
	text-align: center;
	position: relative;
}

.bg_box{
	max-width: 320px;
	text-align: center;
}

.bg_info h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: left;
	color: #111111;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.bg_info h3::first-letter{
	background-color: #2b32b2;
	padding: 12px 14px;
	color: #ffffff;
	margin-right: 4px;
}

.checkbox::before{
	font-family: 'Material Symbols Outlined';
	content: "\e92f";
	font-weight: 400;
	font-size: 28px;
	position: relative;
	top: 10px;
	padding: 6px;
	color: #ffffff;
	background-color: #2b32b2;
}

.box_col_button a{
	background-color: #26d0ce;
	width: 150px;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #26d0ce;
	letter-spacing: 1px;
	border-radius: 5px;
	text-align: center;
}

.box_col_button a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111;
}

/* --- 3.4. Medical Area Four --- */
.medical_area_four{
	position: relative;
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.medical_group_four{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.grid_col{
	flex: 25%;
	width: 25%;
	position: relative;
	padding: 40px 20px 0;
}

.grid_area{
	overflow: hidden;
	position: relative;
	padding-bottom: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-left: 12px;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.grid_box{
	max-width: 400px;
	margin: auto;
	text-align: center;
}

.grid_image{
	position: relative;
}

.grid_image img{
	width: 100%;
	height: auto;
	display: block;
}

.grid_content{
	width: 100%;
	background-color: #ffffff;
	padding: 20px 15px 25px;
	position: relative;
	margin: auto;
	overflow: auto;
}

.grid_content h3{
	color: #111111;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: center;
	line-height: 1.4em;
	letter-spacing: 1px;
}

.grid_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding-top: 10px;
	line-height: 1.5em;
}

.grid_button a{
	background-color: #26d0ce;
	width: 150px;
	margin: 25px auto 0;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #26d0ce;
	letter-spacing: 1px;
	border-radius: 5px;
	text-align: center;
}

.grid_button a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #111111;
}

/* --- 3.5. Medical Area Five --- */
.medical_area_five{
	width: 100%;
	min-height: 350px;
	height: 100%;
	margin-bottom: 9em;
}

.medical_group_five{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.cube_col{
	flex: 50%;
	width: 50%;
	background-color: #2b32b2;
	padding: 3em 25px;
}

.center_col{
	flex: 50%;
	width: 50%;
	min-height: 350px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.cube_area{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.cube_box{
	max-width: 500px;
	padding-left: 20px;
}

.cube_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	color: #ffffff;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.cube_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #d2d2d2;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	max-width: 500px;
}

.cube_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 500px;
}

.video-play-button {
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	z-index: 999;
	transform: translateX(-50%) translateY(-50%);
	box-sizing: content-box;
	display: block;
	width: 28px;
	height: 42px;
	border-radius: 50%;
	padding: 28px 16px 12px 32px;
}

.video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	transition: all 200ms;
}

.video-play-button span {
	display: block;
	position: relative;
	z-index: 3;
	width: 0;
	height: 0;
	border-left: 18px solid #2b32b2;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.cube_col img{
	width: 100%;
	height: auto;
	display: block;
}

.count_col{
	flex: 50%;
	width: 50%;
	padding: 15px 0;
}

.count_box{
	max-width: 250px;
	overflow: hidden;
	padding: 10px 0;
}

.count_content{
	width: 100%;
}

.count_item{
	width: 40%;
	float: left;
}

.count_info{
	width: 60%;
	float: left;
	padding-left: 15px;
}

.count_box .material-symbols-outlined.icon-75{
	font-size: 75px;
	font-weight: 100;
	color: #ffffff;
	display: block;
	text-align: center;
}

.count_box .counter{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 500;
	display: block;
	text-align: left;
	color: #ffffff;
	letter-spacing: 1px;
}

.count_box .count_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 500;
	display: block;
	text-align: left;
	color: #f2f2f2;
	letter-spacing: 1px;
}

.count_box .count_crumb{
	width: 60px;
	height: 1px;
	margin: auto;
	border-bottom: solid 2px #ffffff;
	padding-top: 7px;
}

/* --- 3.6. Medical Area Six --- */
.medical_area_six{
	max-width: 1280px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.medical_group_six{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
}

.blog_head{
	flex: 58.33%;
	width: 58.33%;
	padding: 0 20px;
}

.blog_info{
	flex: 41.66%;
	width: 41.66%;
	padding: 0 20px;
	margin-top: 10px;
}

.blog_head h2{
	max-width: 550px;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.blog_info p{
	max-width: 450px;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 30px 20px 0;
}

.blog_box{
	max-width: 400px;
	position: relative;
	text-align: center;
}

.blog_area{
	position: relative;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.date_info{
	position: absolute;
	bottom: -40px;
	left: 0;
	z-index: 999;
	margin-left: 15px;
	background-color: #2b32b2;
	padding: 12px 24px;
}

.date_info h4{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	display: block;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin: 0;
}

.blog_date{
	margin-bottom: 4px;
}

.blog_content{
	text-align: left;
	padding: 20px 0 15px;
	padding-left: 20px;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.blog_image img{
	width: 100%;
	height: auto;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
	padding-top: 15px;
}

a.blog_btn{
	height: 40px;
	margin: 10px 0 0;
    color: #111111;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	letter-spacing: 1px;
	text-align: left;
}

a.blog_btn::after{
	content: '';
	display: block;
    width: 50px;
    height: 2px;
    background: #26d0ce;
    transition: width .5s;
}

.blog_title a:hover,
a.blog_btn:hover{
	color: #26d0ce;
}

a.blog_btn:hover::after {
    width: 100%;
	background-color: #26d0ce;
}

/* --- 3.7. Medical Area Seven --- */
.medical_area_seven{
	position: relative;
	min-height: 325px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* --- 3.8. Medical Area Eight --- */
.medical_area_eight{
	max-width: 1240px;
	margin: -215px auto;
	padding: 0 25px;
	margin-bottom: calc(9em + 65px);
}

.medical_group_eight{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: -65px;
}

.client_col{
	flex: 50%;
	width: 50%;
	padding: 0 20px;
}

.client_details{
	max-width: 640px;
	padding: 20px;
	text-align: center;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	background-color: #ffffff;
	border-left: solid 4px #2b32b2;
}

.client_info{
	margin-bottom: -110px;
	clear: both;
}

.client_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.4em;
	margin: 0;
	padding: 11px 0;
}

.client_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #2b32b2;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	margin: 0;
}

.client_details p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px;
	line-height: 1.5em;
}

.client_photo img{
	max-width: 80px;
	height: 80px;
	border-radius: 50%;
	display: block;
	text-align: left;
}

.quote_format{
	font-size: 130px;
	color: #2b32b2;
	display: block;
	text-align: center;
}

/* --- 3.9. Medical Area Nine --- */
.medical_area_nine{
	max-width: 1200px;
	width: calc(100% - 50px);
	margin: 0 auto -6em;
	position: relative;
	z-index: 999;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	background-color: #ffffff;
	border-radius: 10px;
}

.medical_group_nine{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 40px 30px;
	
}

.title_head{
	flex: 83.33%;
	width: 83.33%;
}

.title_head h3{
	max-width: 650px;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 30px;
	font-weight: 800;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.right_btn{
	flex: 16.66%;
	width: 16.66%;
	margin-top: 40px;
}

.right_btn a{
	background-color: #26d0ce;
	width: 150px;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #26d0ce;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

.right_btn a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #111111;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
	background-color: #2b32b2;
}

.footer_area{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 6em;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 4.5em;
}

a.footer-logo img{
	max-width: 150px;
	height: auto;
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 10px;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social > a > .fab,
.footer_social > a > .fa{
	font-size: 16px;
	color: #ffffff;
	text-align: left;
	transition: 0.5s;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a > .fab:hover,
.footer_social > a > .fa:hover{
	color: #26d0ce;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #ffffff;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ffffff;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	color: #26d0ce;
}

.right_list{
	padding-top: 10px;
}

.blog_list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 390px;
	padding-bottom: 10px;
}

.left_blog{
	flex: 33.33%;
	width: 33.33%;
	padding-bottom: 10px;
}

.right_blog{
	flex: 66.66%;
	width: 66.66%;
	max-width: 290px;
	padding-bottom: 15px;
	padding-left: 14px;
	margin-top: -5px;
}

.left_blog img{
	vertical-align: middle;
	width: 100%;
	max-width: 100px;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #6f6f6f;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: center;
} 

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}

	.slide__content{
		height: auto;
	}
	
	.grid_col{
		flex: 50%;
		width: 50%;
	}
	
	.medical_area_two{
		margin-bottom: 9em;
	}
	
	.medical_group_four{
		max-width: 800px;
		margin: 0 auto;
	}
} 
 
@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #111111;
		font-size: 25px;
		margin-top: 7px;
		margin-bottom: 12px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header > a{
		margin-top: 14px;
	}
	
	#nav-logo > a{
		top: 19px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 21px;
	}
	
	.header-title{
		margin-left: 5vw;
	}
	
	.icon_col{
		flex: 50%;
		width: 50%;
	}
	
	.medical_area_one{
		max-width: 700px;
	}
	
	.square_col_right{
		flex: 100%;
		width: 100%;
		margin-top: 130px;
	}
	
	.square_col_left{
		flex: 100%;
		width: 100%;
	}
	
	.bg_col{
		flex: 50%;
		width: 50%;
	}
	
	.area_head{
		flex: 100%;
		width: 100%;
	}
	
	.box_col_button{
		flex: 100%;
		width: 100%;
		margin-top: 20px;
	}
	
	.center_col{
		flex: 100%;
		width: 100%;
		min-height: 650px;
	}
	
	.cube_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_head{
		flex: 100%;
		width: 100%;
	}
	
	.blog_info{
		flex: 100%;
		width: 100%;
		margin-top: 20px;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
	}
	
	.client_col{
		flex: 100%;
		width: 100%;
	}
	
	.last_space{
		padding-top: 115px;
	}
	
	.title_head{
		flex: 100%;
		width: 100%;
	}
	
	.right_btn{
		flex: 100%;
		width: 100%;
		margin-top: 20px;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.header-title__main{
		font-size: 30px;
	}
	
	.medical_heading,
	.info_box h2,
	.cube_box h2,
	.square_box h2,
	.area_head h2,
	.blog_head h2{
		font-size: 30px;
	}
	
	.title_head h3{
		font-size: 25px;
	}
	
	.square_col_right,
	.square_col_left,
	.square_box,
	.blog_head,
	.blog_info,
	.blog_col{
		padding-left: 0;
		padding-right: 0;
	}
	
	.icon_col{
		flex: 100%;
		width: 100%;
	}
	
	.medical_area_one{
		max-width: 350px;
	}
	
	.base_content{
		width: 160px;
		height: 160px;
	}
	
	.base_photo{
		width: 140px;
		height: 140px;
	}
	
	.side_fig{
		bottom: 30px;
		margin-left: -45px;
	}
	
	.side_fig h3{
		font-size: 12px;
		padding: 10px 15px;
	}
	
	.bg_col{
		flex: 100%;
		width: 100%;
	}
	
	.grid_col{
		flex: 100%;
		width: 100%;
	}
	
	.medical_group_four{
		max-width: 400px;
	}
	
	.count_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 420px){
	.grid_col,
	.cube_box,
	.client_col{
		padding-left: 0;
		padding-right: 0;
	}
	
	.base_content{
		width: 140px;
		height: 140px;
	}
	
	.base_photo{
		width: 120px;
		height: 120px;
	}
	
	.side_fig{
		bottom: 25px;
		margin-left: -40px;
	}
	
	.center_col{
		min-height: 500px;
	}
}

@media only screen and (max-width: 385px){
	.base_content{
		width: 130px;
		height: 130px;
	}
	
	.base_photo{
		width: 110px;
		height: 110px;
	}
	
	.side_fig{
		bottom: 20px;
		margin-left: -35px;
	}
}

@media only screen and (max-width: 320px){
	.side_fig{
		bottom: 10px;
		margin-left: -35px;
	}
	
	.side_fig h3{
		font-size: 11px;
	}
}
