/*------------------------------------------------------------------
Main Stylesheet

Project:    Highpoint Corporate Template
Version:    1.0
Last change:    18/11/2021
Author:    creativemaze
Primary use:    Mobile App
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Mobile Area One 
	3.2. Mobile Area Two
	3.3. Mobile Area Three
	3.4. Mobile Area Four
	3.5. Mobile Area Five
	3.6. Mobile Area Six
	3.7. Mobile Area Seven
	3.8. Mobile Area Eight
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.mobile_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #512da8;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.mobile_heading{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
}

/* 2. HEADER
 ----------- */
/* --- 2.1. Logo & Navigation --- */
nav.navbar.bootsnav .navbar-brand{
    max-width: 200px; 	
}

.navbar-header a.navbar-brand{
	text-decoration: none;
	color: #ffffff;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 30px;
}

.navbar-header a.navbar-brand:hover{
	color: #ffffff;
}

nav.navbar .navbar-brand img.logo{
   width: 100%;
   height: auto;
   display: block;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #ffffff;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #512da8;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #512da8;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #512da8;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #ffffff;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	border-bottom: solid 1px #6f6f6f;
}

.top_info{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 400px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 600px;
	margin: auto;
	text-align: right;
	display: block;
}

.right_info .fas,
.right_info .far,
.left_info .fab{
	font-size: 16px;
	color: #ffffff;;
}

.right_info .fas,
.right_info .far{
	padding-right: 8px;
}

.left_info > a{
	padding-right: 14px;
}

.left_info .fab:hover,
.right_info .fas:hover{
	opacity: 0.6;
}

.right_info a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: lowercase;
	display: inline-block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: right;
	text-decoration: none;
}

.right_info a:hover{
	opacity: 0.6;
}

.right_info .fa-m{
	position: relative;
	top: 2px;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: right;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-right: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: right;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #ffffff;
	width: 150px;
	margin: 0 auto;
	min-height: 30px;
    border: none;
    color: #111111;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ffffff;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: transparent;
	color: #ffffff;
	border: 1px solid #ffffff;
}

.sliderwrap{
	position: relative;
	top: -140px;
}

.slidearea{
	position: relative;
	z-index: 1000;
	height: 100%;
	min-height: 750px;
	text-align: center;
	color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background: #673ab7;
	background: linear-gradient(to right, #673ab7, #512da8);
}

.slide__content{
	max-width: 1280px;
	margin:  0 auto 0;
	padding: 110px 25px 30px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	min-height: 750px;
}

.first_right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.first_left{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.slide__left{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 20px;
}

.slide__right{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 20px;
	max-width: 550px;
}

.slide__right img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.slide__box{
	max-width: 600px;
	text-align: left;
}

.uppersub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #d2d2d2;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	padding-bottom: 15px;
	text-transform: uppercase;
}

.slide__box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: left;
	display: block;
	color: #ffffff;
	line-height: 1.3em;
}

.lowersub{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px 0;
	max-width: 550px;
}

.buttoncol{
	max-width: 380px;
}

.buttoncol a{
	width: 150px;
	min-height: 25px;
	margin-top: 10px;	
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	letter-spacing: 1px;
	text-align: center;
	margin-right: 15px;
	margin-bottom: 16px;
}

.left_btn{
	border: 1px solid #ffffff;
	background-color: #ffffff;
	color: #111111;
	border-radius: 5px;
}

.left_btn:hover{
	background-color: transparent;
	color: #ffffff;
}

.left_btn > .fab{
	font-size: 18px;
	padding-left: 0.5em;
	color: #673ab7;
}

.left_btn:hover > .fab{
	color: #ffffff;
}

.right_btn{
	background-color: transparent;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 5px;
}

.right_btn:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

.right_btn > .fab{
	color: #ffffff;
	padding-left: 0.5em;
	font-size: 18px;
}

.right_btn:hover > .fab{
	color: #111111;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Mobile Area One --- */
.mobile_area_one{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
	position: relative;
}

.mobile_group_one,
.graphic_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.mobile_info_col{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 20px;
}

.mobile_graphic_col{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 20px;
}

.left_graphic,
.right_graphic{
	flex: 50%;
	width: 50%;
	padding: 0 20px;
}

.mobile_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.mobile_box{
	max-width: 450px;
	margin: 0 auto;
	width: 100%;
}

.mobile_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
	margin-top: 0;
}

.app_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #512da8;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	padding-bottom: 15px;
	text-transform: uppercase;
}

.app_info{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px 0;
	line-height: 1.5em;
}

.mobile_graphic_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.areas_list > ul{
	margin-bottom: 25px;
}

.areas_list > ul > li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	padding: 6px 0;
}

.areas_list > ul > li::before{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	padding-right: 12px;
	color: #512da8;
}

.areas_col_button a{
	background-color: #512da8;
	width: 150px;
	min-height: 30px;
	margin: 12px 0;	
    border: none;
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #512da8;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

.areas_col_button a:hover{
	color: #111111;
	background: transparent;
	border-color: #111111;
}

.slick-dots {
	position: relative;
	z-index: 999999;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}

.slick-dots button{
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #696969;
	border-radius: 100%;
	background-color: #ffffff;
	text-indent: -9999px;
}

li.slick-active button{
	background-color: #512da8;
}

.slick-dots button:hover{
	background-color: #512da8;
}

.slick-dots li{
	margin: 6px 0.40rem;
}

/* --- 3.2. Mobile Area Two --- */
.mobile_area_two{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
	position: relative;
}

.mobile_group_two{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	min-height: 350px;
	padding-top: 30px;
}

.user_info_col{
	flex: 25%;
	width: 25%;
	padding: 0 30px;
	border-right: solid 1px #e0e0e0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user_box{
	max-width: 350px;
	margin: auto;
	padding: 0;
	text-align: left;
	background: transparent;
}

.list_num{
	width: 75px;
	height: 75px;
	background: #512da8;
	border-radius: 50%;
	display: block;
	margin-bottom: 25px;
}

.list_num > h3 {
	color: #ffffff;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-weight: 500;
	font-size: 26px;
	display: block;
	text-align: center;
	padding-top: 24px;
}

.user_box h4{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	margin-top: 0;
	line-height: 1.4em;
}

.user_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding-top: 12px;
	line-height: 1.5em;
}

.fourth_border{
	border-right: none !important;
}

.box_button > a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	color: #512da8;
	text-decoration: none;
	width: 110px;
	transition: 0.5s;
    cursor: pointer;
	margin-top: 25px;
}

.box_button > a::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.box_button > a:hover{
	color: #111111;
}

/* --- 3.3. Mobile Area Three --- */
.mobile_area_three{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	height: 100%;
	text-align: center;
	background: linear-gradient(to right, #673ab7, #512da8);
}

/* --- 3.4. Mobile Area Four --- */
.mobile_area_four{
	max-width: 1100px;
	margin: 0 auto 6em;
	margin-top:  -300px;
	position: relative;
	z-index: 9999;
	padding: 0 30px;
}

.mobile_group_four{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 50px 25px;
	background-color: #ffffff;
	margin-top: 40px;
}

.bg_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #d2d2d2;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.bg_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
}

.mobile_icon_col{
	position: relative;
	flex: 33.33%;
	width: 33.33%;
	padding: 0 25px;
}

.mid_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.mobile_icon_box{
	max-width: 300px;
	margin: auto;
	padding: 15px 20px;
	text-align: center;
	background: transparent;
	transition: 0.5s;
}

.mobile_icon_box h3{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.mobile_icon_box .fas,
.mobile_icon_box .far{
	font-size: 35px;
	color: #512da8;
	text-align: center;
	display: block;
}

.mobile_icon_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding-top: 10px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
}

/* --- 3.5. Mobile Area Five --- */
.mobile_area_five{
	max-width: 1400px;
	padding: 0 25px;
	margin: 0 auto 9em;
}

.mobile_group_five{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}

.team_box{
	max-width: 350px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
}

.team_col{
	flex: 25%;
	width: 25%;
	padding: 0 25px;
}

.team_col img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 50%;
}

.team_image{
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	background-color: #ffffff;
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	opacity: 0.5;
	height:0;
	transition: 0.5s ease;
	background-color: #512da8;
}

.team_box .team_image > img{
	transition: ease-in-out 1.25s;
}

.team_box:hover .team_image > img{
	transform: scale(1.15);
}

.team_box:hover .overlay{
	bottom: 0;
	height: 100%;
}

.team_icon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.team_icon .fab,
.team_icon .fa{
	font-size: 14px;
	color: #512da8;
	width: 35px;
	height: 35px;
	background-color: #ffffff;
	padding: 10px;
	border: solid 1px #ffffff;
	border-radius: 50%;
	display: inline-block;
	text-align: left;
	margin-right: 7px;
	transition: ease-in-out 0.5s;
}

.team_icon .fa-facebook-f{
	padding: 10px 12px !important;
}

.team_icon .fab:hover,
.team_icon .fa:hover{
	color: #ffffff;
	background-color: #111111;
	border: solid 1px #111111;
}

.team_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
}

.team_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	display: block;
	font-weight: 600;
	color: #512da8;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

/* --- 3.6. Mobile Area Six --- */
.mobile_area_six{
	width: 100%;
	margin: 0;
	min-height: 400px;
	padding: 7em 25px;
	background-color: #eeeeee;
	position: relative;
}

.mobile_group_six{
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 70px;
	position: relative;
}

.client_details{
	display: block;
	max-width: 400px;
	margin: auto;
	padding: 0 20px;
	text-align: center;
}

.client_box{
	width: 100%;
	height: 100%;
	padding: 30px;
	overflow: hidden;
	text-align: center;
	display: block;
	background-color: #ffffff;
}

.client_info_left{
	float: left;
	width: auto;
}

.client_info_right{
	float: left;
	width: auto;
	padding-left: 15px;
}

.client_info img{
	max-width: 80px;
	height: 80px;
	margin: auto;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin-bottom: 14px;
}

.client_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-transform: capitalize;
}

.client_comment{
	display: block;
	clear: both;
}

.ratings_icon{
	text-align: center;
	width: 100%;
}

.ratings_icon .fas{
	font-size: 13px;
	color: #512da8;
}

.client_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #512da8;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5em;
}

.client_comment q{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	max-width: 450px;
	margin: auto;
	padding-bottom: 15px;
	padding-top: 10px;
	line-height: 1.5em;
}

.slidenav{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-bottom: -15px;
	transform: translateX(-50%);
}

.prev_slide,
.next_slide{
	font-size: 14px;
	transition: 0.6s ease;
	background: transparent;
	display: inline-block;
	overflow: hidden;
	padding: 10px 16px;
	color: #111111;
	cursor: pointer;
	border: solid 1px #111111;
	border-radius: 3px;
}

.prev_slide{
	margin-right: 15px;
}

.next_slide:hover,
.prev_slide:hover{
	background-color: #111111;
	color: #ffffff;
	border-color: #111111;
}

/* --- 3.7. Mobile Area Seven --- */
.mobile_area_seven{
	width: 100%;
	min-height: 100px;
	margin: 0;
	background-color: #512da8;
	margin: 0 0 9em;
}

.mobile_group_seven{
	max-width: 1400px;
	margin: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.count_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.count_col{
	flex: 25%;
	width: 25%;
	padding: 0 25px;
	min-height: 50px;
}

.count_col::before{
	content: ".";
	font-weight: 900;
	font-size: 30px;
	float: right;
	text-align: right;
	font-family: 'Montserrat' , Arial, sans-serif;
	color: #ffffff;
	margin-top: 30px;
	position: relative;
	left: 15%;
	transform: translateX(-15%);
}

.fourth_circle::before{
	content: ".";
	display: none;
}

.count_box{
	max-width: 300px;
	margin: auto;
	padding: 0 25px;
}

.count_box h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	text-align: center;
	color: #ffffff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.count_box .counter{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 30px;
	font-weight: 700;
	display: block;
	text-align: center;
	color: #e0e0e0;
	letter-spacing: 1px;
}

.counter.plus::after{
	content:'+';
	color: #e0e0e0;
	font-weight: 500;
}

.counter.percent::after{
	content:'%';
	color: #e0e0e0;
	font-weight: 500;
	font-size: 30px;
}

/* --- 3.8. Mobile Area Eight --- */
.mobile_area_eight{
	max-width: 1280px;
	margin: 0 auto 5em;
	padding: 0 25px;
}

.mobile_group_eight{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.mobile_bg_col{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.mobile_bg_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.bg_area{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.bg_box{
	max-width: 500px;
	width: 100%;
}

.bg_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: left;
	line-height: 1.3em;
	letter-spacing: 1px;
}

.bg_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px 0;
	line-height: 1.5em;
}

.mobile_btn a{
	width: 150px;
	min-height: 25px;
	margin-top: 10px;	
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	letter-spacing: 1px;
	text-align: center;
	margin-right: 15px;
	margin-bottom: 16px;
}

.mobile_left_btn{
	background-color: #673ab7;
	color: #ffffff;
	border: 1px solid #673ab7;
	border-radius: 5px;
}

.mobile_left_btn:hover{
	background-color: transparent;
	color: #111111;
	border-color: #111111;
}

.mobile_left_btn > .fab{
	font-size: 18px;
	padding-left: 0.5em;
	color: #ffffff;
}

.mobile_left_btn:hover > .fab{
	color: #111111;
}

.mobile_right_btn{
	background: transparent;
	color: #111111;
	border: 1px solid #111111;
	border-radius: 5px;
}

.mobile_right_btn:hover{
	background-color: #673ab7;
	color: #ffffff;
	border-color: #673ab7;
}

.mobile_right_btn > .fab{
	color: #111111;
	padding-left: 0.5em;
	font-size: 18px;
}

.mobile_right_btn:hover > .fab{
	color: #ffffff;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
	background-color: #512da8;
}

.footer_area{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 4.5em;
}

a.footer-brand img{
	max-width: 200px;
	height: auto;
	display: block;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 16px;
	color: #ffffff;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.final{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #ffffff;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ffffff;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.subscribe-row{
	text-align: right;
}

.col_info input[type="email"]{
	display: block;
	width: 100%;
	padding: 12px 10px 14px;
	background-color: #f6f6f6;
	border: none;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #333333;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.col_info{
	padding-top: 10px;
}

.col_info input[type="submit"]{
	display: inline-block;
	padding: 10px 14px;
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin-top: 20px;
	text-transform: uppercase;
	width: 100%;
	margin-left: 0;
	color: #ffffff;
	border-radius: 0;
	letter-spacing: 1px;
	background-color: transparent;
	border: solid 1px #ffffff;
	transition: 0.5s;
}

.col_info input[type="submit"]:hover{
	background-color: #ffffff;
	color: #111111;
	border-color: #ffffff;
}

.col_info input[type="email"]:focus{
	outline: none;
	box-shadow: 0 0 0 2px #e0e0e0;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #6f6f6f;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.user_info_col{
		flex: 50%;
		width: 50%;
		margin: 0 0 35px;
	}
	
	.second_border{
		border-right: none;
	}
	
	.mobile_icon_col{
		flex: 100%;
		width: 100%;
	}
	
	.mid_col{
		max-width: 350px;
		margin: 20px auto;
		text-align: center;
	}
	
	.team_col{
		flex: 50%;
		width: 50%;
		margin-bottom: 40px;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #ffffff;
		font-size: 25px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.head_btn a{
		background-color: transparent;
		border-color: #111111;
	}
	
	.head_btn a:hover{
		background-color: #673ab7;
		border-color: #673ab7;
		color: #ffffff;
	}
	
	.navbar-header a.navbar-brand{
		padding-top: 22px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.slide__left,
	.slide__right{
		flex: 100%;
		width: 100%;
		padding: 0;
	}
	
	.slide__box{
		padding-top: 120px;
		padding-bottom: 35px;
	}
	
	.mobile_info_col,
	.mobile_graphic_col{
		flex: 100%;
		width: 100%;
		max-width: 600px;
		margin: 9px 0;
	}
	
	.left_graphic,
	.right_graphic{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	
	.count_col{
		flex: 50%;
		width: 50%;
		margin: 20px 0;
	}
	
	.second_circle::before{
		display: none;
	}
	
	.mobile_bg_col{
		flex: 100%;
		width: 100%;
		max-width: 500px;
	}
	
	.bg_box{
		margin-bottom: 30px;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.slide__box h2{
		font-size: 35px;
	}
	
	.mobile_box h2,
	.mobile_heading,
	.bg_head,
	.bg_box h2{
		font-size: 30px;
	}
	
	.user_info_col{
		flex: 100%;
		width: 100%;
	}
	
	.first_border,
	.third_border{
		border-right: none;
	}
	
	.team_col{
		flex: 100%;
		width: 100%;
	}
	
	.count_col{
		flex: 100%;
		width: 100%;
	}
	
	.third_circle::before,
	.first_circle::before{
		display: none;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 420px){
	.mobile_info_col,
	.mobile_graphic_col,
	.user_info_col,
	.mobile_icon_col,
	.team_col,
	.mobile_bg_col{
		padding: 0;
	}
	
	.left_graphic,
	.right_graphic,
	.mobile_icon_box{
		padding-left: 0;
		padding-right: 0;
	}
	
	.left_graphic,
	.right_graphic{
		flex: 100%;
		width: 100%;
	}
}

@media only screen and (max-width: 385px){
	.client_info img{
		width: 60px;
		height: 60px;
	}
	
	.client_box{
		padding: 30px 15px;
	}
}
