/*------------------------------------------------------------------
Main Stylesheet

Project:    Upstake - Multipurpose Business Template
Version:    1.0
Last change:    17/10/2024
Author:    creativemaze
Primary use:    Portfolio
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Portfolio Area One 
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.portfolio_heading{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.2em;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.portfolio_info{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #e53935;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.5em;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
.navbar-header > a{
	text-decoration: none;
	color: #111111;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 30px;
}

.navbar-header > a:hover{
	color: #111111;
}

#nav-logo > a{
	max-width: 160px; 
	min-height: 10px;
	position: relative;
	top: 33px;
}

#nav-logo > a img{
   position: relative;
   max-width: 160px;
   height: auto;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 1;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
	margin-top: 5px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	z-index: 1;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #111111;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #e53935;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #e53935;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #e53935;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #111111;
	padding-top: 36px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	border-bottom: solid 1px #e0e0e0;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 600px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info > a > .fab{
	font-size: 16px;
	color: #e53935;
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info > a .fab{
	padding-right: 14px;
}

.right_info > a > .fab:hover{
	color: #111111;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 19px;
	right: 0;
}

.head_btn a{
	background-color: #e53935;
	width: 150px;
	margin: 0 auto;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #e53935;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: #ffffff;
	color: #111111;
	border-color: #111111; 
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Portfolio Area One --- */
.portfolio_area_one{
	width: 100%;
	margin: 6em auto 0;
	padding: 0 10px;
	margin-bottom: calc(9em - 40px);
}

.portfolio_group_one{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	padding-top: 25px;
}

.portfolio_col{
	flex: 33.33%;
	width: 33.33%;
	overflow: hidden;
}

.portfolio_box{
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	padding: 10px 10px 30px;
}

.portfolio_image{
	position: relative;
	text-align: center;
	overflow: hidden;
}

.portfolio_image .image_box a > img{
	transition: ease-in-out 3.25s;
}

.portfolio_image .image_box > a > img:hover{
	transform: scale(1.15);
}

.portfolio_image img{
	width: 100%;
	height: auto;
}

.portfolio_content{
	text-align: center;
}

.portfolio_content h3{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
}

.portfolio_content a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
    color: #e53935;
	display: inline-block;
    text-decoration: none;
	text-transform: uppercase;
    transition: 0.5s;
	letter-spacing: 1px;
	text-align: center;
}

.portfolio_content a:hover{
	color: #111111;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
	background-color: #111111;
}

.footer_area{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 4.5em;
}

a.footer-logo img{
	max-width: 150px;
	height: auto;
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 10px;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social > a > .fab,
.footer_social > a > .fa{
	font-size: 16px;
	color: #ffffff;
	text-align: left;
	transition: 0.5s;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a > .fab:hover,
.footer_social > a > .fa:hover{
	color: #e53935;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #ffffff;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ffffff;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	color: #e53935;
}

.subscribe-row{
	text-align: left;
}

.col_info input[type="email"]{
	display: block;
	width: 100%;
	height: 50px;
	padding: 14px;
	padding-left: 0;
	background: transparent;
	border: none;
	border-bottom: solid 1px #ffffff;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #dddddd;
	letter-spacing: 1px;
}

.col_info input[type="email"]::placeholder{
	color: #dddddd;
	opacity: 1;
}

.col_info{
	padding-top: 10px;
}

.col_info input[type="submit"]{
	padding: 12px 14px;
	width: 135px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin-top: 20px;
	color: #ffffff;
	letter-spacing: 1px;
	background-color: #e53935;
	border-radius: 0;
	border: solid 1px #e53935;
	transition: 0.5s;
}

.col_info input[type="submit"]:hover{
	background-color: #ffffff;
	color: #111111;
	border-color: #ffffff;
}

.col_info input[type="email"]:focus{
	box-shadow: 0 0 0 2px #e0e0e0;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #ffffff;
	
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #111111;
		font-size: 25px;
		margin-top: 7px;
		margin-bottom: 12px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header > a{
		margin-top: 14px;
	}
	
	#nav-logo > a{
		top: 19px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 21px;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.portfolio_heading{
		font-size: 30px;
	}
	
	.portfolio_col{
		flex: 100%;
		width: 100%;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}