/*------------------------------------------------------------------
Main Stylesheet

Project:    HighPoint - Multipurpose Business Template
Version:    1.0
Last change:    20/03/2022
Author:    creativemaze
Primary use:    Portfolio
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Portfolio Area One 
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.portfolio_heading{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
}

.portfolio_info{
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
nav.navbar.bootsnav .navbar-brand{
    max-width: 200px; 	
}

.navbar-header a.navbar-brand{
	text-decoration: none;
	color: #ffffff;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 30px;
}

.navbar-header a.navbar-brand:hover{
	color: #ffffff;
}

nav.navbar .navbar-brand img.logo{
   width: 100%;
   height: auto;
   display: block;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #ffffff;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #009fff;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #009fff;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #009fff;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #ffffff;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	border-bottom: solid 1px #6f6f6f;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 600px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info .fab{
	font-size: 16px;
	color: #ffffff;
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info > a{
	padding-right: 14px;
}

.left_info .fas:hover,
.right_info .fab:hover{
	opacity: 0.6;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #ffffff;
	width: 150px;
	margin: 0 auto;
	min-height: 30px;
    border: none;
    color: #111111;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ffffff;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background: transparent;
	color: #ffffff;
	border-color: #ffffff;
}

.sliderwrap{
	position: relative;
	top: -140px;
}

.slidearea{
	position: relative;
	z-index: 1000;
	height: 100%;
	min-height: 500px;
	text-align: center;
	color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background: #009fff; 
}

.header__content{
	display: flex;
	flex-direction: column;
	justify-content:  center;
	align-items: center;
	min-height: 500px;
}

.header-title {
	max-width: 600px;
	display: block;
	padding: 0 20px;
}

.header-title__main{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	display: block;
	color: #ffffff;
	line-height: 1.3em;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Portfolio Area One --- */
.portfolio_area_one{
	width: 100%;
	margin: -140px 0 2em;
	min-height: 400px;
	padding: 6em 25px;
	background-color: #f6f6f6;
}

.portfolio_group_one{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	padding-top: 30px;
}

.portfolio_col{
	flex: 25%;
	width: 25%;
	overflow: hidden;
}

.portfolio_image{
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	padding: 20px;
}

.portfolio_box{
	position: relative;
	overflow: hidden;
	transition: .5s ease;
}

.portfolio_image .portfolio_box > img{
	transition: ease-in-out 3.25s;
}

.portfolio_image:hover .portfolio_box > img{
	transform: scale(1.15);
}

.portfolio_image img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
}

.portfolio_title{
	position: absolute;
	bottom: 10px;
	left: 15px;
	text-align: left;
}

.portfolio_title h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.4em;
	text-transform: uppercase;
}

.overlay{
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	overflow: hidden;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	opacity: 0;
	transition: 0.5s ease;
	background: #ffffff
}

.overlay .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	color: #111111;
}

.portfolio_image:hover .overlay {
	opacity: 1;
}

.center {
	text-align: center;
	padding-top: 35px;
}

.pagination a {
	font-size: 14px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
	color: #111111;
	float: left;
	padding: 9px 16px;
	text-decoration: none;
	transition: 0.5s;
	border: 1px solid #111111;
	margin: 6px;
}

.pagination a.active {
	background-color: #111111;
	color: #ffffff;
}

.pagination a:hover{
	background-color: #111111;
	color: #ffffff;
	border-color: #111111;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
}

.footer_area{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 3.5em;
}

a.footer-brand img{
	max-width: 200px;
	height: auto;
	display: block;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #111111;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 16px;
	color: #111111;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.final{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #111111;
	line-height: 1.4em;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	color: #111111;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.form-row{
	text-align: right;
}

.col_info input[type="email"]{
	display: block;
	width: 100%;
	padding: 12px 10px 14px;
	background-color: #f6f6f6;
	border: none;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #333333;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.col_info{
	padding-top: 10px;
}

.col_info input[type="submit"]{
	display: inline-block;
	padding: 10px 14px;
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin-top: 20px;
	text-transform: uppercase;
	width: 100%;
	margin-left: 0;
	color: #ffffff;
	border-radius: 0;
	letter-spacing: 1px;
	background-color: #009fff;
	border: solid 1px #ffffff;
	transition: 0.5s;
}

.col_info input[type="submit"]:hover{
	background: transparent;
	color: #111111;
	border-color: #111111;
}

.col_info input[type="email"]:focus{
	outline: none;
	box-shadow: 0 0 0 2px #e0e0e0;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #e0e0e0;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #ffffff;
		font-size: 25px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.head_btn a{
		background-color: #009fff;
		border-color: #009fff;
		color: #ffffff;
	}
	
	.head_btn a:hover{
		background: transparent;
		border-color: #111111;
		color: #111111;
	}
	
	.navbar-header a.navbar-brand{
		padding-top: 22px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.portfolio_col{
		flex: 50%;
		width: 50%;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.header-title__main,
	.portfolio_heading{
		font-size: 30px;
	}
	
	.portfolio_col{
		flex: 100%;
		width: 100%;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}
