/*------------------------------------------------------------------
Main Stylesheet

Project:     HighPoint - Multipurpose Business Template
Version:    1.0
Last change:    05/12/2021
Author:    creativemaze
Primary use:    Restaurant
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Restaurant Area One 
	3.2. Restaurant Area Two
	3.3. Restaurant Area Three
	3.4. Restaurant Area Four
	3.5. Restaurant Area Five
	3.6. Restaurant Area Six
	3.7. Restaurant Area Seven
	3.8. Restaurant Area Eight
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.restaurant_heading{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.3em;
	text-transform: uppercase;
}

.sub_info{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	display: block;
	color: #e53935;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	max-width: 600px;
	margin: auto;
	padding: 0 10px 0;
	line-height: 1.5em;
}

.sub_color{
	color: #111111;
}

.centerpage_btn a{
	background-color: #e53935;
	width: 180px;
	min-height: 30px;
	margin: 30px auto 0;
    border: none;
    color: #ffffff;
    padding: 15px 16px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 700;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #e53935;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 5px;
}

.centerpage_btn a:hover{
	background-color: transparent;
	color: #111111;
	border-color: #111111;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
nav.navbar.bootsnav .navbar-brand{
    max-width: 200px; 	
}

.navbar-header a.navbar-brand{
	text-decoration: none;
	color: #111111;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 30px;
}

.navbar-header a.navbar-brand:hover{
	color: #111111;
}

nav.navbar .navbar-brand img.logo{
   width: 100%;
   height: auto;
   display: block;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #111111;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #e53935;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #e53935;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #e53935;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #111111;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	background-color: #e53935;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 600px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info .fab{
	font-size: 16px;
	color: #ffffff;
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info > a{
	padding-right: 14px;
}

.left_info .fas:hover,
.right_info .fab:hover{
	opacity: 0.6;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #111111;
	width: 150px;
	min-height: 30px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #111111;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: transparent;
	color: #111111;
	border-color: #111111;
}

.sliderwrap{
	position: relative;
}

.header__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 700px;
}

.slide__content{
	position: relative;
	z-index: 1;
	height: 100vh;
	min-height: 700px;
	text-align: center;
	color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header-title {
	max-width: 1200px;
	display: block;
	padding: 0 15px;
}

.header__content > div{
	animation-duration: 2s;
	animation-delay: 1s;
	display: none;
}

.header__content > div.active{
	display: block;
	animation-play-state: running !important;
}

.header-title__main{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 85px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #111111;
}

.header-title__sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	display: block;
	color: #e53935;
	letter-spacing: 1px;
	text-align: center;
	padding: 20px 0;
	max-width: 550px;
	margin: auto;
}

.buttoncol a{
	background-color: #e53935;
	width: 150px;
	min-height: 30px;
	margin-top: 25px;	
    border: none;
    color: #ffffff;
    padding: 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #e53935;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
	margin-right: 10px;
}

.right_btn{
	background-color: #111111!important;
	color: #ffffff !important;
	border: 1px solid #111111!important;
}

.buttoncol a:hover{
	color: #111111 !important;
	background: transparent !important;
	border-color: #111111 !important;
}

.prev_button{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 20px;
}

.next_button{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 20px;
}

.prev_button,
.next_button{
	width: auto;
	font-size: 14px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	background-color: transparent;
	display: block;
	padding: 10px 16px;
	color: #333333;
	cursor: pointer;
	border: solid 1px #333333;
}

.prev_button:hover,
.next_button:hover{
	background-color: #e53935;
	color: #ffffff;
	border-color: #e53935;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Restaurant Area One --- */
.restaurant_area_one{
	max-width: 1400px;
	margin: 9em auto 9em;
	padding: 0 25px;
}

.restaurant_group_one{
	width: 100%;
}

.heading_group{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
}

.title_group{
	flex: 33.33%;
	width: 33.33%;
	transition: .5s;
}

.title_group a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #111111;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.5s;
	text-decoration: none;
	text-align: center;
	display: block;
	padding-bottom: 10px;
}

.title_group a.active{
	display: block;
	color: #e53935 !important;
	border-bottom: solid 3px #e53935 !important;
}

.title_group a:not(:active){
	color: #111111;
	border-bottom: none;
}

.menu_group{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	min-height: 200px;
	height: 100%;
}

.menu_area{
	width: 100%;
	position: relative;
}

.menu_time{
	width: 100%;
	margin: 50px 0 0;
}

.menu_time h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #e53935;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.menu_time h4{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	display: block;
	color: #111111;
	text-align: center;
	letter-spacing: 1px;
}

.menu_col_box{
	position: relative;
	padding: 25px;
	overflow: hidden;
}

.price_box{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 20px;
	max-width: 230px;
	width: calc(100% - 30px);
	padding: 10px 20px;
	background: rgba(255,255,255,0.8);
}

.price_box h4{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	color: #111111;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.price_box h5{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	display: block;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: #e53935;
}

.menu_col_left{
	flex: 33.33%;
	width: 33.33%;
}

.menu_col_mid{
	flex: 33.33%;
	width: 33.33%;
}

.menu_col_right{
	flex: 33.33%;
	width: 33.33%;
}

.mid_area{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu_col_image{
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	overflow: hidden;
}

.menu_col_image img{
	vertical-align: middle;
	width: 100%;
	height: auto;
}

/* --- 3.2. Restaurant Area Two --- */
.restaurant_area_two{
	width: 100%;
	margin: 0;
	min-height: 400px;
	padding: 8.5em 25px 7em;
	background-color: #eeeeee;
}

.restaurant_group_two{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 20px;
}

.box_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.area_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 20px;
}

.beverage_col{
	flex: 50%;
	width: 50%;
}

.beverage_area{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	padding: 0 10px;
}

.beverage_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.beverage_box{
	max-width: 350px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	overflow: hidden;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	background-color: #ffffff;
}

.beverage_content{
	display: block;
	clear: both;
}

.beverage_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	color: #111111;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.beverage_price{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	display: block;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: #e53935;
}

/* --- 3.3. Restaurant Area Three --- */
.restaurant_area_three{
	position: relative;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 350px;
	height: 100%;
	width: 100%;
	margin-bottom: 9em;
	background: #e53935;
	padding: 6em 0;
}

.restaurant_group_three{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	width: 100%;
}

.restaurant_group_area{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	position: relative;
}

.bg_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
}

.special_col{
	flex: 25%;
	width: 25%;
	padding: 30px 25px;
}

.special_area{
	max-width: 300px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
}

.special_image{
	overflow: hidden;
	position: relative;
}

.special_image img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.special_box{
	overflow: hidden;
	position: relative;
	padding-bottom: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-left: 12px;
	background-color: #ffffff;
}

.special_content{
	position: relative;
	padding: 5px 0;
	text-align: center;
}

.special_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	color: #111111;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 1px;
}

.special_price{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	display: block;
	color: #e53935;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}

.slick-dots {
	position: relative;
	z-index: 999999;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}

.slick-dots button{
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #e0e0e0;
	border-radius: 100%;
	background-color: transparent;
	text-indent: -9999px;
}

li.slick-active button{
	background-color: #ffffff;
}

.slick-dots button:hover{
	background-color: #ffffff;
}

.slick-dots li{
	margin: 6px 0.40rem;
}

/* --- 3.4. Restaurant Area Four --- */
.restaurant_area_four{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.restaurant_group_four{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	padding-top: 30px;
}

.restaurant_icon_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
}

.restaurant_icon_box{
	max-width: 300px;
	margin: auto;
	padding: 25px;
	text-align: center;
	background: transparent;
	transition: 0.5s;
}

.restaurant_icon_box h3{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	padding-top: 10px;
}

.restaurant_icon_box:hover{
	box-shadow: -1px 1px 12px 10px rgba(0,0,0,0.19);
}

.restaurant_icon_box .fas,
.restaurant_icon_box .far{
	font-size: 35px;
	color: #e53935;
	text-align: center;
	display: block;
}

.restaurant_icon_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding-top: 10px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
}

/* --- 3.5. Restaurant Area Five --- */
.restaurant_area_five{
	max-width: 1200px;
	margin: 0 auto 9em;
	padding: 0 25px;
	min-height: 150px;
	height: 100%;
}

.restaurant_group_five{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.restaurant_square_col{
	flex: 50%;
	width: 50%;
}

.restaurant_square_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.square_box{
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	overflow: hidden;
	padding-bottom: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-left: 12px;
	border: solid 1px #e0e0e0;
	border-left: none;
}

.square_area{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 1px #e0e0e0;
	border-right: none;
}

.square_content{
	max-width: 700px;
	padding: 0 35px;
}

.square_content h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.square_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px 0;
	line-height: 1.5em;
	max-width: 550px;
}

.areas_list > ul{
	margin-bottom: 25px;
}

.areas_list > ul > li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: left;
	padding: 6px 0;
}

.areas_list > ul > li::before{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	padding-right: 12px;
	color: #e53935;
}

.areas_col_button a{
	background-color: #e53935;
	width: 190px;
	min-height: 30px;
	margin: 12px 0;	
    border: none;
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #e53935;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

.areas_col_button a:hover{
	color: #111111;
	background: transparent;
	border-color: #111111;
}

/* --- 3.6. Restaurant Area Six --- */
.restaurant_area_six{
	max-width: 1280px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.restaurant_group_six{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	padding-top: 30px;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 20px;
}

.blog_box{
	max-width: 400px;
	position: relative;
	text-align: left;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.blog_area{
	overflow: hidden;
	position: relative;
	background-color: #ffffff;
}

.blog_content{
	padding: 15px 0 0;
	text-align: left;
	padding-left: 15px;
}

.blog_date{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: block;
	font-weight: 600;
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
	width: 250px;
}

.blog_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
}

.blog_title a:hover{
	opacity: 0.6;
}

.blog_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 10px 0;
	line-height: 1.5em;
}

a.blog_btn{
	max-width: 120px;	
    color: #e53935;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	letter-spacing: 1px;
	text-align: left;
}

a.blog_btn::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

a.blog_btn:hover{
	color: #111111;
}

/* --- 3.7. Restaurant Area Seven --- */
.restaurant_area_seven{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	height: 100%;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 9em;
	padding: 5em 0;
}

.restaurant_area_seven::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.restaurant_group_seven{
	position: relative;
	z-index: 9;
	width: 100%;
	max-width: 1400px;
	margin: auto;
	padding: 0 25px;
}

.quoteblock .fas{
	font-size: 45px;
	color: #e53935;
	text-align: center;
	padding-bottom: 30px;
}

.client_box img{
	max-width: 90px;
	height: 90px;
	margin: auto;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin-bottom: 14px;
}

.client_box > p{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	max-width: 600px;
	margin: auto;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	padding: 0 10px;
}

.client_box > h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	display: block;
	padding-bottom: 10px;
}

.client_box > h3::before{
	content: '\2014';
	padding: 0 0.5em;
}

.ratings_icon{
	text-align: center;
	width: 100%;
}

.ratings_icon .fas{
	font-size: 13px;
	color: #e53935;
}

/* --- 3.8. Restaurant Area Eight --- */
.restaurant_area_eight{
	max-width: 1400px;
	margin: 0 auto 7em;
	padding: 0 25px;
	min-height: 150px;
	height: 100%;
}

.restaurant_group_eight{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.restaurant_form_col{
	flex: 50%;
	width: 50%;
}

.restaurant_form_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.form_area{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 1px #e0e0e0;
	border-right: none;
	padding-top: 30px;
}

.restaurant_form_box{
	max-width: 700px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	transition: 0.5s;
	overflow: hidden;
	padding-bottom: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-left: 12px;
	border: solid 1px #e0e0e0;
	border-left: none;
}

.form_col_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.form-row {
	flex-direction: row;
	display: flex;
	width: 100%;
}

.form_col_box input[type="text"],
.form_col_box input[type="email"],
.form_col_box input[type="password"]{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	padding: 4px 20px;
	height: 40px;
	border: none;
	margin: 16px 10px;
	border-bottom: solid 1px #696969;
	flex-grow: 1;
	letter-spacing: 1px;
}

.form_col_box textarea{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	padding: 4px 20px;
	border: none;
	width: auto;
	min-height: 175px;
	margin: 16px 10px;
	border-bottom: solid 1px #696969;
	flex-grow: 1;
	letter-spacing: 1px;
}

.form_col_box input[type="text"]:focus,
.form_col_box input[type="email"]:focus,
.form_col_box input[type="password"]:focus,
.form_col_box textarea:focus{
	border-bottom: 1px solid #111111;
}

.form_col_box input[type="submit"]{
	display: block;
	margin: 18px 10px;
	width: auto;
	padding: 10px 25px;
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 5px;
	letter-spacing: 1px;
	background-color: #e53935;
	border: solid 1px #e53935;
	transition: 0.5s;
}

.form_col_box input[type="submit"]:hover{
	background-color: #111111;
	color: #ffffff;
	border: solid 1px #111111;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
	background-color: #111111;
}

.footer_area{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 4.5em;
}

a.footer-brand img{
	max-width: 200px;
	height: auto;
	display: block;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 16px;
	color: #ffffff;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.final{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #ffffff;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ffffff;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.footer_inner{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 15px;
}

.footer_grid{
	flex: 33.33%;
	width: 33.33%;
	padding-right: 10px;
	padding-bottom: 10px;
}

.footer_grid img{
	vertical-align: middle;
	width: 100%;
	transition: .5s;
}

.footer_grid a > img:hover{
	opacity: 0.6;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #6f6f6f;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
	
	.restaurant_icon_col{
		flex: 50%;
		width: 50%;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
		margin-bottom: 40px;
	}
	
	.restaurant_form_col{
		flex: 100%;
		width: 100%;
	}
	
	.restaurant_group_eight{
		border: solid 1px #e0e0e0;
		max-width: 600px;
		margin: auto;
	}
	
	.form_area,
	.restaurant_form_box{
		border: none;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #111111;
		font-size: 25px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header a.navbar-brand{
		padding-top: 22px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.header-title__main{
		font-size: 60px;
	}
	
	.menu_col_left,
	.menu_col_mid,
	.menu_col_right{
		flex: 100%;
		width: 100%;
		max-width: 400px;
		margin: auto;
	}
	
	.area_col{
		flex: 50%;
		width: 50%;
	}
	
	.special_col{
		flex: 50%;
		width: 50%;
	}
	
	.restaurant_square_col{
		flex: 100%;
		width: 100%;
	}
	
	.restaurant_group_five{
		border: solid 1px #e0e0e0;
		max-width: 600px;
		margin: auto;
	}
	
	.square_area,
	.square_box{
		border: none;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.restaurant_heading,
	.bg_head,
	.square_content h2,
	.form_col_box h2{
		font-size: 30px;
	}
	
	.area_col{
		flex: 100%;
		width: 100%;
	}
	
	.special_col{
		flex: 100%;
		width: 100%;
	}
	
	.restaurant_icon_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.form-row{
		flex-direction: column;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}	

@media only screen and (max-width: 420px){
	.header-title__main{
		font-size: 45px;
	}
	
	.title_group{
		flex: 100%;
		width: 100%;
		padding-bottom: 10px;
	}
	
	.menu_col_box,
	.area_col,
	.restaurant_icon_col,
	.blog_col{
		padding-left: 0;
		padding-right: 0;
	}
	
	.square_content{
		padding: 0 25px;
	}
}
