/*------------------------------------------------------------------
Main Stylesheet

Project:     Upstake - Multipurpose Business Template
Version:    1.0
Last change:    10/06/2024
Author:    creativemaze
Primary use:    Scientific Research
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Research Area One 
	3.2. Research Area Two
	3.3. Research Area Three
	3.4. Research Area Four
	3.5. Research Area Five
	3.6. Research Area Six
	3.7. Research Area Seven
	3.8. Research Area Eight
	3.9. Research Area Nine
	3.10. Research Area Ten
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.research_heading{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.2em;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.research_info{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
	max-width: 600px;
	margin: 0 auto;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
.navbar-header > a{
	text-decoration: none;
	color: #111111;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 30px;
}

.navbar-header > a:hover{
	color: #111111;
}

#nav-logo > a{
	max-width: 160px; 
	min-height: 10px;
	position: relative;
	top: 33px;
}

#nav-logo > a img{
   position: relative;
   max-width: 160px;
   height: auto;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
	margin-top: 5px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #111111;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #1488cc;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #1488cc;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #1488cc;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #111111;
	padding-top: 36px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	background-color: #1488cc;
}

.top_info{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 400px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 600px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info > a > .fab{
	font-size: 16px;
	color: #ffffff;
	padding-right: 14px;
	transition: 0.5s;
}

.left_info > a > .fab:hover{
	color: #111111;
}

.right_info a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: lowercase;
	display: inline-block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: right;
	text-decoration: none;
	transition: 0.5s;
}

.right_info .fas{
	font-size: 16px;
	color: #ffffff;
	padding-right: 8px;
}

.right_info a:hover{
	color: #111111;
}

.right_info a .fas:hover{
	color: #111111;
}

.right_info .fa-m{
	position: relative;
	top: 2px;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: right;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-right: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: right;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #22c1c3;
	width: 150px;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #22c1c3;
	border-radius: 25px;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: transparent;
	color: #111111;
	border: 1px solid #111111;
}

.sliderwrap{
	position: relative;
}

.header__content{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	height: 100vh;
	min-height: 50vh;
}

.header_content_info{
	height: 100%;
}

.slide__content{
	position: relative;
	z-index: 1;
	height: 100vh;
	min-height: 600px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header-title{
	max-width: 750px;
	text-align: left;
	padding: 45px 25px 45px 30px;
	z-index: 9;
	background: rgba(34,193,200,0.8);
	min-height: 50vh;
	margin-bottom: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.header-title__main{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.1em;
	text-align: left;
	display: block;
	color: #ffffff;
}

.header-title__sub{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	display: inline-block;
	color: #f2f2f2;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	padding: 25px 0;
	max-width: 500px;
}

.buttoncol a{
	background-color: #ffffff;
	width: 150px;
    color: #22c1c3;
    padding: 15px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #ffffff;
	border-radius: 25px;
	letter-spacing: 1px;
	text-align: center;
}

.buttoncol a:hover{
	color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
}

.prev_button{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 20px;
}

.next_button{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 20px;
}

.prev_button,
.next_button{
	width: auto;
	font-size: 14px;
	transition: 0.6s ease;
	background: transparent;
	display: block;
	padding: 10px 16px;
	color: #ffffff;
	cursor: pointer;
	border: solid 1px #ffffff;
}

.prev_button:hover,
.next_button:hover{
	background-color: #ffffff;
	color: #22c1c3;
	border-color: #ffffff;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Research Area One --- */
.research_area_one{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	background-color: #f6f6f6;
	padding: 2em 25px;
	margin-bottom: 9em;
}

.research_group_one{
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.bg_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 15px 25px;
}

.bg_box{
	max-width: 375px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0 ;
	overflow: auto;
	min-height: 30px;
}

.bg_check{
	float: left;
	width: 25%;
}

.bg_info{
	float: left;
	width: 75%;
	padding-left: 20px;
	text-align: left;
}

.bg_check .fi{
	font-size: 34px;
	width: 60px;
	height: 60px;
	background-color: #22c1c3;
	color: #ffffff;
	padding: 8px 12px;
	display: inline-block;
	text-align: left;
}

.bg_info h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	margin-top: 0;
	line-height: 1.4em;
}

.bg_info p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

/* --- 3.2. Research Area Two --- */
.research_area_two{
	max-width: 1280px;
	padding: 0 25px;
	margin: 0 auto 9em;
}

.research_group_two{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.square_col_left{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.square_col_right{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
	position: relative;
}

.square_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.square_box{
	max-width: 550px;
	padding-right: 20px;
}

.square_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.square_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	max-width: 450px;
}

.square_list > ul{
	margin-bottom: 25px;
}

.square_list > ul > li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	padding: 2px 0;
}

.square_list > ul > li::before{
	font-family: 'uicons-thin-straight';
	content: "\fc0a";
	font-weight: 100;
	font-size: 32px;
	position: relative;
	top: 11px;
	padding-right: 10px;
	color: #22c1c3;
}

.photo_area{
	max-width: 550px;
	position: relative;
}

@keyframes up-down{
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.right_border_box{
	position: absolute;
	top: -25px;
	right: 0;
	margin-right: 35px;
	background-image: radial-gradient(#1488cc 2px, transparent 2px);
	background-size: 14px 14px;
	background-color: transparent;
	width: 150px;
	height: 150px;
	animation: 3s infinite ease-in-out up-down;
}

.photo_image{
	position: relative;
	z-index: 1;
}

.photo_image img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 27% 73% 70% 30% / 51% 54% 46% 49%;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.bg_content{
	position: relative;
	margin-top: -60px;
	z-index: 99;
	width: 100%;
	text-align: center;
}

.border_col{
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	flex: 33.33%;
	width: 33.33%;
	max-width: 220px;
	height: 80px;
}

.first_border{
	background-color: #22c1c3;
	padding: 12px 0;
	overflow: hidden;
}

.second_border{
	background-color: #ffffff;
	padding: 12px 0;
	overflow: hidden;
}

.third_border{
	background-color: #1488cc;
	padding: 12px 0;
	overflow: hidden;
}

.border_box{
	max-width: 220px;
	padding: 12px 10px;
	text-align: center;
}

.border_icon{
	float: left;
	width: 15%;
	padding-left: 5px;
	padding-top: 7px;
}

.border_info{
	float: left;
	width: 85%;
	padding-left: 15px;
}

.border_icon .fi{
	font-size: 18px;
	color: #ffffff;
	display: inline-block;
	text-align: left;
}

.border_info h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 12px;
	font-weight: 600;
	display: block;
	text-transform: uppercase;
	text-align: left;
	color: #111111;
	letter-spacing: 1px;
	line-height: 1.5em;
	margin: 0;
}

.third_border h3,
.first_border h3{
	color: #ffffff;
}

.second_border .border_icon .fi{
	font-size: 18px;
	color: #1488cc;
}

.research_area_two .slick-dots{
	position: relative;
	z-index: 999999;
	bottom: -30px;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}

.research_area_two .slick-dots button{
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #6f6f6f;
	border-radius: 100%;
	background-color: transparent;
	text-indent: -9999px;
}

.research_area_two li.slick-active button{
	background-color: #1488cc;
}

.research_area_two .slick-dots button:hover{
	background-color: #1488cc;
}

.research_area_two .slick-dots li{
	margin: 0 0.40rem;
}

.research_area_two .slick-list{
	overflow: visible;
}

.square_col_button a{
	background-color: #22c1c3;
	width: 150px;
	margin: 35px 0 0;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #22c1c3;
	border-radius: 25px;
	letter-spacing: 1px;
	text-align: center;
}

.square_col_button a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111;
}

/* --- 3.3. Research Area Three --- */
.research_area_three{
	max-width: 1200px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.research_group_three{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.icon_col{
	flex: 25%;
	width: 25%;
	padding: 40px 20px 0;
}

.icon_box{
	max-width: 300px;
	margin: auto;
	padding: 20px;
	text-align: left;
	background-color: #ffffff;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.icon_pic .fi{
	font-size: 48px;
	width: 80px;
	height: 80px;
	background-color: #22c1c3;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	padding: 12px;
	margin-top: -20px;
}

.icon_box h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: left;
	color: #111111;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.icon_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	padding: 10px 0;
}

.icon_button a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	color: #22c1c3;
	text-decoration: none;
	max-width: 105px;
	transition: 0.5s;
}

.icon_button a::after{
	content: "\203A";
	position: relative;
	top: 1px;
	font-size: 20px;
	display: inline-block;
	padding-left: 5px;
}

.icon_button a:hover{
	color: #111111;
}

/* --- 3.4. Research Area Four --- */
.research_area_four{
	position: relative;
	width: 100%;
	min-height: 475px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.research_area_four::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

/* --- 3.5. Research Area Five --- */
.research_area_five{
	max-width: 1280px;
	margin: -350px auto 0;
	padding: 0 25px;
	margin-bottom: calc(9em + 70px);
}

.research_group_five{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.info_head{
	flex: 58.33%;
	width: 58.33%;
	padding: 0 10px;
}

.info_content{
	flex: 41.66%;
	width: 41.66%;
	padding: 0 10px;
	margin-top: 35px;
}

.info_head h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #ffffff;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
	max-width: 550px;
}

.info_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #dddddd;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	max-width: 500px;
}

.bg_slider{
	width: 100%;
	position: relative;
	max-width: 1100px;
	margin: auto;
}

.bg_slide{
	position: relative;
	padding: 0 10px;
	margin-top: 35px;
}

.bg_image{
	position: relative;
	min-height: 550px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
}

.bg_title_area{
	max-width: 600px;
	background-color: #22c1c3;
	position: absolute;
	bottom: -110px;
	overflow: auto;
	padding: 20px 25px;
	text-align: left;
	margin-left: 30px;
	margin-right: 15px;
	border-left: solid 8px #ffffff;
}

.bg_title_area h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 35px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.bg_title_area p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #dddddd;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.bg_num{
	position: absolute;
	top: 30px;
	left: 30px;
	width: 75px;
	height: 75px;
	margin: 0 auto 0;
	background-color: #22c1c3;
	border-radius: 50%;
}

.bg_num h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 24px;
	font-weight: 600;
	display: block;
	text-align: center;
	color: #ffffff;
	line-height: 1.4em;
	margin: 0;
}

.num_center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bg_button a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	max-width: 100px;
	transition: 0.5s;
}

.bg_button a::after{
	content: "\203A";
	position: relative;
	top: 1px;
	font-size: 20px;
	display: inline-block;
	padding-left: 5px;
}

.bg_button a:hover{
	color: #111111;
}

.research_area_five .slick-dots{
	position: relative;
	z-index: 999999;
	bottom: -110px;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}

.research_area_five .slick-dots button{
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #6f6f6f;
	border-radius: 100%;
	background-color: transparent;
	text-indent: -9999px;
}

.research_area_five li.slick-active button{
	background-color: #1488cc;
}

.research_area_five .slick-dots button:hover{
	background-color: #1488cc;
}

.research_area_five .slick-dots li{
	margin: 22px 4px 0 4px;
}

.research_area_five .slick-list{
	overflow: visible;
}

/* --- 3.6. Research Area Six --- */
.research_area_six{
	max-width: 1280px;
	padding: 0 25px;
	margin: 0 auto 9em;
}

.research_group_six{
	width: calc(100% - 50px);
	display: flex;
	flex-wrap: wrap;
	min-height: 250px;
	background-color: #ffffff;
	padding: 25px 25px 30px 25px;
	margin: 85px auto 0;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	border-left: solid 5px #22c1c3;
}

.feature_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 20px;
}

.feature_box{
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
}

.feature_image{
	position: relative;
}

.feature_image img{
	width: 130px;
	height: 130px;
	display: block;
	margin: -85px auto 0;
	border-radius: 50%;
}

.feature_content{
	width: 100%;
	text-align: center;
}

.feature_content h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
}

.feature_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
	padding: 10px 0;
}

.feature_content h4{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #22c1c3;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.4em;
}

.feature_button a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	color: #22c1c3;
	text-decoration: none;
	max-width: 100px;
	margin: auto;
	transition: 0.5s;
}

.feature_button a::after{
	content: "\203A";
	position: relative;
	top: 1px;
	font-size: 20px;
	display: inline-block;
	padding-left: 5px;
}

.feature_button a:hover{
	color: #111111;
}

/* --- 3.7. Research Area Seven --- */
.research_area_seven{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 0;
	padding: 6em 0;
}

.research_area_seven::after{
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.research_group_seven{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 25px;
	position: relative;
	z-index: 999;
	display: flex;
	flex-wrap: wrap;
}

.cube_col{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.cube_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.cube_box{
	max-width: 650px;
}

.video-play-button {
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)translateY(-50%);
	box-sizing: content-box;
	display: block;
	width: 28px;
	height: 42px;
	border-radius: 50%;
	padding: 28px 16px 12px 32px;
}

.video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	transition: all 200ms;
}

.video-play-button span {
	display: block;
	position: relative;
	z-index: 3;
	width: 0;
	height: 0;
	border-left: 18px solid #71b280;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.cube_box h2{
	color: #ffffff;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
}

.cube_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #dddddd;
	letter-spacing: 1px;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
	max-width: 500px;
}

.bg_col_button a{
	background-color: #22c1c3;
	width: 150px;
	margin: 10px 0 0;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #22c1c3;
	border-radius: 25px;
	letter-spacing: 1px;
	text-align: center;
}

.bg_col_button a:hover{
	color: #111111;
	background-color: #ffffff;
	border-color: #ffffff;
}

/* --- 3.8. Research Area Eight --- */
.research_area_eight{
	max-width: 1100px;
	margin: -95px auto 9em;
	padding: 0 20px;
	position: relative;
	z-index: 999;
}

.research_group_eight{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.count_info_col{
	flex: 25%;
	width: 25%;
	padding: 30px 20px 0;
}

.count_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin: 0;
	padding: 6px 0;
}

.count_title::first-letter{
	color: #22c1c3;
}

.count_info_box{
	max-width: 275px;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	background-color: #ffffff;
	border-radius: 5px;
	padding: 20px 10px;
}

.counter{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: inline-block;
	text-align: center;
	color: #22c1c3;
	letter-spacing: 1px;
	margin: 0;
}

/* --- 3.9. Research Area Nine --- */
.research_area_nine{
	max-width: 1280px;
	padding: 0 25px;
	margin: 0 auto 9em;
}

.research_group_nine{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 40px 20px 0;
}

.blog_box{
	max-width: 400px;
	margin: auto;
	position: relative;
	text-align: center;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.blog_area{
	position: relative;
	background-color: #ffffff;
}

.blog_content{
	text-align: left;
	padding: 15px 15px 25px;
	background-color: #ffffff;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.blog_date{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	display: block;
	font-weight: 600;
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
}

.blog_col img{
	width: 100%;
	height: auto;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
}

a.blog_btn{
	max-width: 110px;	
    color: #22c1c3;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	letter-spacing: 1px;
	text-align: left;
}

a.blog_btn::after{
	content: "\203A";
	position: relative;
	top: 1px;
	font-size: 20px;
	display: inline-block;
	padding-left: 5px;
}

.blog_title a:hover{
	color: #22c1c3;
}

a.blog_btn:hover{
	color: #111111;
}


/* --- 3.10. Research Area Ten --- */
.research_area_ten{
	max-width: 1200px;
	width: calc(100% - 50px);
	margin: 0 auto -7em;
	position: relative;
	z-index: 999;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	background-color: #ffffff;
	border-radius: 10px;
}

.research_group_ten{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 3em 30px;
}

.col_head{
	flex: 45%;
	width: 45%;
}

.col_info{
	flex: 55%;
	width: 55%;
	margin-top: 35px;
}

.col_head h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 30px;
	display: block;
	font-weight: 700;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.3em;
	max-width: 550px;
}

.subscribe-row{
	text-align: right;
}

.col_info input[type="email"]{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: inline-block;
	font-weight: normal;
	letter-spacing: 1px;
	height: 40px;
	vertical-align: middle;
	padding: 20px 15px;
	width: 350px;
	background-color: #eeeeee;
	margin-right: 4px;
	border: none;
	margin-right: 4px;
	border-radius: 25px;
}

.col_info input[type="email"]::placeholder{
	color: #333333;
	opacity: 1;
}

.col_info input[type="submit"]{
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0;
	height: 40px;
	width: 130px;
	color: #ffffff;
	position: relative;
	bottom: -1px;
	transition: 0.5s;
	background-color: #22c1c3;
	border: solid 1px #22c1c3;
	border-radius: 25px;
}

.col_info input[type="submit"]:hover{
	background: transparent;
	color: #111111;
	border-color: #111111;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	background-color: #1488cc;
}

.footer_area{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 7em;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 4.5em;
}

a.footer-logo img{
	max-width: 150px;
	height: auto;
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 10px;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social > a > .fab,
.footer_social > a > .fa{
	font-size: 16px;
	color: #ffffff;
	text-align: left;
	transition: 0.5s;
}

.footer_social > a{
	padding-right: 12px;
}
 
.footer_social > a > .fab:hover,
.footer_social > a > .fa:hover{
	color: #111111;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #ffffff;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ffffff;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	color: #111111;
}

.right_list{
	padding-top: 10px;
}

.blog_list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 390px;
	padding-bottom: 10px;
}

.left_blog{
	flex: 33.33%;
	width: 33.33%;
	padding-bottom: 10px;
}

.right_blog{
	flex: 66.66%;
	width: 66.66%;
	max-width: 290px;
	padding-bottom: 15px;
	padding-left: 14px;
	margin-top: -5px;
}

.left_blog img{
	vertical-align: middle;
	width: 100%;
	max-width: 100px;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #e0e0e0;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
	
	.header-title{
		min-height: auto;
		height: auto;
		position: absolute;
		bottom: 0;
	}
	
	.col_info{
		margin-top: 60px;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #111111;
		font-size: 25px;
		margin-top: 7px;
		margin-bottom: 12px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header > a{
		margin-top: 14px;
	}
	
	#nav-logo > a{
		top: 19px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 21px;
	}
	
	.header-title__main{
		font-size: 35px;
	}
	
	.header-title {
		padding: 35px 25px;
		max-width: 500px;
	}
	
	.bg_col{
		flex: 50%;
		width: 50%;
	}
	
	.square_col_left{
		flex: 100%;
		width: 100%;
	}
	
	.square_col_right{
		flex: 100%;
		width: 100%;
		margin-top: 70px;
	}
	
	.icon_col{
		flex: 50%;
		width: 50%;
	}
	
	.info_head{
		flex: 100%;
		width: 100%;
	}
	
	.info_content{
		flex: 100%;
		width: 100%;
		margin-top: 15px;
	}
	
	.feature_col{
		flex: 100%;
		width: 100%;
	}
	
	.feature_space img{
		margin-top: 35px;
	}
	
	.cube_col{
		flex: 100%;
		width: 100%;
		padding: 0;
	}
	
	.logistics_col_button a{
		margin-bottom: 90px;
	}
	
	.video-play-button{
		margin-top: 90px;
		
	}
	
	.research_area_seven{
		padding-bottom: 18em;
	}
	
	.count_info_col{
		flex: 50%;
		width: 50%;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
	}
	
	.col_info{
		flex: 100%;
		width: 100%;
		margin-top: 0;
	}
	
	.col_head{
		flex: 100%;
		width: 100%;
	}
	
	.subscribe-row{
		text-align: center;
		margin-top: 35px;
	}
	
	.col_head h3{
		text-align: center;
		width: 100%;
		margin: auto;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.square_box h2,
	.research_heading,
	.cube_box h2,
	.info_head h2{
		font-size: 30px;
	}
	
	.bg_col,
	.square_col_left,
	.square_col_right,
	.square_box,
	.info_head,
	.info_content{
		padding-left: 0;
		padding-right: 0;
	}
	
	.bg_col{
		flex: 100%;
		width: 100%;
	}
	
	.border_col{
		flex: 100%;
		width: 100%;
		max-width: 180px;
		margin: auto;
	}
	
	.bg_content{
		max-width: 180px;
		margin-left: auto;
		margin-right: auto;
		margin-top: -55px;
	}
	
	.icon_col{
		flex: 100%;
		width: 100%;
	}
	
	.bg_image{
		min-height: 450px;
	}
	
	.bg_title_area{
		max-width: 375px;
		padding: 15px;
		margin-left: 15px;
	}
	
	.bg_title_area h2{
		font-size: 20px;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.count_info_col{
		flex: 100%;
		width: 100%;
	}
	
	.col_info input[type="email"]{
		display: block;
		max-width: 325px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.col_info input[type="submit"]{
		margin-top: 20px;
		display: block;
		max-width: 325px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.col_head h3{
		font-size: 25px;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}	

@media only screen and (max-width: 420px){
	.header-title {
		padding: 35px 25px;
		max-width: 350px;
	}
	
	.header-title__main{
		font-size: 30px;
	}
	
	.grid_col,
	.feature_col,
	.blog_col{
		padding-left: 0;
		padding-right: 0;
	}
	
	.right_border_box{
		right: 0;
		top: -50px;
		width: 125px;
		height: 125px;
	}
	
	.bg_title_area{
		max-width: 325px;
		padding: 10px;
	}
	
	.research_group_six{
		width: 100%;
	}
}

@media only screen and (max-width: 360px){
	.header-title {
		padding: 35px 25px;
		max-width: 300px;
	}
}

@media only screen and (max-width: 320px){
	.header-title__main{
		font-size: 25px;
	}
	
	.col_head h3{
		font-size: 20px;
	}
}
