/*------------------------------------------------------------------
Main Stylesheet

Project:    Highpoint Corporate Template
Version:    1.0
Last change:    14/11/2021
Author:    creativemaze
Primary use:    SEO Agency
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. SEO Area One 
	3.2. SEO Area Two
	3.3. SEO Area Three
	3.4. SEO Area Four
	3.5. SEO Area Five
	3.6. SEO Area Six
	3.7. SEO Area Seven
	3.8. SEO Area Eight
	3.9. SEO Area Nine
	3.10. SEO Area Ten
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */ 
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.seo_head{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.seo_info{
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
}

.seo_center_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #fcb045;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	padding-bottom: 15px;
	text-transform: uppercase;
	max-width: 500px;
	margin: auto;
	padding: 0 15px;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
nav.navbar.bootsnav .navbar-brand{
    max-width: 200px; 	
}

.navbar-header a.navbar-brand{
	text-decoration: none;
	color: #111111;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 30px;
}

.navbar-header a.navbar-brand:hover{
	color: #111111;
}

nav.navbar .navbar-brand img.logo{
   width: 100%;
   height: auto;
   display: block;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #111111;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #fcb045;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #fcb045;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #fcb045;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #111111;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	border-bottom: solid 1px #e0e0e0;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 600px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info .fab{
	font-size: 16px;
	color: #fcb045;
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info > a{
	padding-right: 14px;
}

.left_info .fas:hover,
.right_info .fab:hover{
	color: #111111;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #fcb045;
	width: 150px;
	margin: 0 auto;
	min-height: 30px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #fcb045;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: transparent;
	color: #111111;
	border: 1px solid #111111;
}

.sliderwrap{
	position: relative;
}

.slidearea{
	max-width: 1400px;
	margin: auto;
	padding: 0 25px;
}

.slide__content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	min-height: 500px;
}

.slide__left{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 15px;
}

.slide__right{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 15px;
}

.slide__content img{
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.first_left{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.slide__box{
	max-width: 600px;
	text-align: left;
}

.slide__box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	display: block;
	color: #111111;
	line-height: 1.25em;
}

.slide__box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	display: block;
	color: #696969;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px 0;
	max-width: 500px;
}

.buttoncol a{
	background-color: #fcb045;
	width: 150px;
	min-height: 35px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #fcb045;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 10px;
}

.buttoncol a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. SEO Area One --- */
.seo_area_one{
	max-width: 1400px;
	margin-bottom: 9em;
	margin-top: 7em;
	margin-left: auto;
	margin-right: auto;
	padding: 0 25px;
}

.seo_group_one{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}

.square_col{
	flex: 33.33%;
	width: 33.33%;
	position: relative;
	padding: 0 25px;
	border-right: solid 1px #e0e0e0;
}

.square_box{
	padding: 25px 20px;
	max-width: 350px;
	margin: auto;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.third_border{
	border-right: none;
}

.square_num{
	float: left;
	width: 15%;
}

.square_item{
	float: left;
	width: 85%;
	padding-left: 10px;
}

.square_num h3{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 0;
}

.square_item h3{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	margin-top: 0;
	line-height: 1.4em;
}

.square_item p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	padding: 8px 0;
}

.square_button > a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	color: #fcb045;
	text-decoration: none;
	width: 110px;
	transition: 0.5s;
    cursor: pointer;
}

.square_button > a::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.square_button > a:hover{
	color: #111111;
}

/* --- 3.2. SEO Area Two --- */
.seo_area_two{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.seo_group_two{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.seo_wide_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 15px;
	position: relative;
}

.seo_box_col{
	flex: 66.66%;
	width: 66.66%;
	padding: 0 15px;
	position: relative;
}

.seo_box_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.wide_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.wide_box{
	max-width: 500px;
	margin: 0;
	padding-right: 25px;
}

.right_box{
	padding-left: 25px;
	padding-right: 0;
}

.wide_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.seo_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #fcb045;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
}

.seo_list ul{
	padding: 14px 0 16px;
}

.seo_list > ul li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: left;
	padding: 6px 0;
}

.seo_list > ul li::before{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	padding-right: 12px;
	color: #fcb045;
}

.seo_col_button a{
	background-color: #fcb045;
	width: 140px;
	min-height: 30px;
	margin: 12px 0;	
    border: none;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #fcb045;
	letter-spacing: 1px;
	text-align: center;
}

.seo_col_button a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111;
}

/* --- 3.3. SEO Area Three --- */
.seo_area_three{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
	position: relative;
}

.seo_group_three{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

/* --- 3.4. SEO Area Four --- */
.seo_area_four{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	height: 100%;
	background-color: #fcb045;
	margin: 0 0;
}

/* --- 3.5. SEO Area Five --- */
.seo_area_five{
	max-width: 1280px;
	margin: 0 auto 9em;
	margin-top:  -300px;
	padding: 0 25px;
	position: relative;
	z-index: 9999;
}

.seo_group_five{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 40px 20px 0;
	background-color: #ffffff;
	margin-top: 40px;
}

.bg_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
}

.bg_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	display: block;
	color: #111111;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.seo_icon_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
}

.seo_icon_box{
	max-width: 300px;
	margin: auto;
	text-align: center;
}

.seo_icon_box h3{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	transition: 0.5s;
	line-height: 1.4em;
}

.seo_icon_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding-top: 10px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	transition: 0.5s;
	line-height: 1.5em;
}

.seo_icon_box .fas{
	font-size: 35px;
	display: block;
	color: #fcb045;
}

/* --- 3.6. SEO Area Six --- */
.seo_area_six{
	width: 100%;
	margin: 0 0 9em;
	min-height: 400px;
	padding: 7em 25px;
	background-color: #eeeeee;
}

.seo_group_six{
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.price_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 30px 25px 0;
}

.price_box{
	max-width: 350px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
	background: #ffffff;
	padding-bottom: 35px;
}

.price_content{
	padding-bottom: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-left: 15px;
	background-color: #ffffff;
	border-bottom: solid 1px #e0e0e0;
	width: calc(100% - 30px);
	margin: auto;
}

.price_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.5em;
}

.price_value{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #fcb045;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.2em;
}

.price_box h4{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding-top: 6px;
}

.price_list{
	width: 100%;
	background-color: #ffffff;
	margin: auto;
	padding-top: 1px;
}

.price_list ul{
	padding: 20px 10px;
}

.price_list > ul li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	display: block;
	color: #111111;
	text-transform: capitalize;
	letter-spacing: 1px;
	text-align: left;
	padding: 12px;
	line-height: 1.5em;
}

.price_list > ul li::after{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	position: absolute;
	right: 0;
	padding-right: 25px;
	color: #fcb045;
}

.price_btn a{
	background-color: #ffffff;
	width: 150px;
	min-height: 30px;	
    border: none;
    color: #111111;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 12px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    margin: auto;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #111111;
	letter-spacing: 1px;
	text-align: center;
}

.mid_btn a{
	background-color: #fcb045;
	width: 150px;
	min-height: 30px;	
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 12px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    margin: auto;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #fcb045;
	letter-spacing: 1px;
	text-align: center;
}

.price_btn a:hover{
	color: #ffffff;
	background-color: #fcb045;
	border-color: #fcb045;
}

.mid_btn a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111;
}

/* --- 3.7. SEO Area Seven --- */
.seo_area_seven{
	max-width: 1280px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.seo_group_seven{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.counter_area{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.graph_area{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.graph_area img{
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.num_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.num_box{
	max-width: 500px;
	margin: 0;
	padding-right: 10px;
}

.num_box h2{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.data_content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 10px;
}

.data_col{
	flex: 50%;
	width: 50%;
	padding: 10px 15px 10px 0;
}

.right_col{
	padding-left: 5px;
}

.progressbar {
	display: inline-block;
	width: 125px;
}

.circle {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	text-align: center;
}

.circle canvas {
	vertical-align: middle;
}

.circle div {
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-weight: 500;
	display: block;
	color: #111111;
}

.circle h3{
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.4em;
	text-transform: uppercase;
	margin: 0;
	padding-top: 10px;
}

/* --- 3.8. SEO Area Eight --- */
.seo_area_eight{
	width: 100%;
	margin: 0 0 9em;
	min-height: 400px;
	padding: 7em 25px;
	background-color: #eeeeee;
}

.seo_group_eight{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 30px 20px 0;
}

.blog_box{
	max-width: 400px;
	position: relative;
	text-align: left;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.blog_area{
	overflow: hidden;
	position: relative;
	padding-bottom: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-left: 12px;
	background-color: #ffffff;
}

.blog_content{
	text-align: left;
	padding: 20px 0;
	padding-left: 15px;
}

.blog_date{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: block;
	font-weight: 600;
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
	width: 250px;
}

.blog_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	transition: 0.5s;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
}

.blog_title a:hover{
	opacity: 0.6;
}

.blog_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 10px 0;
	line-height: 1.5em;
}

a.blog_btn{
	width: 120px;	
    color: #111111;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.2em;
	padding-bottom: 3px;
	padding-top: 10px;
}

a.blog_btn::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

a.blog_btn:hover{
	opacity: 0.6;
}

/* --- 3.9. SEO Area Nine --- */
.seo_area_nine{
	max-width: 1000px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.seo_group_nine{
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	position: relative;
}

.client_details{
	display: block;
	max-width: 325px;
	width: 100%;
	margin: auto;
	padding: 0 15px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.client_box{
	width: 100%;
	padding: 35px 30px;
	text-align: center;
	display: block;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.client_info img{
	max-width: 90px;
	height: 90px;
	margin: auto;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin-bottom: 14px;
}

.client_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	text-transform: capitalize;
	line-height: 1.4em;
}

.client_comment{
	display: block;
	clear: both;
}

.client_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #fcb045;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.client_comment q{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	max-width: 350px;
	margin: auto;
	padding-top: 15px;
	line-height: 1.5em;
}

.client_col .slick-dots {
	position: absolute;
	z-index: 9999;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin: 0;
	list-style-type: none;
	margin-bottom: -30px;
}

.slick-dots button{
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #696969;
	border-radius: 100%;
	background-color: transparent;
	text-indent: -9999px;
}

li.slick-active button{
	background-color: #fcb045;
}

.slick-dots button:hover{
	background-color: #fcb045;
}

.slick-dots li{
	margin: 6px 0.40rem;
}

/* --- 3.10. SEO Area Ten --- */
.seo_area_ten{
	max-width: 1280px;
	margin: 0 auto 2em;
	padding: 0 35px;
}

.seo_group_ten{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #fcb045;
	padding: 40px 35px;
}

.col_head{
	flex: 50%;
	width: 50%;
}

.col_info{
	flex: 50%;
	width: 50%;
	margin-top: 35px;
}

.col_head h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 30px;
	display: block;
	font-weight: 500;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.3em;
	max-width: 500px;
}

.subscribe-row{
	text-align: right;
}

.col_info input[type="email"]{
	width: 350px;
	padding: 12px 20px 14px;
	border: solid 1px #e0e0e0;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: inline-block;
	font-weight: 600;
	color: #333333;
	text-transform: capitalize;
	letter-spacing: 1px;
	background-color: #ffffff;
}

.col_info input[type="submit"]{
	display: inline-block;
	width: auto;
	padding: 11px 24px;
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	margin-left: -4px;
	color: #ffffff;
	border-radius: 0;
	letter-spacing: 1px;
	background-color: #111111;
	border: solid 1px #111111;
	transition: 0.5s;
}

.col_info input[type="submit"]:hover{
	background: transparent;
	color: #ffffff;
	border-color: #ffffff;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
}

.footer_area{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 3.5em;
}

a.footer-brand img{
	max-width: 200px;
	height: auto;
	display: block;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #111111;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 16px;
	color: #111111;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.final{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #111111;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	color: #111111;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.right_list{
	padding-top: 10px;
}

.blog_list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 390px;
	padding-bottom: 10px;
}

.left_blog{
	flex: 25%;
	width: 25%;
	padding-bottom: 10px;
}

.right_blog{
	flex: 75%;
	width: 75%;
	max-width: 290px;
	padding-bottom: 15px;
	padding-left: 14px;
	margin-top: -5px;
}

.left_blog img{
	vertical-align: middle;
	width: 100%;
	max-width: 100px;
	transition: .5s;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #e0e0e0;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.square_col{
		flex: 50%;
		width: 50%;
		margin-bottom: 40px;
	}
	
	.second_border{
		border-right: none;
	}
	
	.third_border{
		margin-bottom: 0;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
	}
	
	.seo_icon_col{
		flex: 50%;
		width: 50%;
		margin-bottom: 40px;
	}
	
	.counter_area,
	.graph_area{
		flex: 100%;
		width: 100%;
		max-width: 600px;
	}
	
	.graph_area{
		margin-top: 40px;
	}
	
	.col_info{
		flex: 100%;
		width: 100%;
		margin-top: 0;
	}
	
	.col_head{
		flex: 100%;
		width: 100%;
	}
	
	.subscribe-row{
		text-align: center;
		margin-top: 35px;
	}
	
	.col_head h3{
		text-align: center;
		width: 100%;
		margin: auto;
	}
} 
 
@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #111111;
		font-size: 25px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header a.navbar-brand{
		padding-top: 22px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.slide__left,
	.slide__right{
		flex: 100%;
		width: 100%;
		max-width: 600px;
	}
	
	.slide__box{
		padding: 45px 0;
	}
	
	.price_col{
		flex: 100%;
		width: 100%;
	}
	
	.seo_wide_col,
	.seo_box_col{
		flex: 100%;
		width: 100%;
		margin-bottom: 40px;
		max-width: 500px;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.slide__box h2{
		font-size: 40px;
	}
	
	.seo_head,
	.wide_box h2,
	.num_box h2,
	.bg_head{
		font-size: 30px;
	}
	
	.square_col{
		flex: 100%;
		width: 100%;
	}
	
	.first_border{
		border-right: none;
	}
	
	.seo_icon_col{
		flex: 100%;
		width: 100%;
	}
	
	.data_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.col_info input[type="email"]{
		display: block;
		width: 100%;
	}
	
	.col_info input[type="submit"]{
		margin-top: 20px;
		display: block;
		width: 100%;
		margin-left: 0;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 420px){
	.slide__box h2{
		font-size: 30px;
	}
	
	.slide__left,
	.slide__right,
	.square_col,
	.seo_wide_col,
	.seo_box_col,
	.wide_box,
	.right_box,
	.price_col,
	.counter_area,
	.graph_area,
	.blog_col{
		padding-left: 0;
		padding-right: 0;
	}
	
	.col_head h3{
		font-size: 25px;
	}
}

@media only screen and (max-width: 320px){
	.col_head h3{
		font-size: 20px;
	}
}
