/*------------------------------------------------------------------
Main Stylesheet

Project:    Upstake - Multipurpose Business Template
Version:    1.0
Last change:    10/06/2024
Author:    creativemaze
Primary use:    Small Business
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Business Area One 
	3.2. Business Area Two
	3.3. Business Area Three
	3.4. Business Area Four
	3.5. Business Area Five
	3.6. Business Area Six
	3.7. Business Area Seven
	3.8. Business Area Eight
	3.9. Business Area Nine
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.business_heading{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	color: #111111;
	display: block;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.2em;
	text-transform: uppercase;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.bg_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	display: block;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2em;
	max-width: 650px;
	margin: 0 auto;
}

.info_head h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	color: #111111;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
	text-transform: uppercase;
	max-width: 550px;
}

.info_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	max-width: 500px;
}

.lastword{
	color: #83a4d4;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
.navbar-header > a{
	text-decoration: none;
	color: #111111;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 30px;
}

.navbar-header > a:hover{
	color: #111111;
}

#nav-logo > a{
	max-width: 160px; 
	min-height: 10px;
	position: relative;
	top: 33px;
}

#nav-logo > a img{
   position: relative;
   max-width: 160px;
   height: auto;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
	margin-top: 5px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #111111;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #83a4d4;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #83a4d4;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #83a4d4;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #111111;
	padding-top: 36px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	border-bottom: solid 1px #e0e0e0;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 600px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info > a > .fab{
	font-size: 16px;
	color: #83a4d4;
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info > a .fab{
	padding-right: 14px;
	transition: 0.5s;
}

.right_info > a > .fab:hover{
	color: #111111;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 19px;
	right: 0;
}

.head_btn a{
	background-color: #83a4d4;
	width: 150px;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #83a4d4;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: #ffffff;
	color: #111111;
	border: 1px solid #111111;
}

.sliderwrap{
	position: relative;
	max-width: 1400px;
	margin: auto;
	padding: 0 20px;
}

.slide__content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.slide__left{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 25px;
	z-index: 99;
	min-height: 550px;
}

#top_left_arc{
	position: absolute;
	top: 25px;
	left: 25px;
	width: 16px;
	height: 16px;
	background-color: #83a4d4;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
}

#top_left_arc::before{
	content: "";
	display: block;
	margin: auto;
	max-width: 16px;
	height: 16px;
	background-color: #83a4d4;
	border-radius: 50%;
	animation: pulse-circle 1500ms ease-out infinite;
}

#top_left_arc::after{
	display: block;
	max-width: 16px;
	height: 16px;
	background-color: #83a4d4;
	border-radius: 50%;
	transition: all 200ms;
}

#top_center_arc{
	position: absolute;
	top: 75px;
	left: 50%;
	transform: translateX(-50%);
	width: 16px;
	height: 16px;
	background-color: #83a4d4;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
}

#top_center_arc::before{
	content: "";
	display: block;
	margin: auto;
	max-width: 16px;
	height: 16px;
	background-color: #83a4d4;
	border-radius: 50%;
	animation: pulse-circle 1500ms ease-out infinite;
}

#top_center_arc::after{
	display: block;
	max-width: 16px;
	height: 16px;
	background-color: #83a4d4;
	border-radius: 50%;
	transition: all 200ms;
}

#bottom_left_arc{
	position: absolute;
	bottom: 0px;
	left: 25px;
	width: 16px;
	height: 16px;
	background-color: #83a4d4;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
}

#bottom_left_arc::before{
	content: "";
	display: block;
	margin: auto;
	max-width: 16px;
	height: 16px;
	background-color: #83a4d4;
	border-radius: 50%;
	animation: pulse-circle 1500ms ease-out infinite;
}

#bottom_left_arc::after{
	display: block;
	max-width: 16px;
	height: 16px;
	background-color: #83a4d4;
	border-radius: 50%;
	transition: all 200ms;
}

#bottom_center_arc{
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
	width: 16px;
	height: 16px;
	background-color: #83a4d4;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
}

#bottom_center_arc::before{
	content: "";
	display: block;
	margin: auto;
	max-width: 16px;
	height: 16px;
	background-color: #83a4d4;
	border-radius: 50%;
	animation: pulse-circle 1500ms ease-out infinite;
}

#bottom_center_arc::after{
	display: block;
	max-width: 16px;
	height: 16px;
	background-color: #83a4d4;
	border-radius: 50%;
	transition: all 200ms;
}

@keyframes pulse-circle{
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

#top_left_arc:hover + .tooltiptext,
#top_center_arc:hover + .tooltiptext,
#bottom_left_arc:hover + .tooltiptext,
#bottom_center_arc:hover + .tooltiptext{
	visibility: visible;
	opacity: 1;
}

.tooltiptext{
	position: absolute;
	min-width: 200px;
	visibility: hidden;
	background-color: #ffffff;
	padding: 20px;
	z-index: 99;
	opacity: 0;
	text-align: left;
	transition: opacity 0.3s;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.text_top_left{
	top: 5px;
	margin-top: 25px;
	left: 30px;
	margin-left: 15px;
}

.text_top_center{
	top: 50px;
	left: 50%;
	margin-left: 15px;
}

.text_bottom_left{
	bottom: 5px;
	left: 30px;
	margin-left: 15px;
}

.text_bottom_center{
	bottom: 5px;
	left: 50%;
	margin-left: 15px;
}

.tooltiptext h3{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.4em;
	margin: 0;
}

.slide__right{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 25px;
	margin-top: 75px;
}

.slide_photo{
	max-width: 575px;
	position: relative;
}

.slide_photo img{
	max-width: 100%;
	height: auto;
	display: block;
}

.box_content{
	position: absolute;
	bottom: -75px;
	left: 25px;
	z-index: 99;
	width: 200px;
	height: 200px;
	background-color: #ffffff;
	border-radius: 50%;
}

.box_info{
	width: 180px;
	height: 180px;
	margin: 10px auto;
	background-color: #83a4d4;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
	border-radius: 50%;
}

.box_feature{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12px;
}

.box_title{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: auto;
	border: solid 2px #ffffff;
	border-radius: 50%;
}

.box_title h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.5em;
	margin: 0;
}

@keyframes up-down{
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.border_box{
	position: absolute;
	top: -60px;
	left: -75px;
	background-image: repeating-linear-gradient(45deg, #83a4d4 0, #83a4d4 2px, transparent 0, transparent 50%);
	background-size: 8px 8px;
	background-color: #ffffff;
	z-index: -99;
	width: 175px;
	height: 175px;
	animation: 3s infinite ease-in-out up-down;
}

.first_left{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.slide__box{
	position: relative;
	max-width: 550px;
	text-align: left;
	padding-right: 20px;
}

.slide__box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 1.2em;
	text-align: left;
	display: block;
	color: #111111;
	text-transform: uppercase;
}

.slide_word{
	color: #83a4d4;
}

.slide__box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	display: block;
	color: #696969;
	line-height: 1.6em;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px 0;
	max-width: 500px;
}

.buttoncol a{
	background-color: #83a4d4;
	width: 175px;
	margin-top: 15px;	
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #83a4d4;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

.buttoncol a:hover{
	color: #111111;
	background-color: transparent;
	border-color: #111111
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Business Area One --- */
.business_area_one{
	width: 100%;
	min-height: 400px;
	padding: 6em 25px;
	background-color: #eeeeee;
	border-bottom: solid 1px #e0e0e0;
	margin-top: calc(9em + 35px);
}

.business_group_one{
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.business_group{
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 40px;
}

.info_head{
	flex: 58.33%;
	width: 58.33%;
	padding: 0 10px;
}

.info_content{
	flex: 41.66%;
	width: 41.66%;
	padding: 0 10px;
	margin-top: 20px;
}

.grid_col{
	flex: 25%;
	width: 25%;
	padding: 30px 20px 0;
}

.grid_box{
	position: relative;
	text-align: center;
	max-width: 350px;
}

.grid_image{
	overflow: hidden;
	position: relative;
}

.grid_image img{
	width: 100%;
	height: auto;
	display: block;
}

.grid_overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: rgba(24, 25, 34, 0.5);
}

.grid_icon{
	position: absolute;
	top: 20px;
	left: 20px;
}

.grid_icon .fi{
	font-size: 48px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
}

.grid_content{
	position: absolute;
	bottom: 25px;
	left: 20px;
	max-width: 400px;
}

.grid_content h3{
	margin: 0;
}

.grid_content h3 a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	line-height: 1.4em;
	background-color: #83a4d4;
	padding: 9px 12px;
	transition: 0.5s;
}

.grid_content h3 a:hover{
	background-color: #ffffff;
	color: #83a4d4;
}

.grid_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	padding-top: 10px;
	display: block;
	color: #dddddd;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.grid_col_button{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #ffffff;
	padding: 8px 14px;
}

.grid_button a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: right;
	text-transform: uppercase;
	display: block;
	color: #83a4d4;
	text-decoration: none;
	max-width: 110px;
	transition: 0.5s;
}

.grid_button a::after{
	content: "\203A";
	position: relative;
	top: 1px;
	font-size: 20px;
	display: inline-block;
	padding-left: 5px;
}

.grid_button a:hover{
	color: #111111;
}

/* --- 3.2. Business Area Two --- */
.business_area_two{
	position: relative;
	z-index: 999;
	max-width: 1200px;
	margin:-60px auto 9em;
	padding: 0 25px;
}

.business_group_two{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.num_col{
	position: relative;
	flex: 25%;
	width: 25%;
	padding: 0 23px;
}

.num_box{
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}

.list_num{
	width: 70px;
	height: 70px;
	margin: 20px auto 0;
	background-color: #83a4d4;
	border-radius: 50%;
}

.fourth_border{
	border-right: none;
}

.list_num h4{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-weight: 600;
	font-size: 22px;
	display: block;
	text-align: center;
	color: #ffffff;
	line-height: 1.4em;
}

.num_center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mid_info h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: center;
	color: #111111;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin-bottom: 0;
}

.mid_info p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
	padding: 10px 0;
}

.num_crumb{
	width: 50px;
	height: 1px;
	margin: auto;
	border-bottom: solid 2px #83a4d4;
}

.business_area_two .slick-dots {
	position: relative;
	z-index: 999999;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}

.business_area_two .slick-dots button{
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	padding: 0;		
	border: solid 1px #6f6f6f;
	border-radius: 100%;
	background-color: transparent;
	text-indent: -9999px;
}

.business_area_two li.slick-active button{
	background-color: #83a4d4;
}

.business_area_two .slick-dots button:hover{
	background-color: #83a4d4;
}

.business_area_two .slick-dots li{
	margin: 22px 4px 0 4px;
}

.business_area_two .slick-list{
	overflow: visible;
}

/* --- 3.3. Business Area Three --- */
.business_area_three{
	max-width: 1200px;
	margin: 0 auto 0;
	padding: 0 25px;
	margin-bottom: calc(9em + 80px);
}

.business_group_three{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.square_col_left{
	flex: 50%;
	width: 50%;
	padding: 0 20px;
}

.square_col_right{
	flex: 50%;
	width: 50%;
	padding: 0 20px;
}

.square_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.square_box{
	max-width: 600px;
	padding-left: 20px;
}

.square_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
	color: #111111;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2em;
	text-transform: uppercase;
}

.square_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	max-width: 450px;
}

.photo_area{
	max-width: 500px;
	text-align: center;
	position: relative;
}

.photo_image{
	position: relative;
	z-index: 1;
}

.photo_image > img{
	width: 100%;
	height: auto;
	display: block;
	border-bottom-left-radius: 25%;
	border-top-right-radius: 25%;
}

.base_content{
	position: absolute;
	bottom: -80px;
	right: 25px;
	z-index: 0;
	width: 220px;
	height: 220px;
	background-color: #ffffff;
	border-bottom-right-radius: 25%;
	border-top-left-radius: 25%;
}

.base_photo{
	width: 200px;
	height: 200px;
	margin: 10px auto;
	border-radius: 50%;
}

.base_photo img{
	width: 100%;
	height: auto;
	display: block;
	border-bottom-right-radius: 25%;
	border-top-left-radius: 25%;
}

.square_info_area{
	width: 100%;
	margin-top: 25px;
}

.square_top_content,
.square_last_content{
	width: 100%;
	min-height: 50px;
	overflow-y: auto;
}

.square_top_content{
	padding-bottom: 10px;
}

.square_space{
	max-width: 450px;
	text-align: left;
}

.square_icon{
	float: left;
	width: 20%;
}

.square_title{
	float: left;
	width: 80%;
}

.square_icon .fi{
	font-size: 48px;
	color: #83a4d4;
	display: inline-block;
	text-align: left;
}

.square_title h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-align: left;
	color: #111111;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin: 0;
	padding-top: 4px;
}

.square_title p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	padding: 10px 0;
}

.square_col_button a{
	background-color: #83a4d4;
	width: 150px;
	margin: 20px 0 0;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	border: 1px solid #83a4d4;
	border-radius: 5px;
	letter-spacing: 1px;
	text-align: center;
}

.square_col_button a:hover{
	color: #111111;
	background: transparent;
	border-color: #111111;
}

/* --- 3.4. Business Area Four --- */
.business_area_four{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 9em;
	padding: 3em 0;
}

.business_group_four{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 25px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.count_col{
	flex: 25%;
	width: 25%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.count_box{
	max-width: 275px;
	margin: auto;
	text-align: center;
}

.counter_area{
	height: 155px;
	width: 155px;
	border: double 5px #e0e0e0;
	border-radius: 50%;
	padding: 15px;
}

.counter_center{
	display: flex;
	flex-direction: column;
	justify-content:  center;
	align-items: center;
}

.count_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin: 0;
	padding-top: 15px;
}

.counter{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 50px;
	font-weight: 800;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	letter-spacing: 1px;
	margin: 0;
}

.counter.letter::after{
	content:'k';
	font-size: 50px;
	color: #83a4d4;
}

.counter.letters::after{
	content:'Yrs';
	font-size: 30px;
	font-weight: 700;
	color: #83a4d4;
}

/* --- 3.5. Business Area Five --- */
.business_area_five{
	max-width: 1280px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.business_group_five{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.portfolio_group{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.portfolio_col{
	flex: 50%;
	width: 50%;
}

.base_col{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
}

.portfolio_box{
	max-width: 750px;
	position: relative;
	text-align: center;
	margin: auto;
	padding: 10px;
}

.portfolio_image{
	overflow: hidden;
	position: relative;
}

.portfolio_image img{
	width: 100%;
	height: auto;
}

.portfolio_image > a > img{
	transition: ease-in-out 3.25s;
}

.portfolio_image > a > img:hover{
	transform: scale(1.15);
}

.portfolio_content{
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.5s;
	opacity: 0;
	background-color: #ffffff;
	padding: 25px 15px;
	min-width: 250px;
	max-width: 400px;
}

.portfolio_box:hover .portfolio_image .portfolio_content{
	opacity: 1;
}

.portfolio_content h3{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
	margin-top: 0;
}

.portfolio_content a{
    color: #83a4d4;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	letter-spacing: 1px;
	text-align: center;
}

.portfolio_content a:hover{
	color: #111111;
}

/* --- 3.6. Business Area Six --- */
.business_area_six{
	position: relative;
	width: 100%;
	min-height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.business_area_six::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.5);
}

/* --- 3.7. Business Area Seven --- */
.business_area_seven{
	max-width: 1280px;
	margin: -250px auto 9em;
	padding: 0 25px;
}

.business_group_seven{
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

.client_col{
	max-width: 620px;
	position: relative;
	text-align: center;
	padding: 0 20px;
}

.client_details{
	max-width: 620px;
	padding: 20px;
	text-align: center;
	background-color: #ffffff;
}

.client_info{
	margin-bottom: -110px;
	clear: both;
}

.client_name{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.4em;
}

.client_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #83a4d4;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	margin: 0;
}

.quote_format{
	font-size: 125px;
	color: #83a4d4;
	display: block;
	text-align: left;
	margin-bottom: -90px;
	margin-top: -30px;
}

.client_details p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px;
	line-height: 1.5em;
}

.client-slider{
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
}

.client_photo img{
	max-width: 80px;
	height: 80px;
	border-radius: 50%;
	display: block;
	text-align: left;
}

.business_area_seven .slick-dots{
	position: relative;
	z-index: 999999;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1.5rem 0 0;
	list-style-type: none;
	margin-top: 20px;
}

.business_area_seven .slick-dots button{
	display: inline-block;
	width: 200px;
	height: 1.5rem;
	padding: 0;		
	border: solid 1px #6f6f6f;
	border-radius: 25px;
	background: transparent;
	text-indent: -9999px;
	transition: 0.5s;
}

.business_area_seven li.slick-active button{
	background-color: #83a4d4;
}

.business_area_seven .slick-dots button:hover{
	background-color: #83a4d4;
}

.business_area_seven .slick-dots li{
	margin: 6px 0.40rem;
}

/* --- 3.8. Business Area Eight --- */
.business_area_eight{
	max-width: 1280px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.business_group_eight{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 30px 20px 0;
}

.blog_box{
	max-width: 400px;
	position: relative;
	text-align: center;
}

.blog_area{
	position: relative;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.date_info{
	position: absolute;
	bottom: -40px;
	left: 0;
	z-index: 999;
	margin-left: 15px;
	background-color: #83a4d4;
	padding: 12px 24px;
}

.date_info h4{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	display: block;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin: 0;
}

.blog_date{
	margin-bottom: 4px;
}

.blog_content{
	text-align: left;
	padding: 20px 0 20px;
	padding-left: 20px;
	box-shadow: 0 20px 70px rgba(38,42,76,.2);
}

.blog_image img{
	width: 100%;
	height: auto;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
	padding-top: 15px;
}

a.blog_btn{
	max-width: 110px;	
    color: #83a4d4;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
	letter-spacing: 1px;
	text-align: left;
}

a.blog_btn::after{
	content: "\203A";
	position: relative;
	top: 1px;
	font-size: 20px;
	display: inline-block;
	padding-left: 5px;
}

.blog_title a:hover{
	color: #83a4d4;
}

a.blog_btn:hover{
	color: #111111;
}

/* --- 3.9. Business Area Nine --- */
.business_area_nine{
	max-width: 1280px;
	width: calc(100% - 50px);
	background-color: #83a4d4;
	z-index: 999;
	margin: 0 auto 2em;
	border-radius: 10px;
}

.business_group_nine{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 4em 30px;
}

.col_head{
	flex: 45%;
	width: 45%;
}

.col_info{
	flex: 55%;
	width: 55%;
	margin-top: 40px;
}

.col_head h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 30px;
	display: block;
	font-weight: 800;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.2em;
	max-width: 550px;
}

.subscribe-row{
	text-align: right;
}

.col_info input[type="email"]{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: inline-block;
	font-weight: normal;
	letter-spacing: 1px;
	height: 40px;
	vertical-align: middle;
	padding: 20px 8px;
	width: 350px;
	background-color: #ffffff;
	border: none;
	margin-right: 4px;
}

.col_info input[type="email"]::placeholder{
	color: #333333;
	opacity: 1;
}

.col_info input[type="submit"]{
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0;
	height: 40px;
	width: 130px;
	color: #111111;
	position: relative;
	bottom: -1px;
	transition: 0.5s;
	background-color: #ffffff;
	border: solid 1px #ffffff;
}

.col_info input[type="submit"]:hover{
	background: transparent;
	color: #ffffff;
	border-color: #ffffff;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
}

.footer_area{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 3.5em;
}

a.footer-logo img{
	max-width: 150px;
	height: auto;
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 10px;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #111111;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #111111;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social > a > .fab,
.footer_social > a > .fa{
	font-size: 16px;
	color: #111111;
	text-align: left;
	transition: 0.5s;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a > .fab:hover,
.footer_social > a > .fa:hover{
	color: #83a4d4;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #111111;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	color: #111111;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	color: #83a4d4;
}

.right_list{
	padding-top: 10px;
}

.blog_list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 390px;
	padding-bottom: 10px;
}

.left_blog{
	flex: 33.33%;
	width: 33.33%;
	padding-bottom: 10px;
}

.right_blog{
	flex: 66.66%;
	width: 66.66%;
	max-width: 290px;
	padding-bottom: 15px;
	padding-left: 14px;
	margin-top: -5px;
}

.left_blog img{
	vertical-align: middle;
	width: 100%;
	max-width: 100px;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #e0e0e0;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #111111;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.business_area_three{
		margin-bottom: 9em;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #111111;
		font-size: 25px;
		margin-top: 7px;
		margin-bottom: 12px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header > a{
		margin-top: 14px;
	}
	
	#nav-logo > a{
		top: 19px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 21px;
	}

	.slide__left{
		flex: 100%;
		width: 100%;
		margin-top: 30px;
	}
	
	.slide__right{
		flex: 100%;
		width: 100%;
		margin-top: 120px;
	}
	
	.info_head{
		flex: 100%;
		width: 100%;
	}
	
	.info_content{
		flex: 100%;
		width: 100%;
		margin-top: 0;
	}
	
	.grid_col{
		flex: 50%;
		width: 50%;
	}
	
	.square_col_left{
		flex: 100%;
		width: 100%;
	}
	
	.square_col_right{
		flex: 100%;
		width: 100%;
		margin-top: 80px;
	}
	
	.count_col{
		flex: 50%;
		width: 50%;
	}
	
	.portfolio_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
	}
	
	.business_area_seven .slick-dots{
		display: block;
	}
	
	.business_area_seven .slick-dots button{
		width: 150px;
	}
	
	.col_info{
		flex: 100%;
		width: 100%;
		margin-top: 0;
	}
	
	.col_head{
		flex: 100%;
		width: 100%;
	}
	
	.subscribe-row{
		text-align: center;
		margin-top: 35px;
	}
	
	.col_head h3{
		text-align: center;
		width: 100%;
		margin: auto;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.slide__box h2{
		font-size: 30px;
	}
	
	.business_heading,
	.square_box h2,
	.info_head h2,
	.bg_head{
		font-size: 30px;
	}
	
	.slide__left,
	.slide__box,
	.grid_col,
	.square_col_left,
	.square_col_right,
	.square_box,
	.info_head,
	.info_content{
		padding-left: 0;
		padding-right: 0;
	}
	
	.box_content{
		width: 160px;
		height: 160px;
	}
	
	.box_info{
		width: 140px;
		height: 140px;
	}
	
	.box_title h3{
		font-size: 12px;
	}
	
	.grid_col{
		flex: 100%;
		width: 100%;
	}
	
	.count_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.col_info input[type="email"]{
		display: block;
		max-width: 325px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.col_info input[type="submit"]{
		margin-top: 20px;
		display: block;
		max-width: 325px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.col_head h3{
		font-size: 25px;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 420px){
	.base_content{
		width: 180px;
		height: 180px;
	}
	
	.base_photo{
		width: 160px;
		height: 160px;
	}
	
	.square_title{
		padding-left: 20px;
	}
	
	.portfolio_box,
	.blog_col,
	.client_col{
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 390px){
	.slide__box h2{
		font-size: 25px;
	}
	
	.base_content{
		width: 160px;
		height: 160px;
	}
	
	.base_photo{
		width: 140px;
		height: 140px;
	}
}

@media only screen and (max-width: 320px){
	.slide__box h2{
		font-size: 20px;
	}
	
	.col_head h3{
		font-size: 20px;
	}
}
