/*------------------------------------------------------------------
Main Stylesheet

Project:    HighPoint - Multipurpose Business Template
Version:    1.0
Last change:    07/12/2021
Author:    creativemaze
Primary use:    Telecoms
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Telecoms Area One 
	3.2. Telecoms Area Two
	3.3. Telecoms Area Three
	3.4. Telecoms Area Four
	3.5. Telecoms Area Five
	3.6. Telecoms Area Six
	3.7. Telecoms Area Seven
	3.8. Telecoms Area Eight
	3.9. Telecoms Area Nine
	3.10. Telecoms Area Ten
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.telecoms_heading{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.telecoms_info{
	max-width: 400px;
	margin: 0 auto;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	display: block;
	color: #ec2F4B;
	letter-spacing: 1px;
	text-align: center;
	padding: 0 10px 0;
	line-height: 1.5em;
}

.telecoms_sub_info{
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
}

/* 2. HEADER
 ----------- */
 
/* --- 2.1. Logo & Navigation --- */
nav.navbar.bootsnav .navbar-brand{
    max-width: 200px; 	
}

.navbar-header a.navbar-brand{
	text-decoration: none;
	color: #111111;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 30px;
}

.navbar-header a.navbar-brand:hover{
	color: #111111;
}

nav.navbar .navbar-brand img.logo{
   width: 100%;
   height: auto;
   display: block;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #111111;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #ec2F4B;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #ec2F4B;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #ec2F4B;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #111111;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	background-color: #009fff;
}

.top_info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 600px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 400px;
	margin: auto;
	text-align: right;
	display: block;
}

.left_info .fas,
.left_info .far,
.right_info .fab{
	font-size: 16px;
	color: #ffffff;
}

.left_info .fas,
.left_info .far{
	padding-right: 8px;
}

.right_info > a{
	padding-right: 14px;
}

.left_info .fas:hover,
.right_info .fab:hover{
	opacity: 0.6;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: left;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-left: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #ec2F4B;
	width: 150px;
	min-height: 30px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ec2F4B;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: transparent;
	color: #111111;
	border-color: #111111;
}

.sliderwrap{
	position: relative;
}

.header__content{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	min-height: 650px;
}

.slide__content{
	position: relative;
	z-index: 1;
	height: 100vh;
	min-height: 650px;
	text-align: center;
	color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header-title{
	max-width: 650px;
	display: block;
	margin-left: 10vw;
	text-align: left;
	padding-right: 10px;
}

.header-title__main{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.3em;
	text-align: left;
	display: block;
	color: #111111;
	text-transform: uppercase;
}

.header-title__sub{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	line-height: 1.5em;
	letter-spacing: 1px;
	text-align: left;
	padding: 25px 0;
	max-width: 500px;
}

.slide_word{
	color: #009fff;
	text-transform: uppercase;
}

.buttoncol a{
	background-color: #ec2F4B;
	width: 150px;
	min-height: 35px;
    border: none;
    color: #ffffff;
    padding: 14px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ec2F4B;
	letter-spacing: 1px;
	text-align: center;
}

.buttoncol a:hover{
	color: #111111;
	background: transparent;
	border-color: #111111;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Telecoms Area One --- */
.telecoms_area_one{
	width: 100%;
	margin-bottom: calc(9em - 35px);
	min-height: 50px
}

.heading_group{
	width: calc(100% - 60px);
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 70px;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #009fff;
	margin-top:  -55px;
	position: relative;
	z-index: 9999;
}

.title_group{
	flex: 33.33%;
	width: 33.33%;
	max-width: 400px;
	margin: auto;
	text-align: center;
	padding: 30px 25px;
	cursor: pointer;
	transition: 0.5s;
}

.title_group.active{
	background-color: #ffffff;
}

.title_head{
	text-align: center;
	padding-left: 12px;
}

.title_icon{
	text-align: center;
}

.title_head h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	margin: 0;
}

.title_group.active .title_head h3{
	color: #ec2F4B;
}

.title_icon .fas{
	display: inline-block;
	font-size: 20px;
	color: #ffffff;
	padding-bottom: 7px;
}

.title_group.active .title_icon .fas{
	color: #ec2F4B;
}

.price_group{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding: 70px 20px 0;
}

.price_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 25px;
}

.price_col_box{
	max-width: 350px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
}

.price_content{
	padding-bottom: 25px;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

.center_col{
	border: none;
	background-color: #ec2F4B;
	padding: 30px 10px 40px;
	position: relative;
	bottom: 35px;
	max-width: 350px;
	margin: auto;
}

.price_title{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
}

.price_value{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #ec2F4B;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.2em;
}

.price_content h4{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding-top: 6px;
}

.center_col .price_title,
.center_col .price_value,
.center_col .price_content h4{
	color: #ffffff;
}

.price_list{
	width: 100%;
	background-color: #ffffff;
	margin: auto;
	border-top: solid 1px #e0e0e0;
	padding-top: 1px;
}

.price_list ul{
	padding: 30px 10px;
}

.price_list > ul li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	padding: 14px 12px;
	line-height: 1.5em;
	border-bottom: solid 1px #e0e0e0;
}

.price_list > ul li::after{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	position: absolute;
	right: 0;
	padding-right: 25px;
	color: #ec2F4B;
}

.center_col .price_list{
	background-color: #ec2F4B;
}

.center_col .price_list > ul li{
	color: #ffffff;
}

.center_col .price_list > ul li::after{
	color: #ffffff;
}

.price_btn a{
	background-color: #ffffff;
	width: 150px;
	min-height: 30px;	
    border: none;
    color: #111111;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    margin: auto;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #111111;
	letter-spacing: 1px;
	text-align: center;
}

.price_btn a:hover{
	color: #ffffff;
	background-color: #ec2F4B;
	border-color: #ec2F4B;
}

.price_mid_btn a{
	background-color: #ffffff;
	width: 150px;
	min-height: 30px;	
    border: none;
    color: #ec2F4B;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    margin: auto;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ffffff;
	letter-spacing: 1px;
	text-align: center;
}

.price_mid_btn a:hover{
	color: #ffffff;
	background: transparent;
	border-color: #ffffff;
}

/* --- 3.2. Telecoms Area Two --- */
.telecoms_area_two{
	max-width: 1100px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.telecoms_group_two{
	width: 100%;
	position: relative;
	padding-top: 40px;
}

.info_slide{
	max-width: 1100px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	padding-right: 25px;
}

.telecoms_image{
	position: relative;
}

.telecoms_image img{
	vertical-align: middle;
	max-width: 100%;
}

.telecoms_title{
	position: absolute;
	top: 25px;
	left: 25px;
}

.telecoms_title h5{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
	text-transform: uppercase;
	background-color: #ec2F4B;
	padding: 12px 16px;
	margin: 0;
}

.box_list{
	position: absolute;
	left: 25px;
	bottom: 25px;
	background-color: #ffffff;
	padding: 25px;
	max-width: 300px;
}

.box_list > ul > li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
}

.box_list > ul > li::before{
	content: ".";
	font-weight: 900;
	font-size: 25px;
	padding-right: 6px;
	color: #ec2F4B;
}

.prev_nav,
.next_nav{
	font-size: 14px;
	transition: 0.6s ease;
	background-color: transparent;
	width: auto;
	padding: 10px 16px;
	color: #111111;
	cursor: pointer;
	border: solid 1px #111111;
	display: inline-block;
	margin-top: 45px;
	border-radius: 3px;
}

.prev_nav{
	position: absolute;
	top: 50%;
	left: -35px;
	transform: translateY(-50%);
}

.next_nav{
	position: absolute;
	top: 50%;
	right: -35px;
	transform: translateY(-50%);
}

.next_nav:hover,
.prev_nav:hover{
	background-color: #ec2F4B;
	color: #ffffff;
	border-color: #ec2F4B;
}

/* --- 3.3. Telecoms Area Three --- */
.telecoms_area_three{
	max-width: 1400px;
	margin: 0 auto 12em;
	padding: 0 25px;
}

.telecoms_group_three,
.square_box_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.square_col_left{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 15px;
	position: relative;
}

.square_col_right{
	flex: 66.66%;
	width: 66.66%;
	padding: 0 15px;
}

.square_box_area{
	padding: 12px 6px;
}

.square_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.square_box{
	max-width: 450px;
	margin: 0;
	width: 100%;
	padding: 0 20px;
}

.square_box > p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.square_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
	text-transform: uppercase;
}

.info_col_button a{
	background-color: #ec2F4B;
	width: 160px;
	min-height: 30px;
	margin: 30px 0 0;
    border: none;
    color: #ffffff;
    padding: 13px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ec2F4B;
	letter-spacing: 1px;
	text-align: center;
}

.info_col_button a:hover{
	color: #111111;
	background: transparent;
	border-color: #111111;
}

.flip_col{
	position: relative;
	flex: 33.33%;
	width: 33.33%;
	max-width: 300px;
	height: 300px;
}

.flip-card {
	background-color: transparent;
	max-width: 300px;
	margin: auto;
	height: 300px;
	perspective: 1000px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-left: 5px;
}

.flip-card img{
	max-width: 300px;
	height: auto;
	margin: auto;
	display: block;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
}

.back-color{
	background-color: #ec2F4B;
}

.flip-card-back {
	transform: rotateY(180deg);
}

.flip-card-back{
	position: relative;
}

.thumb_content{
	margin-top: 25px;
}

.thumb_content h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	color: #111111;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin: 0;
	text-transform: uppercase;
}

.inner_crumb{
	width: 50px;
	height: 1px;
	margin: auto;
	border-bottom: solid 2px #ec2F4B;
	padding-top: 12px;
}

.area_button{
	width: 100%;
	padding: 0 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
}

.area_button > a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: right;
	text-transform: uppercase;
	display: block;
	color: #ffffff;
	text-decoration: none;
	width: 120px;
	margin: auto;
	transition: 0.5s;
    cursor: pointer;
}

.area_button > a::after{
	content: "\203A";
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: auto;
	padding-left: 5px;
	top: 1px;
	position: relative;
}

.area_button > a:hover{
	color: #111111;
}

/* --- 3.4. Telecoms Area Four --- */
.telecoms_area_four{
	position: relative;
	min-height: 400px;
	height: 100%;
	background-color: #009fff;
	margin: 0 0 9em;
}

/* --- 3.5. Telecoms Area Five --- */
.telecoms_area_five{
	max-width: 1400px;
	margin: 0 auto 9em;
	margin-top:  -375px;
	position: relative;
	z-index: 9999;
}

.telecoms_group_five{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
}

.bg_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.bg_info{
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 10px 0;
	line-height: 1.5em;
}

.icon_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
}

.icon_box{
	max-width: 350px;
	margin: 0 auto;
	padding: 35px 30px; 
	text-align: left;
	background: #ffffff;
	min-height: 50px;
	height: 100%
}

.icon{
	float: left;
	width: 15%;
}

.icon_content{
	float: left;
	width: 85%;
	padding-left: 10px;
	padding-bottom: 25px;
}

.icon .fas,
.icon .far{
	font-size: 30px;
	color: #ec2F4B;
	text-align: left;
	display: block;
}

.icon_crumb{
	max-width: 350px;
	height: 1px;
	display: block;
	border-bottom: solid 4px #ec2F4B;
	margin: 0 auto 0;
	transition: 0.5s;
	visibility: hidden;
	opacity: 0;
}

.icon_content h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: left;
	margin-top: 0;
	line-height: 1.4em;
}

.icon_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
	padding-top: 10px;
}

.icon_col:hover .icon_crumb{
	visibility: visible;
	opacity: 1;
}

/* --- 3.6. Telecoms Area Six --- */
.telecoms_area_six{
	max-width: 1400px;
	margin: 0 auto 0;
	padding: 0 25px;
	margin-bottom: 9em;
}

.telecoms_group_six{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.question_col{
	flex: 66.66%;
	width: 66.66%;
}

.info_col{
	flex: 33.33%;
	width: 33.33%;
}

.question_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.panel_col{
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.info_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.info_box{
	max-width: 450px;
	margin: 0;
	width: 100%;
	padding: 0 20px;
}

.info_box h2{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
	text-transform: uppercase;
}

.info_box > p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top: 15px;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.5em;
}

.accordion {
	background-color: #eee;
	cursor: pointer;
	padding: 20px;
	width: 100%;
	border: none;
	text-align: left;
	overflow: hidden;
	transition: 0.4s;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	line-height: 1.5em;
}

.active-bar, .accordion:hover {
	background-color: #ccc;
}

.accordion:after {
	font-family: 'Font Awesome 5 Free';
	content: '\f107';
	font-size: 16px;
	color: #111111;
	font-weight: 600;
	float: right;
	margin-left: 5px;
}

.active-bar:after {
	font-family: 'Font Awesome 5 Free';
	content: "\f106";
}

.panel{
	padding: 0;
	background-color: #ffffff;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.panel > p{
	padding: 12px 6px 0;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	line-height: 1.6em;
	color: #696969;
}

/* --- 3.7. Telecoms Area Seven --- */
.telecoms_area_seven{
	max-width: 1280px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.telecoms_group_seven{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	padding-top: 40px;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 0 25px;
}

.blog_box{
	max-width: 400px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.blog_area{
	overflow: hidden;
	position: relative;
	background-color: #ffffff;
}

.blog_content{
	text-align: center;
	padding: 25px 10px 10px;
}

.blog_date{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: block;
	font-weight: 600;
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 0;
	width: 250px;
	margin: auto;
}

.blog_col img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
}

.blog_btn{
	max-width: 250px;
	margin: 0 auto;
}

a.blog_btn{
	width: 190px;	
    border: none;
    color: #ec2F4B;
	margin: 0 auto;
	padding-top: 10px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.2em;
}

.blog_title a:hover{
	opacity: 0.6;
}

a.blog_btn:hover{
	color: #111111;
}

.blog_crumb{
	width: 50px;
	height: 1px;
	display: block;
	border-bottom: solid 2px #ec2F4B;
	margin: 10px auto 0;
	transition: 0.5s;
}

a.blog_btn:hover .blog_crumb{
	border-color: #111111;
}

/* --- 3.8. Telecoms Area Eight --- */
.telecoms_area_eight{
	position: relative;
	min-height: 400px;
	height: 100%;
	background-color: #009fff;
	margin: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5em 0;
}

.telecoms_group_eight{
	position: relative;
	z-index: 9;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 0 25px;
}

.quoteblock .fas{
	font-size: 45px;
	color: #ffffff;
	text-align: center;
	padding-bottom: 30px;
}

.client_box img{
	max-width: 90px;
	height: 90px;
	margin: auto;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin-bottom: 14px;
}

.client_box > p{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	max-width: 600px;
	margin: auto;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	padding: 0 10px;
}

.client_box > h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #111111;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	display: block;
	padding-bottom: 10px;
}

.client_box > h3::before{
	content: '\2014';
	padding: 0 0.5em;
}

.ratings_icon{
	text-align: center;
	width: 100%;
}

.ratings_icon .fas{
	font-size: 13px;
	color: #ffffff;
}

/* --- 3.9. Telecoms Area Nine --- */
.telecoms_area_nine{
	width: 100%;
	min-height: 100px;
	margin-bottom: 9em;
}

.telecoms_group_nine{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	border-bottom: solid 1px #e0e0e0;
}

.count_col{
	flex: 25%;
	width: 25%;
	padding: 0 25px;
	border-right: solid 1px #e0e0e0;
}

.count_box{
	max-width: 300px;
	margin: auto;
	padding: 0 25px;
}

.count_box h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	text-align: center;
	color: #111111;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.count_box .counter{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 30px;
	font-weight: 700;
	display: block;
	text-align: center;
	color: #ec2F4B;
	letter-spacing: 1px;
}

/* --- 3.10. Telecoms Area Ten --- */
.telecoms_area_ten{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	height: 100%;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 2em;
	padding: 5em 0;
}

.telecoms_group_ten{
	position: relative;
	z-index: 5;
	max-width: 900px;
	margin: auto;
	padding: 0 25px;
	width: 100%;
}

.dark_head{
	color: #111111;
}

.bg_col_button a{
	background-color: #ec2F4B;
	width: 170px;
	min-height: 30px;
	margin: 30px auto 0;	
    border: none;
    color: #ffffff;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
    font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #ec2F4B;
	letter-spacing: 1px;
	text-align: center;
}

.bg_col_button a:hover{
	color: #111111;
	background: transparent;
	border-color: #111111;
}

.fourth_border{
	border-right: none !important;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
}

.footer_area{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 3.5em;
}

a.footer-brand img{
	max-width: 200px;
	height: auto;
	display: block;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #111111;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 16px;
	color: #111111;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.final{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #111111;
	line-height: 1.4em;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	color: #111111;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.form-row{
	text-align: right;
}

.col_info input[type="email"]{
	display: block;
	width: 100%;
	padding: 12px 10px 14px;
	background-color: #f6f6f6;
	border: none;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #333333;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.col_info{
	padding-top: 10px;
}

.col_info input[type="submit"]{
	display: inline-block;
	padding: 10px 14px;
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin-top: 20px;
	text-transform: uppercase;
	width: 100%;
	margin-left: 0;
	color: #ffffff;
	border-radius: 0;
	letter-spacing: 1px;
	background-color: #ec2F4B;
	border: solid 1px #ffffff;
	transition: 0.5s;
}

.col_info input[type="submit"]:hover{
	background-color: #111111;
	color: #ffffff;
}

.col_info input[type="email"]:focus{
	outline: none;
	box-shadow: 0 0 0 2px #e0e0e0;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #e0e0e0;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
	
	.prev_nav{
		left: 0;
	}
	
	.next_nav{
		right: 0;
	}
	
	.square_col_left{
		flex: 100%;
		width: 100%;
		margin-bottom: 40px;
	}
	
	.square_col_right{
		flex: 100%;
		width: 100%;
	}
	
	.icon_col{
		flex: 50%;
		width: 50%;
		max-width: 350px;
		margin: 0 auto 15px;
	}
	
	.question_col{
		flex: 100%;
		width: 100%;
	}
	
	.info_col{
		flex: 100%;
		width: 100%;
		margin-bottom: 40px;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
		margin-bottom: 40px;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #111111;
		font-size: 25px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header a.navbar-brand{
		padding-top: 22px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.header-title{
		margin-left: 5vw;
	}
	
	.title_group{
		flex: 100%;
		width: 100%;
	}
	
	.heading_group{
		max-width: 400px;
	}
	
	.price_col{
		flex: 100%;
		width: 100%;
		margin-bottom: 40px;
	}
	
	.center_col{
		bottom: 0;
	}
	
	.square_box_area{
		max-width: 300px;
	}
	
	.flip_col{
		flex: 100%;
		width: 100%;
		max-width: 300px;
	}
	
	.first_flip,
	.second_flip{
		margin-bottom: 90px;
	}
	
	.panel_col{
		flex: 100%;
		width: 100%;
		max-width: 700px;
	}
	
	.count_col{
		flex: 50%;
		width: 50%;
		margin: 20px 0;
	}
	
	.second_border{
		border-right: none;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.header-title__main{
		font-size: 30px;
	}
	
	.telecoms_heading,
	.square_box h2,
	.bg_head,
	.info_box h2{
		font-size: 30px;
	}
	
	.info_slide{
		padding-right: 0;
	}
	
	.icon_col{
		flex: 100%;
		width: 100%;
	}

	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.count_col{
		flex: 100%;
		width: 100%;
	}
	
	.first_border,
	.third_border{
		border-right: none;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}	

@media only screen and (max-width: 420px){
	.header-title{
		margin-left: 15px;
	}
	
	.header-title__main{
		font-size: 25px;
	}
	
	.price_col,
	.square_col_left,
	.square_col_right,
	.square_box,
	.info_box,
	.panel_col,
	.blog_col{
		padding-left: 0;
		padding-right: 0;
	}
	
	.box_list{
		bottom: 10px;
		left: 15px;
		max-width: 220px;
		padding: 15px;
		visibility: hidden;
		opacity: 0;
	}
	
	.info_slide:hover > .telecoms_box > .telecoms_image > .box_list{
		visibility: visible;
		opacity: 1;
	}
	
	.box_list > ul > li{
		font-size: 12px;
	}
	
	.telecoms_title{
		top: 10px;
		left: 15px;
		visibility: hidden;
		opacity: 0;
	}
	
	.info_slide:hover > .telecoms_box > .telecoms_image > .telecoms_title{
		visibility: visible;
		opacity: 1;
	}
	
	.prev_nav,
	.next_nav{
		margin-top: 80px;
	}
}

@media only screen and (max-width: 360px){
	.header-title__main{
		font-size: 20px;
		line-height: 1.4em;
	}

	.heading_group{
		max-width: 300px;
	}
	
	.prev_nav,
	.next_nav{
		margin-top: 100px;
	}
}

@media only screen and (max-width: 320px){
	.box_list{
		padding: 7px;
	}
	
	.prev_nav,
	.next_nav{
		margin-top: 125px;
	}
	
	.telecoms_title h5{
		font-size: 11px;
		padding: 9px 14px
	}
}
