/*------------------------------------------------------------------
Main Stylesheet

Project:    HighPoint - Multipurpose Business Template
Version:    1.0
Last change:    09/12/2021
Author:    creativemaze
Primary use:    Travel
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. General
2. Header
	2.1. Logo & Navigation
	2.2. Header Content
3. Main Content
	3.1. Travel Area One 
	3.2. Travel Area Two
	3.3. Travel Area Three
	3.4. Travel Area Four
	3.5. Travel Area Five
	3.6. Travel Area Six
	3.7. Travel Area Seven
	3.8. Travel Area Eight
	 
4. Footer
5. Responsive
-------------------------------------------------------------------*/

/* 1. GENERAL
 ----------- */ 
body,
html{
	width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.page_area{
	width: 100%;
}

#loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

#loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #333333;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.travel_heading{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #111111;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.travel_info{
	max-width: 500px;
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: left;
	padding: 10px 0 0;
	line-height: 1.5em;
}

.top_group{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0 25px;
}

.top_content{
	flex: auto;
	width: auto;
}

.box_col_button{
	margin-top: 50px;
}

.box_col_button a{
	flex: auto;
	width: auto;
	text-align: right;
	background-color: transparent;
	width: 165px;
	min-height: 30px;
	margin: 35px 0 0;
    color: #111111;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #111111;
	letter-spacing: 1px;
	text-align: center;
}

.box_col_button a:hover{
	color: #ffffff;
	background-color: #00cdac;
	border-color: #00cdac;
}

.bg_col{
	position: relative;
	z-index: 999999;
	overflow: auto;
}

/* 2. HEADER
 ----------- */
/* --- 2.1. Logo & Navigation --- */
nav.navbar.bootsnav .navbar-brand{
    max-width: 200px; 	
}

.navbar-header a.navbar-brand{
	text-decoration: none;
	color: #ffffff;
	transition: 0.5s;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 30px;
}

.navbar-header a.navbar-brand:hover{
	color: #ffffff;
}

nav.navbar .navbar-brand img.logo{
   width: 100%;
   height: auto;
   display: block;
}

nav.navbar.bootsnav{
	background-color: transparent;
	border-bottom: none ;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav{
	margin-right: 160px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	border: 0;
	background: #ffffff;
	z-index: 9999;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: #ffffff;
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
	letter-spacing: 1px;
	border-top: none;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
    text-align: left;
	color: #111111;
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 1px;
	border-bottom: none;
	transition: 0.5s;
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	color: #00cdac;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	left: 0;
}

 nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
	font-size: 12px;	
}

nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
    font-family: 'Font Awesome 5 Free';
    float: right;
    content: "\f105";
    margin-top: 0;
}

nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
    left: 200px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
    top: 2px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
	font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
	letter-spacing: 1px;
}

nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	color: #00cdac;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    font-size: 14px;
    font-weight: 600;
	font-family: 'Montserrat' , Arial, sans-serif;
    color: #00cdac;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px !important;
}

.attr-nav > ul > li > a{
    color: #ffffff;
	padding-top: 30px;
	margin-left: -12px;
	position: relative;
	left: -160px;
}

.top-search ::placeholder{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* --- 2.2. Header Content --- */
.top_box{
	height: 50px;
	overflow-y: auto;
	border-bottom: solid 1px #6f6f6f;
}

.top_info{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	max-width: 1400px;
	margin: auto
}

.left_info,
.right_info{
	position: relative;
	flex: 50%;
	width: 50%;
	padding-top: 15px;
}

.left_info{
	max-width: 400px;
	margin: auto;
	text-align: left;
	display: block;
}

.right_info{
	max-width: 600px;
	margin: auto;
	text-align: right;
	display: block;
}

.right_info .fas,
.right_info .far,
.left_info .fab{
	font-size: 16px;
	color: #ffffff;
}

.right_info .fas,
.right_info .far{
	padding-right: 8px;
}

.left_info > a{
	padding-right: 14px;
}

.left_info .fab:hover,
.right_info .fas:hover{
	opacity: 0.6;
}

.right_info a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: lowercase;
	display: inline-block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: right;
	text-decoration: none;
}

.right_info a:hover{
	opacity: 0.6;
}

.right_info .fa-m{
	position: relative;
	top: 2px;
}

.sub_width{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.left_sub{
	flex: 50%;
	width: 50%;
	text-align: right;
}

.right_sub{
	flex: 50%;
	width: 50%;
	text-align: center;
	padding-right: 25px;
}

.top_sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: right;
	margin-bottom: 0;
}

.head_btn{
	max-width: 300px;
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 0;
}

.head_btn a{
	background-color: #00cdac;
	width: 150px;
	margin: 0 auto;
	min-height: 30px;
    border: none;
    color: #ffffff;
    padding: 12px 14px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #00cdac;
	letter-spacing: 1px;
	text-align: center;
}

.head_btn a:hover{
	background-color: #ffffff;
	color: #111111;
	border-color: #ffffff;
}

.sliderwrap{
	position: relative;
	top: -140px;
}

.header__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 800px;
}

.slide__content{
	height: 100vh;
	min-height: 800px;
	text-align: center;
	color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header-title {
	max-width: 1100px;
	display: block;
	padding: 0 25px;
}

.header-title__main{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 70px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #ffffff;
	padding: 0 12px;
	line-height: 1.2em;
}

.header-title__sub{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	padding: 20px 12px;
	max-width: 550px;
	margin: auto;
	line-height: 1.4em;
}

.search-row{
	margin-top: 35px;
	text-align: center;
	max-width: 800px;
	position: relative;
}

.search-row input[type="text"]{
	width: 550px;
	padding: 12px 20px 14px;
	border: 0;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	display: inline-block;
	font-weight: 600;
	color: #333333;
	text-transform: capitalize;
	letter-spacing: 1px;
	border-radius: 2px;
}

.search-row .fas{
	position: relative;
	z-index: 999;
	margin-top: 17px;
	float: right;
	color: #333333;
	font-size: 15px;
	text-indent: -45px;
	cursor: pointer;
	transition: 0.5s;
}

.search-row .fas:hover{
	opacity: 0.6;
}

/* 3. MAIN CONTENT
 ----------- */
 
/* --- 3.1. Travel Area One --- */ 
.travel_area_one{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	height: 100%;
	margin-top: -142px;
	margin-bottom: 9em;
	padding: 6em 30px;
	background-color: #eeeeee;
}

.travel_group_one{
	max-width: 1400px;
	margin: auto;
	width: 100%;
	position: relative;
} 
 
.bg_area{
	width: 100%;
}

.bg_col{
	padding: 25px 20px;
}

.bg_box{
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
	margin-bottom: 30px;
}

.bg_image img{
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: block;
}

.bg_image{
	overflow: hidden;
	position: relative;
}

.bg_group{
	overflow: hidden;
	position: relative;
	padding-bottom: 0;
	padding-right: 12px;
	padding-top: 12px;
	padding-left: 12px;
	background-color: #ffffff;
}

.bg_name{
	width: 250px;
	max-width: 260px;
	background: #ffffff;
	margin: auto;
	text-align: center;
	position: relative;
	bottom: 30px;
	min-height: 35px;
	padding: 15px 35px;
	display: inline-block;
}

.bg_name h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	display: inline-block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
	margin: 0;
	text-transform: uppercase;
}

.bg_content{
	position: relative;
	max-width: 400px;
	width: 100%;
	margin: auto;
	bottom: 20px;
	padding: 0 10px;
	text-align: center;
}

.bg_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
}

.slidenav{
	flex: auto;
	width: auto;
	text-align: right;
	margin-top: 80px;
}

.prev_slide,
.next_slide{
	font-size: 14px;
	transition: 0.6s ease;
	background-color: transparent;
	width: auto;
	display: inline-block;
	overflow: hidden;
	padding: 10px 16px;
	color: #111111;
	cursor: pointer;
	border: solid 1px #111111;
}

.prev_slide{
	margin-right: 15px;
}

.next_slide:hover,
.prev_slide:hover{
	background-color: #111111;
	color: #ffffff;
	border-color: #111111;
}

/* --- 3.2. Travel Area Two --- */
.travel_area_two{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.travel_group_two{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	padding-top: 40px;
}

.travel_col{
	flex: 25%;
	width: 25%;
	padding: 0 25px;
}

.travel_box{
	max-width: 300px;
	margin: auto;
	padding: 25px 30px 0;
	background-color: #ffffff; 
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	transition: 0.5s;
}

.travel_box:hover{
	background-color: #00cdac;
}

.day_col{
	width: 90px;
	margin: auto;
	text-align: center;
	padding: 10px;
	background-color: #00cdac;
	border: solid 1px #00cdac;
	border-radius: 4px;
	margin-bottom: 15px;
}

.travel_box:hover .day_col{
	background-color: #ffffff;
	border-color: #ffffff;
}

.day_col h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	display: inline-block;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.4em;
	margin: 0;
}

.travel_box:hover .day_col h3{
	color: #00cdac; 
}

.info_col{
	position: relative;
	width: 100%;
	text-align: center;
	display: block;
	min-height: 30px;
	padding: 10px 0;
	overflow: auto;
}

.info_icon{
	float: left;
	width: 15%;
}

.info_content{
	float: right;
	width: 85%;
	padding-left: 20px;
}

.info_icon .fas,
.info_icon .far{
	display: block;
	font-size: 22px;
	color: #00cdac;
}

.travel_box:hover .info_icon .fas,
.travel_box:hover .info_icon .far{
	color: #ffffff;
}

.info_content h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	margin: 0;
	line-height: 1.4em;
}

.info_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
}

.travel_box:hover .info_content h3,
.travel_box:hover .info_content p{
	color: #ffffff;
}

/* --- 3.3. Travel Area Three --- */
.travel_area_three{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 450px;
	height: 100%;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 9em;
	padding: 5em 0;
}

.travel_area_three::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.travel_group_three{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 25px;
	position: relative;
	z-index: 999;
}

.travel_group_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.area_col{
	position: relative;
	flex: 50%;
	width: 50%;
	padding: 0 25px;
}

.list_area{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.list_col{
	flex: 50%;
	width: 50%;
	max-width: 350px;
}

.travel_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.area_box{
	max-width: 550px;
	margin: 0;
}

.area_box h2{
	color: #ffffff;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.area_box p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	color: #f2f2f2;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px 0;
	line-height: 1.5em;
}

.video-play-button {
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-sizing: content-box;
	display: block;
	width: 28px;
	height: 42px;
	border-radius: 50%;
	padding: 28px 16px 12px 32px;
}

.video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ffffff;
	border-radius: 50%;
	transition: all 200ms;
}

.video-play-button span {
	display: block;
	position: relative;
	z-index: 3;
	width: 0;
	height: 0;
	border-left: 18px solid #00cdac;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.travel_list > ul{
	margin-bottom: 22px;
}

.travel_list > ul > li{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: left;
	padding: 8px 0;
}

.travel_list > ul > li::before{
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	font-weight: 900;
	font-size: 15px;
	padding-right: 12px;
	color: #00cdac;
}

.travel_col_button a{
	background-color: #00cdac;
	width: 150px;
	min-height: 30px;
	margin: 10px 0 20px;
    color: #ffffff;
    padding: 13px 15px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	border: 1px solid #00cdac;
	letter-spacing: 1px;
	text-align: center;
}

.travel_col_button a:hover{
	color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
}

/* --- 3.4. Travel Area Four --- */
.travel_area_four{
	max-width: 1400px;
	margin: 0 auto 9em;
	padding: 0 25px;
}

.travel_group_four{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	padding: 15px 10px 0;
}

.left_tour_col{
	flex: 50%;
	width: 50%;
}

.mid_tour_col{
	flex: 25%;
	width: 25%;
}

.right_tour_col{
	flex: 25%;
	width: 25%;
}

.tour_image{
	position: relative;
	max-width: 700px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin: auto;
	padding: 15px;
}

.tour_box{
	position: relative;
	overflow: hidden;
}

.tour_image img{
	width: 100%;
	height: auto;
	display: block;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	background: rgba(0,0,0,0.6);
}

.featured_title{
	position: absolute;
	bottom: 15px;
	left: 15px;
}

.tour_title{
	position: absolute;
	top: 20px;
	left: 15px;
}

.tour_title a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.5em;
	text-transform: uppercase;
	background-color: #00cdac;
	padding: 10px 15px;
	text-decoration: none;
	transition: 0.5s;
}

.tour_title a:hover{
	background-color: #ffffff;
	color: #111111;
}

.featured_title h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: left;
	line-height: 1.4em;
	margin: 0;
}

/* --- 3.5. Travel Area Five --- */
.travel_area_five{
	width: 100%;
	margin: 0 0 9em;
	min-height: 400px;
	padding: 6em 25px;
	background-color: #eeeeee;
}

.travel_group_five{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 40px;
}

.blog_group{
	padding: 0 40px;
}

.blog_col{
	flex: 33.33%;
	width: 33.33%;
	padding: 40px 25px 0;
}

.blog_box{
	max-width: 400px;
	position: relative;
	text-align: left;
	overflow: hidden;
	margin: auto;
	min-height: 150px;
}

.blog_image{
	overflow: hidden;
	position: relative;
}

.blog_area{
	overflow: hidden;
	position: relative;
	padding-bottom: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-left: 12px;
	background-color: #ffffff;
}

.blog_content{
	text-align: center;
	padding: 25px 0;
}

.blog_date{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	display: block;
	font-weight: 600;
	color: #696969;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 0;
	width: 250px;
	margin: auto;
}

.blog_col img{
	width: 100%;
	height: auto;
	display: block;
}

.blog_image > a > img{
	transition: ease-in-out 3.25s;
}

.blog_image > a > img:hover{
	transform: scale(1.15);
}

.blog_title a{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 20px;
	display: block;
	font-weight: 600;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	transition: 0.5s;
	line-height: 1.4em;
}

.blog_content p{
	font-family: 'Roboto' , Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: block;
	color: #696969;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 0;
	line-height: 1.5em;
}

.blog_btn{
	max-width: 250px;
	margin: 0 auto;
}

a.blog_btn{
	width: 190px;	
    border: none;
    color: #111111;
	margin: 0 auto;
	padding-top: 10px;
    text-decoration: none;
	text-transform: uppercase;
    display: block;
    font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.2em;
}

a.blog_btn:hover,
.blog_title a:hover{
	color: #00cdac;
}

.blog_crumb{
	width: 50px;
	height: 1px;
	display: block;
	border-bottom: solid 2px #111111;
	margin: 10px auto 0;
	transition: 0.5s;
}

a.blog_btn:hover .blog_crumb{
	border-color: #00cdac;
}

/* --- 3.6. Travel Area Six --- */
.travel_area_six{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	height: 100%;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 9em;
	padding: 5em 0;
}

.travel_area_six::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24, 25, 34, 0.6);
}

.travel_group_six{
	position: relative;
	z-index: 9;
	width: 100%;
	max-width: 1400px;
	margin: auto;
	padding: 0 25px;
}

.quoteblock .fas{
	font-size: 45px;
	color: #00cdac;
	text-align: center;
	padding-bottom: 30px;
}

.client_box img{
	max-width: 90px;
	height: 90px;
	margin: auto;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin-bottom: 14px;
}

.client_box > p{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	max-width: 700px;
	margin: auto;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	padding: 0 10px;
	line-height: 1.5em;
}

.client_box > h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	display: block;
	padding-bottom: 10px;
}

.client_box > h3::before{
	content: '\2014';
	padding: 0 0.5em;
}

.ratings_icon{
	text-align: center;
	width: 100%;
}

.ratings_icon .fas{
	font-size: 13px;
	color: #00cdac;
}

/* --- 3.7. Travel Area Seven --- */
.travel_area_seven{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 25px;
	min-height: 275px;
	height: 100%;
	background-color: #00cdac;
	width: calc(100% - 50px);
}

/* --- 3.8. Travel Area Eight --- */
.travel_area_eight{
	max-width: 1200px;
	margin: 0 auto 2em;
	padding: 0 30px;
	margin-top:  -200px;
	width: calc(100% - 60px);
}

.travel_group_eight{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #ffffff;
	padding: 40px 25px 0;
	margin-top: 30px;
}

.bg_head{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
}

.col_info{
	flex: 100%;
	width: 100%;
}
	
.col_head{
	flex: 100%;
	width: 100%;
}

.subscribe-row{
	text-align: center;
	margin-top: 35px;
}

.col_head h3{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 30px;
	display: block;
	font-weight: 500;
	color: #111111;
	letter-spacing: 1px;
	text-align: center;
	line-height: 1.3em;
	max-width: 600px;
	margin: auto;
}

.col_info input[type="email"]{
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 13px;
	color: #333333;
	display: inline-block;
	font-weight: 600;
	letter-spacing: 1px;
	height: 40px;
	vertical-align: middle;
	padding: 20px;
	width: 350px;
	background-color: #f6f6f6;
	border: none;
	margin-right: -4px;
}

.col_info input[type="submit"]{
	text-align: center;
	font-family: 'Montserrat' , Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	padding: 0;
	height: 40px;
	width: 130px;
	color: #ffffff;
	margin: 0;
	border-radius: 0;
	transition: 0.5s;
	background-color: #00cdac;
	border: solid 1px #00cdac;
}

.col_info input[type="submit"]:hover{
	background-color: #111111;
	color: #ffffff;
	border-color: #111111;
}

/* 4. FOOTER
 ----------- */
.footer{
	width: 100%;
	min-height: 350px;
	position: relative;
	clear: both;
	height: 100%;
}

.footer_area{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	flex-wrap: wrap;
}

.footer_col{
	flex: 25%;
	width: 25%;
	padding: 0 20px;
	max-width: 300px;
	margin: 0 auto;
}

.footer_col{
	padding-top: 3.5em;
}

a.footer-brand img{
	max-width: 200px;
	height: auto;
	display: block;
}

.footer_box > h3 > a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #111111;
	text-align: left;
}

.footer_box > p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: left;
	padding: 20px 0;
	line-height: 1.5em;
}

.footer_social{
	margin: 12px 0;
}

.footer_social .fab,
.footer_social .fa{
	font-size: 16px;
	color: #111111;
	text-align: left;
}

.footer_social > a{
	padding-right: 12px;
}

.footer_social > a:hover{
	opacity: 0.6;
}

.final{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer_col > h4{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #111111;
}

.footer_col > ul > li{
	padding: 4px 0;
}

.footer_col > ul > li a{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	text-decoration: none;
	color: #111111;
	text-align: justify;
	transition: 0.5s;
}

.footer_col > ul > li a:hover{
	opacity: 0.6;
}

.footer_inner{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 15px;
}

.footer_grid{
	flex: 33.33%;
	width: 33.33%;
	padding-right: 10px;
	padding-bottom: 10px;
}

.footer_grid img{
	vertical-align: middle;
	width: 100%;
	transition: .5s;
}

.footer_grid a > img:hover{
	opacity: 0.6;
}

.details{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 10px;
	margin-top: 35px;
	border-top: solid 1px #e0e0e0;
}

.details p{
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #111111;
	text-align: center;
}

/* 5. RESPONSIVE
 ----------- */
@media only screen and (max-width: 1024px){
	.header__content{
		height: auto;
	}
	
	.slide__content{
		height: auto;
	}
	
	.travel_col{
		flex: 50%;
		width: 50%;
		margin-bottom: 40px;
	}
	
	.blog_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 992px){
	nav.navbar.bootsnav .navbar-toggle{
        background: transparent;
        color: #ffffff;
		font-size: 25px;
	}
	
	.head_btn{	
		margin-top: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar-header a.navbar-brand{
		padding-top: 22px;
	}
	
	nav.navbar.bootsnav ul.nav > li > a{
		color: #111111;
	}
	
	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
	
	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
		display: none;	
	}
	
	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: 'Font Awesome 5 Free';
        content: "\f105";
    }
	
	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
		left: 0;
	}
	
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown.on > a.dropdown-toggle:before{
		 content: "\f107";
	}
	
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
		border-left: none;
		border-right: none;
	}
	
	.left_info,
	.right_info,
	.left_sub,
	.right_sub{
		flex: 100%;
		width: 100%;
		text-align: center;
	}
	
	.right_sub{
		padding-left: 0;
		padding-top: 12px;
	}
	
	.top_sub,
	.left_info a{
		text-align: center;
	}
	
	.top_sub{
		padding-bottom: 4px;
	}
	
	.attr-nav > ul > li > a{
		position: relative;
		left: 0;
		padding-top: 25px;
	}
	
	.header-title__main{
		font-size: 60px;
	}
	
	.area_col{
		flex: 100%;
		width: 100%;
		padding: 0;
	}
	
	.travel_col_button a{
		margin-bottom: 90px;
	}
	
	.left_tour_col{
		flex: 100%;
		width: 100%;
	}
	
	.mid_tour_col{
		flex: 50%;
		width: 50%;
	}

	.right_tour_col{
		flex: 50%;
		width: 50%;
	}
	
	.travel_area_three{
		padding-bottom: 7em;
	}
	
	.footer_col{
		flex: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 600px){
	.header-title__main{
		font-size: 45px;
	}
	
	.search-row input[type="text"]{
		display: block;
		width: 100%;
	}
	
	.area_box h2,
	.travel_heading,
	.bg_head{
		font-size: 30px;
	}
	
	.top_content,
	.slidenav,
	.box_col_button{
		flex: 100%;
		width: 100%;
		margin-top: 0;
	}
	
	.slidenav{
		margin-top: 15px;
	}
	
	.top_group{
		padding: 0;
	}
	
	.travel_col{
		flex: 100%;
		width: 100%;
		padding: 0;
	}
	
	.list_col{
		flex: 100%;
		width: 100%;
	}
	
	.mid_tour_col{
		flex: 100%;
		width: 100%;
	}

	.right_tour_col{
		flex: 100%;
		width: 100%;
	}
	
	.blog_col{
		flex: 100%;
		width: 100%;
	}
	
	.col_info input[type="email"]{
		display: block;
		max-width: 325px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.col_info input[type="submit"]{
		margin-top: 20px;
		display: block;
		position: relative;
		max-width: 325px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.col_head h3{
		font-size: 25px;
	}
	
	.footer_col{
		flex: 100%;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 420px){
	.bg_col,
	.tour_image,
	.blog_col{
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 320px){
	.header-title__main{
		font-size: 40px;
	}
	
	.bg_name{
		width: 215px;
	}
	
	.col_head h3{
		font-size: 20px;
	}
} 